# Python Basic Data Structures 2
## Topics: String, List, Dictionary, Conditional Statements, Loops, Functions
<a href="https://colab.research.google.com/github/stephenbaek/bigdata/blob/master/in-class-assignments/ica02/How_to_Read_and_Represent_Data.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>

## Strings

String literals can be enclosed in matching single quotes (') or double quotes ("); either is fine. Let's see an example:

In [75]:
s = "How are you?"
print(s)

# Get the data type of s
print(type(s))

How are you?
<class 'str'>

The <b>len</b> function is a built-in function of Python, which is widely used for getting the length of a list of any type.

In [76]:
len(s)

12

The <b>in</b> operator returns True if one string is a substring of another.

In [77]:
s1 = "hello"
s2 = "hell"
s3 = "world"
print(s2 in s1)
print(s3 in s1)

True
False

#### String Method

In [78]:
s = "This is text"
s

'This is text'

In [79]:
# change s is all uppercase, sumbols and numbers are ignored
print(s.upper())

# change s to all lowercse
print(s.lower())

# count number of occurence of an alement in the string
print(s.count("is "))

THIS IS TEXT
this is text
2

Note that all strings and string methods in Python are case sensitve

In [80]:
s = " \tThis is a text.\n"     # \t: tab, \n: new line
print(s)

# remove any leading or trailling space
s = s.strip()
print(s)

# replace a specificed values with another specified value
s = s.replace(" ", "-")
print(s)

 	This is a text.

This is a text.
This-is-a-text.

## Exercises - Strings

In [81]:
s = "I'm learning Python data analytics."

Get the type of `s`.

In [82]:
# Your answer here

Get the first character in `s`.

In [83]:
# Your answer here

Get the last character in `s`.

In [84]:
# Your answer here

Get the first 3 characters in `s`.

In [85]:
# Your answer here

Get the last 10 characters in `s`.

In [86]:
# Your answer here

Check if the substring <i>Python</i> is in `s`.

In [87]:
# Your answer here

Get only the <i>Python</i> part in `s`. (Use slicing.)

In [88]:
# Your answer here

Get the lower-case version of `s`.

In [89]:
# Your answer here

Count the number of <i>yt</i>'s in `s`.

In [90]:
# Your answer here

Remove all whitespaces in `s`. (Use <b>replace</b>.)

In [91]:
# Your answer here

Remove the trailing period in `s` and then split it into a list of word tokens. (Use dot notation.)

In [92]:
# Your answer here

In [ ]:
# List
spring_classes = ['CSC151', 'STA310', 'STA395', 'CSC151', 'MAT215']

# Tuple 
inventory_price = ('Textbook', 100)

# Dictionary 
my_college = {'college': 'Grinnell College', 'state': 'Iowa', 'ranking': 12}

# Set
student_mentors = {'Linh', 'Britney', 'Martin', 'Chris', 'Sergio'}

## Lists

A list is a collection that is ordered, mutable, indexed, and written with square brackets. It allows duplicate members.

In [93]:
l = []
print(l, type(l))

[] <class 'list'>

List elements do not have to be of the same type.

In [94]:
l = [1, 2, 3, "a", "b", "c"]
l

[1, 2, 3, 'a', 'b', 'c']

The length of a list is the number of items in the list.

In [95]:
len(l)

6

The <b>in</b> operator is exactly the same as in String

In [96]:
3 in l

True

In [97]:
"z" in l

False

### List Methods

The easiest way to combine two lists is to use the + operator, just as combining two strings.

In [98]:
l1 = [1, 2, 3]
l2 = ["a", "b", "c"]
l1 + l2

[1, 2, 3, 'a', 'b', 'c']

The <b>append</b> method appends an element to the end of the list. Note that the <b>append</b> method actually appends a new element to the target list, not returning a copy.

In [99]:
l = [1, 2, 3]
l.append(4)
l

[1, 2, 3, 4]

The <b>sort</b> method sorts the list in ascending order by default. Note that the <b>sort</b> method actually sorts the target list, not returning a copy.

In [100]:
l = [1, 6, 3, 4, 2, 5]
l.sort()
l

[1, 2, 3, 4, 5, 6]

Setting the `reverse` parameter to True will sort the list in descending order.

In [101]:
l = [1, 6, 3, 4, 2, 5]
l.sort(reverse=True)
l

[6, 5, 4, 3, 2, 1]

Python also has a built-in function <b>sorted</b>, which works the same as the <b>sort</b> method except that it returns a new copy.

In [102]:
l = [1, 6, 3, 4, 2, 5]
sorted(l)

[1, 2, 3, 4, 5, 6]

In [103]:
sorted(l, reverse=True)

[6, 5, 4, 3, 2, 1]

The <b>count</b> method returns the number of elements with the specified value.

In [104]:
l = [1, 2, 3, 4, 5, 4, 3, 2, 1]
l.count(1)

2

## Exercises - Lists

In [105]:
animals = ["dog", "cat", "bird", "tiger", "lion", "fox"]

Get the type of `animals`.

In [106]:
# Your answer here

Check if <i>elephant</i> is in `animals`. The output must be either True or False.

In [107]:
# Your answer here

Append a new element <i>elephant</i> to `animals`. Be careful not to append the element multple times.

In [108]:
# Your answer here

Get the number of elements in `animals`.

In [109]:
# Your answer here

Get the first 5 items in `animals`.

In [110]:
# Your answer here

Get a new sorted list of `animals` in reverse alphabetical order.

In [111]:
# Your answer here

## Dictionaries

A dictionary is a collection of key-value mappings that is unordered, mutable, indexed, and written with curly brackets. If you look up a key in the dictionary, it returns its value, but not vice versa. It allows no duplicate keys.

When designing a dictionary, you should think about what should be the key and what should be the value. It depends on the purpose of the dictionary.

In [112]:
d = {}
print(d, type(d))

{} <class 'dict'>

`buildings` is a dictionary for UI building name abbreviations. If you look up an abbreviation, it returns its full name.

In [113]:
buildings = {"UCC": "University Capitol Center", "PBB": "Pappajohn Business Building"}
print(buildings, type(buildings))

{'UCC': 'University Capitol Center', 'PBB': 'Pappajohn Business Building'} <class 'dict'>

If you look up a key in a dictionary, it returns, if any, its value.

In [114]:
buildings["UCC"]

'University Capitol Center'

In [115]:
buildings["PBB"]

'Pappajohn Business Building'

If there is not the key in the dictionary, it returns KeyError.

In [116]:
buildings["IMU"]

KeyError: 'IMU'

In [117]:
buildings.keys()

dict_keys(['UCC', 'PBB'])

In [118]:
buildings.values()

dict_values(['University Capitol Center', 'Pappajohn Business Building'])

In [119]:
buildings["IMU"] = "Iowa Memorial Union"
buildings

{'UCC': 'University Capitol Center',
 'PBB': 'Pappajohn Business Building',
 'IMU': 'Iowa Memorial Union'}

You can check if a key is in a dictionary using the <b>in</b> operator.

In [120]:
"IMU" in buildings

True

In [121]:
"SH" in buildings

False

The length of a dictionary is the number of key-value mappings in the dictionary.

In [122]:
len(buildings)

3

## ▪ Built-in Functions

The <b>len</b> function returns the length of an object.

In [123]:
len(s)

35

The <b>max</b> function returns the largest item in a list.

In [124]:
l = [1, 2, 3, 4, 5]
max(l)

5

The <b>min</b> function returns the smallest item in a list.

In [125]:
min(l)

1

The <b>print</b> function prints the specified message to the screen or other standard output device.

In [126]:
s = "I'm learning Python data analytics."
print(s)

I'm learning Python data analytics.

The <b>range</b>(start, stop) function returns a sequence of numbers, starting from `start` and increments by 1 and ends at `stop` - 1.

In [127]:
range(0, 10)

range(0, 10)

In [128]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

You can skip `start` if it is 0.

In [129]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

The <b>range</b>(start, stop, step) function increments by `step`.

In [130]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

The <b>round</b>(number, ndigits) function rounds `number` rounded to `ndigits` precision.

In [131]:
round(3.141592, 2)            # Round 3.141592 to 2 decimal places

3.14

If `ndigits` is omitted, it returns the nearest integer to its input.

In [133]:
round(3.141592)

3

The <b>sum</b> function sums the items of an iterator.

In [134]:
sum(l)

15

The <b>reversed</b> function returns a reversed iterator.

In [2]:
l = [1, 5, 3, 2, 4]
list(reversed(l))

[4, 2, 3, 5, 1]

The <b>zip</b> function returns an iterator that aggregates elements from each of the lists.

In [ ]:
l1 = ["Alice", "Bob", "Tom"]
l2 = [30, 25, 34]
zip(l1, l2)

In [ ]:
list(zip(l1, l2))

[('Alice', 30), ('Bob', 25), ('Tom', 34)]

### Difference between Functions and Methods

- A function looks like this: <b>function_name(something)</b>, e.g., sorted(l1)
- A method looks like this: <b>something.method_name()</b>, e.g., l1.sort()

A method always belongs to an object (e.g. string methods only work for string objects, list methods only work for list objects, etc.), while a function doesn’t necessarily (e.g., you can use the <b>len</b> function for nearly any data type).

## Exercises - Built-in Functions

Get the min value in `l`.

In [ ]:
l = [5, 13, 76, 9, 93, 28, 49, 76, 9, 88]

In [ ]:
# Your answer here

Get the max value in `l`.

In [ ]:
# Your answer here

Get the sum of all values in `l`.

In [ ]:
# Your answer here

Generate a list of all two-digit integers. Two digit integers start with 10 and end with 99.

In [ ]:
# Your answer here

Generate a list of all two-digit even integers.

In [ ]:
# Your answer here

Get the number of 0.333333333333 rounded to 2 precision.

In [ ]:
# Your answer here

## Flow Control

There are three main categories of program control flow in Python:
- branches (if, elif, else)
- loops (for loops)
- function calls

## ▪ Branches

if test1:
    statements1
elif test2:        # optional
    statements2
else:
    statements3    # optional

A Python <b>if</b> statement takes the form of an <b>if</b> test, followed by one or more optional <b>elif</b> ("else if") tests and a final optional <b>else</b> block.

The tests and <b>else</b> part each have an associated block of nested statements, indented under a headline.

When the <b>if</b> statement runs, Python executes the block of code associated with the first test that evaluates to true, or the <b>else</b> block if all tests prove false.

In [4]:
x = -3

In [5]:
if x > 0:
    print("X is positive.")

It prints nothing because the if test evaluates to false.

In [6]:
if x > 0:
    print("X is positive.")
else:                                # for the rest of the cases
    print("X is negative.")

X is negative.

In [7]:
if x > 0:
    print("X is positive.")
elif x == 0:
    print("X is zero.")
else:
    print("X is negative.")

X is negative.

Note that <b>if</b> statements can be nested.

In [8]:
if x > 0:
    print("X is positive.")
else:
    if x == 0:
        print("X is zero.")
    else:
        print("X is negative.")

X is negative.

Note also that this code using nested <b>if-else</b> statements works exactly the same as the previous code using <b>if-elif-else</b> statements. You can write two different blocks of code that have the same logic.

In [9]:
if (type(x) == int) | (type(x) == float) | (type(x) == complex):
    print("X is a number.")
else:
    print("X is not a number.")

X is a number.

You can set a complex condition in a test using Boolean operators.

In [10]:
if type(x) in [int, float, complex]:
    print("X is a number.")
else:
    print("X is not a number.")

X is a number.

You can use the <b>in</b> operator to combine the three conditions into a single condition.

In the example below, if the condition `squirrels_seen > 0` is `True`, repeat the string `squirrels! ` by the number of squirrels seen.

In [ ]:
# I have a dog named Bonnie
# 20 minutes into the walk, she has seen 3 squirrels
squirrels_seen = 3

# if see squirres, repeat "squirrels! " by the number of squirrels seen
if squirrels_seen > 0:
    bonnie_thoughts = "squirrels! " * squirrels_seen
    print(bonnie_thoughts)

Some observations about an `if` statement:
* Notice the `:` after the `if` statement. This is required syntax.
* The body of the code inside the `if` statement is indented. It's standard to use 4 spaces. Jupyter Notebook indents automatically for you.

***
We can also check multiple conditions. For example, suppose you are working with survey data that include a variable about the respondents' sex assigned at birth. *(Note that sex assigned at birth is often a different variable than gender.)*

It's common for sex to be coded as numeric values following a scheme such as:

    Male -> coded as 0
    Female -> coded as 1
    Respondents refused to disclose sex during the survey -> coded as 9

In the example below, we create a variable called `sex_str` to correspond with the numeric variable `sex`.

In [ ]:
sex = 0

if sex == 0:
    sex_str = "Male"
elif sex == 1:
    sex_str = "Female"
elif sex == 9:
    sex_str = "Refused"
else:
    sex_str = "Missing"

# see what sex_str is, given that sex = 0 
print(sex_str)

In the block of conditional statements in the example above, each `if`, `elif` and `else` statement was checked, starting from the the top `if` statement. If the condition is true, the code inside the statement gets executed. Otherwise move down to the next statement.

At the end, all remaining cases get put in the `else` category.

`elif` is short for "else if". You can include as many `elif` statements as you want. It's optional to include `elif` and `else` in a block of conditional statements. Only the first statement, `if`, is required.

Similarly to the `if` statement:
* Notice the `:` after each `elif` and `else` statement. This is required syntax.
* The code inside each `elif` and `else` statement is indented. It's standard to use 4 spaces. Jupyter Notebook indents automatically for you.

### Your turn

1. Create a variable `x` and assign to it the value `120`. Then write a block of conditional statements so that:
* If `x` is equal to 0, create a variable `sign` and assign `0` to it.
* If `x` is less than 0, assign `-1` to `sign`
* If `x` is bigger than 0, assign `1` to `sign`
* Otherwise, assign `9` to `sign`

Print the value of `sign`.

In [ ]:
# Your answer here

## ▪ Loops - For Loops

A <b>for</b> loop steps through the items in a list or any other ordered sequence or iterable object.

for target in object:     # loop header
    statements            # loop body

- It begins with a header line that specifies an assignment target (or targets), along with the object you want to step through. 
- The header is followed by a block of (normally indented) statements that you want to repeat. 
- When Python runs a <b>for</b> loop, it assigns the items in the iterable <i>object</i> to the <i>target</i> one by one and executes the loop body for each. 
- The loop body typically uses the assignment target to refer to the current item in the sequence.

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for num in l:
    print(num)

In [ ]:
sum1 = 0
for num in l:
    sum1 += num     # The same as sum1 = sum1 + num

To get the sum of numbers in <i>l</i>, you need a variable, <i>sum1</i> in the above example, to store the intermediate sum calculated from each iteration. Note that the initial value of <i>sum1</i> was set to 0 to be added by any number later.

In [ ]:
sum1

In [ ]:
sum1 == sum(l)

In [ ]:
product = 1
for num in l:
    product *= num   # The same as product = product * num

Note that the initial value of <i>product</i> was set to 1 to be multiplied by any number later.

In [ ]:
product

In [ ]:
s = "Python"

In [ ]:
for c in s:
    print(c, end=" ")     # end: sets a string appended after the last value, default a newline.

The <b>for</b> loop can iterate over a string.

In [ ]:
for c in reversed(s):
    print(c, end=" ")

In [ ]:
l1 = ["a", "b", "c"]
l2 = ["x", "y", "z"]

In [ ]:
for item1, item2 in zip(l1, l2):
    print(item1 + item2)

The <b>zip</b> function returns a tuple at each iteration.

In [ ]:
buildings = {"UCC": "University Capitol Center",
             "CPHB": "College of Public Health Building",
             "IMU": "Iowa Memorial Union"}

In [ ]:
for key in buildings:
    val = buildings[key]
    print("{} ({})".format(key, val))

One way to iterate over a dictionary is using the keys.

In [ ]:
for key, val in buildings.items():
    print("{} ({})".format(key, val))

Another way to interate over a dicitonary is to use the <b>items</b>() method that returns (key, value) tuples. In this case, you can unpack the key and value in the header line.

In [ ]:
s = {"cat", "dog", "bird"}

In [ ]:
for item in s:
    print(item)

Order of set elements is random. You cannot change the order unless you convert the set to other type such as list.

### Nested For Loops

In [ ]:
l1 = ["a", "b", "c"]
l2 = ["x", "y", "z"]

In [ ]:
for item1 in l1:               # outer for loop
    for item2 in l2:           # inner for loop
        print(item1 + item2)

The inner <b>for</b> loop runs for every item in the outer for loop.

In [ ]:
for item2 in l2:               # outer for loop
    for item1 in l1:           # inner for loop
        print(item1 + item2)

The order of retrieving elements depends on how it is described in the nested <b>for</b> loop.

In [ ]:
l1 = ["a", "b", "c"]
l2 = ["x", "y", "z"]
l3 = ["p", "q", "r"]

for item1 in l1:
    for item2 in l2:
        for item3 in l3:
            print(item1 + item2 + item3)

You can write a nested <b>for</b> loop with a depth of 3 or more.

In [ ]:
l = ["a", "b", "c"]

for item1 in l:
    for item2 in l:
        for item3 in l:
            print(item1 + item2 + item3)

You can write a nested <b>for</b> loop using a single loop.

### `while` loop

The other type of loop is a `while` loop. A `while` loop iterates until some condition is met. In the example below, we print `i` and then increment `i` by `1` as long as `i` is less than `10`.

In [ ]:
i = 0
while i < 10:
    print(i)
    i = i + 1

Note that the argument of the `while` loop, `i < 10`, is a comparison statement. The `while` loop is executed as long as that statement returns `True`.

## Exercises for Loops

Write a <b>for</b> loop that prints all integers from 1 to 100, separated by a tab. Use the <b>range</b> function to generate numbers.

In [ ]:
# Your answer here

Write a <b>for</b> loop that prints all letters in <i>s</i>, separated by a tab.

In [ ]:
s = "abcdefghijklmnopqrstuvwxyz"

In [ ]:
# Your answer here

Write a <b>for</b> loop that prints "ABBREVIATION is the abbreviation for FULLNAME." for each key-value pair in the dictionary <i>states</i>, separated by a new line, where ABBREVIATION is the key in <i>states</i> and FULLNAME the value. For example, the first line should look as follows:

IA is the abbreviation for Iowa.

In [ ]:
states = {"IA": "Iowa", "IL": "Illinois", "MN": "Minnesota", "NE": "Nebraska", "WI": "Wisconsin"}

In [ ]:
# Your answer here

Write a <b>for</b> loop that prints all names in the list <i>names</i> in uppercase, separated by a new line.

In [ ]:
names = ["Alice", "Bob", "Mary", "Sam", "Sarah", "Tom"]

In [ ]:
# Your answer here

## ▪ User-Defined Functions

A function is a block of reusable code that is used to perform a specific action. The advantages of using functions include:
- reducing duplication of code
- decomposing complex problems into simpler pieces
- improving clarity or readability of the code
- reuse of code
- information hiding

def function_name(argument1, argument2, ):
    statements

In [ ]:
def square(x):
    return x * x

In this example, <i>square</i> is the function name; `x` is the (only) argument, or parameter. Make sure to put a colon (:) after the parentheses. `x` * `x` is the return value of this function.

In [ ]:
square(3)

To call a function, just specify the function name followed by parameter values enclosed with parentheses.

In [ ]:
def multiply(x, y):
    return x * y

A function can have multiple arguments.

In [ ]:
multiply(3, 5)

In [ ]:
def multiply_print(x, y):
    print("{} times {} equals {}.".format(x, y, x * y))

A function can return no value.

In [ ]:
multiply_print(3, 5)

In [ ]:
def get_first_2_items(l):
    return l[0], l[1]

A function can return multiple values.

In [ ]:
get_first_2_items([1, 2, 3, 4, 5])

In [ ]:
a, b = get_first_2_items([1, 2, 3, 4, 5])
print(a, b)

A function's return value can be used by assigning it to a variable.

In [ ]:
def just_print():
    print("Hello, world!")

A function can have no arguments.

In [ ]:
just_print()

In [ ]:
def remove_all_whitespaces(s):
    s = s.replace(" ", "")
    s = s.replace("\t", "")
    s = s.replace("\n", "")

    
    return s

You can write a series of operations in the function body.

In [ ]:
remove_all_whitespaces("\t\t\tI'm learning Python Data Analytics.\n")

In [ ]:
def get_max(x, y):
    if x > y:
        return x
    else:
        return y

You can use <b>if</b> statements in the function body to make the function respond differently to the parameters.

In [ ]:
get_max(3, 5)

In [ ]:
def get_max(x, y):
    if x > y:
        return x
        print("Can I be printed???")   # Unreachable code
    else:
        return y

Be aware that a function stops right after it returns a value.

In [ ]:
get_max(3, 5)

In [ ]:
def get_first_n_items(l, n=3):
    return l[:n]

You can set the default value of an argument in a function.

In [ ]:
get_first_n_items([1, 2, 3, 4, 5])

 You will have the option of not specifying a value for that argument when calling the function. If you do not specify a value, then the parameter will have the default value given when the function executes.

## Exercises for User-Defined Functions

Write a function <i>concatenate</i> that takes two strings `s1` and `s2` as arguments and returns the concatenation of the two strings with a space between them.

In [ ]:
# Your answer here

In [ ]:
# Test the function here
concatenate("Learning", "Python")     # Output: 'Learning Python'

Write a function <i>concatenate_all</i> that takes a list `l` of strings as an argument and returns the concatenation of all strings in `l` with a space between them.

In [ ]:
# Your answer here

In [ ]:
# Test the function here
concatenate_all(["Python", "R", "SAS", "SPSS", "Matlab", "Stata"])     # Output: 'Python R SAS SPSS Matlab Stata'

Write a function <i>get_min</i> that takes two numbers `num1` and `num2` as arguments and returns the lesser value. If the two numbers are equal, it returns either value.

In [ ]:
# Your answer here

In [ ]:
# Test the function here
get_min(3, 5)     # Output: 3

In [ ]:
# Test the function here
get_min(3, 3)     # Output: 3

Write a function <i>get_min_all</i> that takes a list `l` of numbers as an argument and returns the least value in `l`. If the two numbers are equal, it returns either value.

In [ ]:
# Your answer here

In [ ]:
# Test the function here
get_min_all([3, 2, 9, 6, 2, 7])     # Output: 2

Write a function <i>get_head_tail</i> that takes a list `l` as an argument and returns the first and last elements in `l`. If `l` has fewer than 2 elements, it should return "The input list is too short!".

In [ ]:
# Your answer here

In [ ]:
# Test the function here
get_head_tail(["Python", "R", "SAS", "SPSS", "Matlab", "Stata"]) # Output: ('Python', 'Stata').

In [ ]:
# Test the function here
get_head_tail(["Python"])                                        # Output: 'The input list is too short!'.