# Advanced ata manipulation: pandas
### Workshop 4 of DASIL's Series on "Introduction to Python"
### Created by Linh Tang, Britney He, Christopher Moppel, Sergio Martelo, Martin Pollack, Nandika Jhunjhunwala, and Anil Alper

# Pandas

## Read and inspect tabular data

To start using `pandas`, we first import it and give it the alias `pd`.

Run the code cell below. To run a code cell in Jupyter Notebook, click in the gray cell and press **Shift + Enter** (Windows) or **Shift + Return** (Mac).

In [ ]:
import pandas as pd

We will be using the **B Corp Impact Data** from https://data.world/blab/b-corp-impact-data for the examples in this notebook. This dataset contains information on corporations and their scores on multiple areas, like external communities in which they operate, environment, customers, workers, and governance.

Read in its CSV file using `pandas` and call the dataset `impact`:

In [ ]:
impact = pd.read_csv("B Corp Impact Data.csv")


`pandas` can also read *and write* many other types of files, like:

- CSV files: `read_csv()` and `to_csv()`
- Excel files: `read_excel()` and `to_excel()`
- SAS data files: `read_sas()` 
- SPSS data files: `read_spss()` 
- Stata data files: `read_stata()` and `to_stata()`

To see a summary of the `impact` dataset:

In [ ]:
impact.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8799 entries, 0 to 8798
Columns: 127 entries, company_id to certification_cycle
dtypes: float64(110), int64(1), object(16)
memory usage: 8.5+ MB

`impact` is a `DataFrame`, which is a 2-dimensional data structure. Each `DataFrame` has rows and columns.

To see the dimension of `impact`:

In [ ]:
impact.shape

(8799, 127)

To see the first few rows of `impact`, use `head()`.

In [ ]:
impact.head()

,company_id,company_name,date_first_certified,date_certified,current_status,description,industry,industry_category,products_and_services,country,...,ia_workers_it_human_rights_labor_policy,ia_workers_it_job_flexibility_corporate_culture,ia_workers_it_management_worker_communication,ia_workers_it_occupational_health_safety,ia_workers_it_training_education,ia_workers_it_worker_benefits,ia_workers_it_worker_owned,ia_workers_it_worker_ownership,ia_workers_it_workforce_development,certification_cycle
0,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2021-02-26,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2017-08-30,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
2,001C000001bVjmIIAS,Boomera,2017-12-27,2017-12-27,certified,Boomera work with cutting-edge technology and ...,Recycling Services & Waste Management,Energy & Environmental Services,"recycling, upcycling",Brazil,...,0.2,NaN,1.8,2.3,1.6,NaN,NaN,0.9,NaN,1.0
3,0013b00001nESw5AAG,ekWateur,2021-02-22,2021-02-22,certified,"ekWateur propose de l’électricité, du gaz et d...",Renewable Energy Generation & Installation,Energy & Environmental Services,"Electricité, gaz et bois renouvelables.",France,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,001C000001afeGsIAI,Maker srl,2017-05-19,2021-02-19,certified,Maker srl provides mechanical parts and mainte...,Machinery & Equipment,Business Products & Services,Mechanical parts and maintenance services for ...,Italy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

Each `DataFrame` has **column labels** and **row labels**. Column labels are often column headings, such as `company_id`, `company_name`, ... in this example. Row labels are often `0`, `1`, `2`, ... if they are not specified.

To see the last few rows of `impact`, use `tail()`.

In [ ]:
impact.tail()

,company_id,company_name,date_first_certified,date_certified,current_status,description,industry,industry_category,products_and_services,country,...,ia_workers_it_human_rights_labor_policy,ia_workers_it_job_flexibility_corporate_culture,ia_workers_it_management_worker_communication,ia_workers_it_occupational_health_safety,ia_workers_it_training_education,ia_workers_it_worker_benefits,ia_workers_it_worker_owned,ia_workers_it_worker_ownership,ia_workers_it_workforce_development,certification_cycle
8794,001C000001ghV6XIAU,Danone North America,2018-04-02,2018-03-14,certified,Danone North America is a purpose-driven compa...,Food & Beverage,Consumer Products & Services,Food & Beverage,United States,...,0.6,1.8,1.2,0.9,1.6,NaN,NaN,1.5,NaN,2.0
8795,001C000001afHX8IAM,Institución Educativa SEK,2020-04-23,2020-04-23,certified,Institución Educativa SEK encompasses an educa...,Education & Training Services,Education & Training Services,Education/Higer Education,Spain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
8796,001C000001iwbf3IAA,Envato,2020-06-22,2020-06-22,certified,"At Envato, they’re all about great creative co...",IT Software & Services/Web Design,Business Products & Services,"Digital assets marketplace, creative subscript...",Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
8797,001C000000zk8zuIAA,Laureate Education,2015-12-11,2017-12-01,de-certified,"Laureate Education, Inc. is the largest global...",Education & Training Services,Education & Training Services,Higher Education Services,United States,...,0.7,0.9,2.9,1.1,3.0,NaN,NaN,1.0,0.0,1.0
8798,001C000000zk8zuIAA,Laureate Education,2015-12-11,2015-10-30,de-certified,"Laureate Education, Inc. is the largest global...",Education & Training Services,Education & Training Services,Higher Education Services,United States,...,0.6,0.9,2.8,1.3,2.6,8.3,NaN,2.7,NaN,2.0

Calling `impact` will give the first and last few rows of the dataset. Click on the margin on the left side of the output to condense the display.

In [ ]:
impact

`info()`, `head()`, and `tail()` are **methods**. We can apply them to a `DataFrame` like so: `DataFrame.method()`.


`shape` is a **property**. We can apply properties to a `DataFrame` like so: `DataFrame.property`.

## Select a subset of a DataFrame

### Select columns

We can access a column of a `DataFrame` like accessing a *property* of that `DataFrame` using `.`.

In [ ]:
impact.company_name

0               Someone Somewhere
1               Someone Somewhere
2                         Boomera
3                        ekWateur
4                       Maker srl
                  ...
8794         Danone North America
8795    Institución Educativa SEK
8796                       Envato
8797           Laureate Education
8798           Laureate Education
Name: company_name, Length: 8799, dtype: object

We can also access a column using the `[]` accessor. This is especially helpful when our column names have spaces in them, or if we want to select multiple columns using a list.

In [ ]:
impact["company_name"]

0               Someone Somewhere
1               Someone Somewhere
2                         Boomera
3                        ekWateur
4                       Maker srl
                  ...
8794         Danone North America
8795    Institución Educativa SEK
8796                       Envato
8797           Laureate Education
8798           Laureate Education
Name: company_name, Length: 8799, dtype: object

In [ ]:
impact[["company_name", "current_status"]]

                   company_name current_status
0             Someone Somewhere      certified
1             Someone Somewhere      certified
2                       Boomera      certified
3                      ekWateur      certified
4                     Maker srl      certified
...                         ...            ...
8794       Danone North America      certified
8795  Institución Educativa SEK      certified
8796                     Envato      certified
8797         Laureate Education   de-certified
8798         Laureate Education   de-certified

[8799 rows x 2 columns]

When we select 1 column from a `DataFrame`, we get a **`Series`**. A `Series` is 1-dimensional and doesn't have column labels. It has row labels.

In [ ]:
type(impact["company_name"])

pandas.core.series.Series

In [ ]:
impact["company_name"].shape

(8799,)

When we select more than 1 column from a `DataFrame`, we get another **`DataFrame`**.

In [ ]:
type(impact[["company_name", "current_status"]])

pandas.core.frame.DataFrame

In [ ]:
impact[["company_name", "current_status"]].shape

(8799, 2)

Notice how the `shape` property can be used with both `Series` and `DataFrame`. There are quite a few `pandas` methods and properties that can be used with both `Series` and `DataFrame`. Use the `pandas` reference often to look up any `pandas` objects or functions that you don't know: https://pandas.pydata.org/docs/reference/index.html.

### Select rows

The accessor `[]` can be used to select rows as well. For example, here we select the first 5 rows of the dataset.

Python indexing starts at 0 and doesn't include the ending point.

In [ ]:
impact[0:5]

,company_id,company_name,date_first_certified,date_certified,current_status,description,industry,industry_category,products_and_services,country,...,ia_workers_it_human_rights_labor_policy,ia_workers_it_job_flexibility_corporate_culture,ia_workers_it_management_worker_communication,ia_workers_it_occupational_health_safety,ia_workers_it_training_education,ia_workers_it_worker_benefits,ia_workers_it_worker_owned,ia_workers_it_worker_ownership,ia_workers_it_workforce_development,certification_cycle
0,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2021-02-26,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2017-08-30,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
2,001C000001bVjmIIAS,Boomera,2017-12-27,2017-12-27,certified,Boomera work with cutting-edge technology and ...,Recycling Services & Waste Management,Energy & Environmental Services,"recycling, upcycling",Brazil,...,0.2,NaN,1.8,2.3,1.6,NaN,NaN,0.9,NaN,1.0
3,0013b00001nESw5AAG,ekWateur,2021-02-22,2021-02-22,certified,"ekWateur propose de l’électricité, du gaz et d...",Renewable Energy Generation & Installation,Energy & Environmental Services,"Electricité, gaz et bois renouvelables.",France,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,001C000001afeGsIAI,Maker srl,2017-05-19,2021-02-19,certified,Maker srl provides mechanical parts and mainte...,Machinery & Equipment,Business Products & Services,Mechanical parts and maintenance services for ...,Italy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

We often want to select rows that meet certain criteria. For example, this conditional statement checks if each company is currently certified or not.

In [ ]:
impact["current_status"] == "certified"

0        True
1        True
2        True
3        True
4        True
        ...
8794     True
8795     True
8796     True
8797    False
8798    False
Name: current_status, Length: 8799, dtype: bool

The result is a boolean `Series` that we can use to filter the dataset to get only the rows where the companies are currently certified.

In [ ]:
impact[impact["current_status"] == "certified"]

,company_id,company_name,date_first_certified,date_certified,current_status,description,industry,industry_category,products_and_services,country,...,ia_workers_it_human_rights_labor_policy,ia_workers_it_job_flexibility_corporate_culture,ia_workers_it_management_worker_communication,ia_workers_it_occupational_health_safety,ia_workers_it_training_education,ia_workers_it_worker_benefits,ia_workers_it_worker_owned,ia_workers_it_worker_ownership,ia_workers_it_workforce_development,certification_cycle
0,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2021-02-26,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2017-08-30,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
2,001C000001bVjmIIAS,Boomera,2017-12-27,2017-12-27,certified,Boomera work with cutting-edge technology and ...,Recycling Services & Waste Management,Energy & Environmental Services,"recycling, upcycling",Brazil,...,0.2,NaN,1.8,2.3,1.6,NaN,NaN,0.9,NaN,1.0
3,0013b00001nESw5AAG,ekWateur,2021-02-22,2021-02-22,certified,"ekWateur propose de l’électricité, du gaz et d...",Renewable Energy Generation & Installation,Energy & Environmental Services,"Electricité, gaz et bois renouvelables.",France,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,001C000001afeGsIAI,Maker srl,2017-05-19,2021-02-19,certified,Maker srl provides mechanical parts and mainte...,Machinery & Equipment,Business Products & Services,Mechanical parts and maintenance services for ...,Italy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8792,001C000001TZiM4IAL,Benefit Systems,2018-07-04,2018-07-04,certified,Benefit Systems is an international company wi...,Employee Benefits,Business Products & Services,Professional Services,Poland,...,0.9,NaN,2.6,1.7,4.0,NaN,NaN,1.0,NaN,1.0
8793,001C000001ghV6XIAU,Danone North America,2018-04-02,2021-04-07,certified,Danone North America is a purpose-driven compa...,Food & Beverage,Consumer Products & Services,Food & Beverage,United States,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,1.0
8794,001C000001ghV6XIAU,Danone North America,2018-04-02,2018-03-14,certified,Danone North America is a purpose-driven compa...,Food & Beverage,Consumer Products & Services,Food & Beverage,United States,...,0.6,1.8,1.2,0.9,1.6,NaN,NaN,1.5,NaN,2.0
8795,001C000001afHX8IAM,Institución Educativa SEK,2020-04-23,2020-04-23,certified,Institución Educativa SEK encompasses an educa...,Education & Training Services,Education & Training Services,Education/Higer Education,Spain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
8796,001C000001iwbf3IAA,Envato,2020-06-22,2020-06-22,certified,"At Envato, they’re all about great creative co...",IT Software & Services/Web Design,Business Products & Services,"Digital assets marketplace, creative subscript...",Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

We can also use `&` to check multiple conditions. Here we filter to get the rows where the companies are currently certified and the companies are based in the US.

In [ ]:
impact[(impact["current_status"] == "certified") & (impact["country"] == "United States")]

,company_id,company_name,date_first_certified,date_certified,current_status,description,industry,industry_category,products_and_services,country,...,ia_workers_it_human_rights_labor_policy,ia_workers_it_job_flexibility_corporate_culture,ia_workers_it_management_worker_communication,ia_workers_it_occupational_health_safety,ia_workers_it_training_education,ia_workers_it_worker_benefits,ia_workers_it_worker_owned,ia_workers_it_worker_ownership,ia_workers_it_workforce_development,certification_cycle
8,001C000001mVesLIAS,Fig Industries,2019-07-03,2019-07-03,certified,Fig Industries believes that powerful design a...,Marketing & Communications Services,Business Products & Services,"Branding, Marketing, Graphic Design, Photograp...",United States,...,NaN,1.3,2.2,NaN,1.3,NaN,NaN,0.0,NaN,1.0
11,001C000001gjJJAIA2,nextOPP Search,2019-03-06,2019-03-06,certified,NextOPP Search is a national recruiting agency...,HR Consulting & Recruiting,Business Products & Services,Executive Search & Recruiting with purpose. Hi...,United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
19,0013b00001nF0uCAAS,Sweet Origins,2020-09-01,2020-09-01,certified,Sweet Origins sells organic coconut water and ...,Food & Beverage,Consumer Products & Services,Frozen Tropical Ingredients.,United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
20,001C0000019rIwWIAU,Jeni's Splendid Ice Creams,2013-12-31,2018-06-04,certified,Jeni’s Splendid Ice Creams is a modern America...,Food & Beverage,Consumer Products & Services,Ice Creams.,United States,...,NaN,2.2,1.0,1.1,0.9,NaN,NaN,1.3,NaN,1.0
21,001C0000019rIwWIAU,Jeni's Splendid Ice Creams,2013-12-31,2016-03-11,certified,Jeni’s Splendid Ice Creams is a modern America...,Food & Beverage,Consumer Products & Services,Ice Creams.,United States,...,NaN,2.2,0.8,1.1,0.8,5.9,NaN,2.2,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,001C000001SzZ2LIAV,Home Leasing,2017-08-14,2017-08-17,certified,"Based in Rochester, New York, Home Leasing is ...",Real Estate Development,Building,"Real Estate Development, Construction, Propert...",United States,...,NaN,1.2,1.3,0.8,0.7,NaN,NaN,0.4,NaN,2.0
8781,001C000001YsnXSIAZ,The Bama Companies Inc.,2017-09-21,2017-09-21,certified,Bama is an innovator of wholesome bakery and s...,Food & Beverage,Consumer Products & Services,Frozen Bakery Products,United States,...,0.0,1.8,2.1,1.2,1.8,NaN,NaN,0.8,0.0,1.0
8782,001C000001lPeMQIA0,Kin and Carta Americas,2021-01-14,2021-12-06,certified,"A global consulting firm built for the 2020s, ...",IT Software & Services/Web Design,Business Products & Services,"Digital Transformation, Enterprise Modernizati...",United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
8793,001C000001ghV6XIAU,Danone North America,2018-04-02,2021-04-07,certified,Danone North America is a purpose-driven compa...,Food & Beverage,Consumer Products & Services,Food & Beverage,United States,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,1.0
8794,001C000001ghV6XIAU,Danone North America,2018-04-02,2018-03-14,certified,Danone North America is a purpose-driven compa...,Food & Beverage,Consumer Products & Services,Food & Beverage,United States,...,0.6,1.8,1.2,0.9,1.6,NaN,NaN,1.5,NaN,2.0

Use `|` to check if either condition is true. Here we filter to get either the companies that are currently certified *or* the companies are based in the US.

In [ ]:
impact[(impact["current_status"] == "certified") | (impact["country"] == "United States")]

,company_id,company_name,date_first_certified,date_certified,current_status,description,industry,industry_category,products_and_services,country,...,ia_workers_it_human_rights_labor_policy,ia_workers_it_job_flexibility_corporate_culture,ia_workers_it_management_worker_communication,ia_workers_it_occupational_health_safety,ia_workers_it_training_education,ia_workers_it_worker_benefits,ia_workers_it_worker_owned,ia_workers_it_worker_ownership,ia_workers_it_workforce_development,certification_cycle
0,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2021-02-26,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2017-08-30,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
2,001C000001bVjmIIAS,Boomera,2017-12-27,2017-12-27,certified,Boomera work with cutting-edge technology and ...,Recycling Services & Waste Management,Energy & Environmental Services,"recycling, upcycling",Brazil,...,0.2,NaN,1.8,2.3,1.6,NaN,NaN,0.9,NaN,1.0
3,0013b00001nESw5AAG,ekWateur,2021-02-22,2021-02-22,certified,"ekWateur propose de l’électricité, du gaz et d...",Renewable Energy Generation & Installation,Energy & Environmental Services,"Electricité, gaz et bois renouvelables.",France,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,001C000001afeGsIAI,Maker srl,2017-05-19,2021-02-19,certified,Maker srl provides mechanical parts and mainte...,Machinery & Equipment,Business Products & Services,Mechanical parts and maintenance services for ...,Italy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8794,001C000001ghV6XIAU,Danone North America,2018-04-02,2018-03-14,certified,Danone North America is a purpose-driven compa...,Food & Beverage,Consumer Products & Services,Food & Beverage,United States,...,0.6,1.8,1.2,0.9,1.6,NaN,NaN,1.5,NaN,2.0
8795,001C000001afHX8IAM,Institución Educativa SEK,2020-04-23,2020-04-23,certified,Institución Educativa SEK encompasses an educa...,Education & Training Services,Education & Training Services,Education/Higer Education,Spain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
8796,001C000001iwbf3IAA,Envato,2020-06-22,2020-06-22,certified,"At Envato, they’re all about great creative co...",IT Software & Services/Web Design,Business Products & Services,"Digital assets marketplace, creative subscript...",Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
8797,001C000000zk8zuIAA,Laureate Education,2015-12-11,2017-12-01,de-certified,"Laureate Education, Inc. is the largest global...",Education & Training Services,Education & Training Services,Higher Education Services,United States,...,0.7,0.9,2.9,1.1,3.0,NaN,NaN,1.0,0.0,1.0
8798,001C000000zk8zuIAA,Laureate Education,2015-12-11,2015-10-30,de-certified,"Laureate Education, Inc. is the largest global...",Education & Training Services,Education & Training Services,Higher Education Services,United States,...,0.6,0.9,2.8,1.3,2.6,8.3,NaN,2.7,NaN,2.0

A handy function is `isin()`, which returns a `True` for each row where the value is in the provided list. Here we filter to get companies that are based in the US or Italy.

In [ ]:
impact[impact["country"].isin(["United States", "Italy"])]

,company_id,company_name,date_first_certified,date_certified,current_status,description,industry,industry_category,products_and_services,country,...,ia_workers_it_human_rights_labor_policy,ia_workers_it_job_flexibility_corporate_culture,ia_workers_it_management_worker_communication,ia_workers_it_occupational_health_safety,ia_workers_it_training_education,ia_workers_it_worker_benefits,ia_workers_it_worker_owned,ia_workers_it_worker_ownership,ia_workers_it_workforce_development,certification_cycle
4,001C000001afeGsIAI,Maker srl,2017-05-19,2021-02-19,certified,Maker srl provides mechanical parts and mainte...,Machinery & Equipment,Business Products & Services,Mechanical parts and maintenance services for ...,Italy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
5,001C000001afeGsIAI,Maker srl,2017-05-19,2017-05-19,certified,Maker srl provides mechanical parts and mainte...,Machinery & Equipment,Business Products & Services,Mechanical parts and maintenance services for ...,Italy,...,NaN,NaN,5.5,NaN,1.5,NaN,NaN,2.0,NaN,2.0
8,001C000001mVesLIAS,Fig Industries,2019-07-03,2019-07-03,certified,Fig Industries believes that powerful design a...,Marketing & Communications Services,Business Products & Services,"Branding, Marketing, Graphic Design, Photograp...",United States,...,NaN,1.3,2.2,NaN,1.3,NaN,NaN,0.0,NaN,1.0
11,001C000001gjJJAIA2,nextOPP Search,2019-03-06,2019-03-06,certified,NextOPP Search is a national recruiting agency...,HR Consulting & Recruiting,Business Products & Services,Executive Search & Recruiting with purpose. Hi...,United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
19,0013b00001nF0uCAAS,Sweet Origins,2020-09-01,2020-09-01,certified,Sweet Origins sells organic coconut water and ...,Food & Beverage,Consumer Products & Services,Frozen Tropical Ingredients.,United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8790,001C000001JdMkoIAF,Aboca Group,2019-11-11,2020-01-10,certified,Aboca is the leading group in the therapeutic ...,Agricultural Services,Agriculture,"Agriculture, natural food supplements and medi...",Italy,...,NaN,0.3,0.1,0.0,0.2,NaN,NaN,0.0,NaN,1.0
8793,001C000001ghV6XIAU,Danone North America,2018-04-02,2021-04-07,certified,Danone North America is a purpose-driven compa...,Food & Beverage,Consumer Products & Services,Food & Beverage,United States,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,1.0
8794,001C000001ghV6XIAU,Danone North America,2018-04-02,2018-03-14,certified,Danone North America is a purpose-driven compa...,Food & Beverage,Consumer Products & Services,Food & Beverage,United States,...,0.6,1.8,1.2,0.9,1.6,NaN,NaN,1.5,NaN,2.0
8797,001C000000zk8zuIAA,Laureate Education,2015-12-11,2017-12-01,de-certified,"Laureate Education, Inc. is the largest global...",Education & Training Services,Education & Training Services,Higher Education Services,United States,...,0.7,0.9,2.9,1.1,3.0,NaN,NaN,1.0,0.0,1.0
8798,001C000000zk8zuIAA,Laureate Education,2015-12-11,2015-10-30,de-certified,"Laureate Education, Inc. is the largest global...",Education & Training Services,Education & Training Services,Higher Education Services,United States,...,0.6,0.9,2.8,1.3,2.6,8.3,NaN,2.7,NaN,2.0

### Select rows and columns

The accessor `[]` can select an entry in the `DataFrame`. We specify the column name first, followed by the row index. For example, here we select the first (index 0) company name in the dataset.

In [ ]:
impact["company_name"][0]

'Someone Somewhere'

`iloc` and `loc` offer more flexible ways to access elements in a `DataFrame`.

Using `iloc`, we specify the *index* of the elements.  For example, here we select the entries that are in the first 3 rows and the second column of the dataset.

We specify the row index first, followed by a comma(`,`), then the column index. Notice how this is in opposite order of using the accessor `[]`, which was column then row.

In [ ]:
impact.iloc[0:3, 1]

0    Someone Somewhere
1    Someone Somewhere
2              Boomera
Name: company_name, dtype: object

Select the entries that are in the first 3 rows and the first 3 columns.

In [ ]:
impact.iloc[0:3, 0:3]

           company_id       company_name date_first_certified
0  001C000001LkZXSIA3  Someone Somewhere           2017-08-30
1  001C000001LkZXSIA3  Someone Somewhere           2017-08-30
2  001C000001bVjmIIAS            Boomera           2017-12-27

Using `loc`, we specify the *label* of the elements. For example, select the entries that are in rows 0 to 3 and in the column `company_name`.

`loc` comes in handy when we know the name of the column that we want, but not the order of that column in the dataset.

Notice how `loc` includes the ending point, while `iloc` doesn't.

In [ ]:
impact.loc[0:3, "company_name"]

0    Someone Somewhere
1    Someone Somewhere
2              Boomera
3             ekWateur
Name: company_name, dtype: object

We can use `:` (slicing) when specifying column labels with `loc` as well. Select the entries in rows 0 to 3 and in columns from `company_id` to `date_first_certified`. Notice again that `loc` includes the ending point.

In [ ]:
impact.loc[0:3, "company_id": "date_first_certified"]

           company_id       company_name date_first_certified
0  001C000001LkZXSIA3  Someone Somewhere           2017-08-30
1  001C000001LkZXSIA3  Someone Somewhere           2017-08-30
2  001C000001bVjmIIAS            Boomera           2017-12-27
3  0013b00001nESw5AAG           ekWateur           2021-02-22

And we can also supply a list of column labels with `loc`.

In [ ]:
impact.loc[0:3, ["company_id", "company_name", "current_status", "overall_score"]]

           company_id       company_name current_status  overall_score
0  001C000001LkZXSIA3  Someone Somewhere      certified           87.1
1  001C000001LkZXSIA3  Someone Somewhere      certified          100.8
2  001C000001bVjmIIAS            Boomera      certified           96.1
3  0013b00001nESw5AAG           ekWateur      certified           89.0

Using both conditional statements and `loc` gives us a lot of flexibility in selecting subsets of the dataset. Here, select companies whose overall scores are more than 180.

In [ ]:
impact.loc[impact["overall_score"] > 180, "company_name"]

4375    South Mountain Company, Inc.
4376    South Mountain Company, Inc.
4377    South Mountain Company, Inc.
4378    South Mountain Company, Inc.
5208                     ECO2LIBRIUM
Name: company_name, dtype: object

For those companies that have overall score more than 180, print out the company name, the date the company was certified and the certification cycle.

In [ ]:
impact.loc[impact["overall_score"] > 180, ["company_name", "date_certified", "certification_cycle"]]

                      company_name date_certified  certification_cycle
4375  South Mountain Company, Inc.     2021-06-23                  1.0
4376  South Mountain Company, Inc.     2017-09-01                  2.0
4377  South Mountain Company, Inc.     2015-08-13                  3.0
4378  South Mountain Company, Inc.     2013-05-10                  4.0
5208                   ECO2LIBRIUM     2016-10-27                  2.0

Using `&` to combine multiple conditions and print out a few columns:

In [ ]:
impact.loc[(impact["industry"] == "Food & Beverage") & (impact["country"] == "United States"), 
           ["company_name", "date_certified", "certification_cycle"]]

                    company_name date_certified  certification_cycle
19                 Sweet Origins     2020-09-01                  1.0
20    Jeni's Splendid Ice Creams     2018-06-04                  1.0
21    Jeni's Splendid Ice Creams     2016-03-11                  2.0
22    Jeni's Splendid Ice Creams     2013-12-31                  3.0
66                          Numi     2020-10-14                  1.0
...                          ...            ...                  ...
8706                VeeV Spirits     2008-06-25                  2.0
8726       Bison Brewing Company     2010-11-12                  3.0
8781     The Bama Companies Inc.     2017-09-21                  1.0
8793        Danone North America     2021-04-07                  1.0
8794        Danone North America     2018-03-14                  2.0

[504 rows x 3 columns]

Assign the filter results to a new dataset.

In [ ]:
impact_us_food_drink = impact.loc[(impact["industry"] == "Food & Beverage") & (impact["country"] == "United States"), 
           ["company_name", "date_certified", "certification_cycle"]]

impact_us_food_drink

                    company_name date_certified  certification_cycle
19                 Sweet Origins     2020-09-01                  1.0
20    Jeni's Splendid Ice Creams     2018-06-04                  1.0
21    Jeni's Splendid Ice Creams     2016-03-11                  2.0
22    Jeni's Splendid Ice Creams     2013-12-31                  3.0
66                          Numi     2020-10-14                  1.0
...                          ...            ...                  ...
8706                VeeV Spirits     2008-06-25                  2.0
8726       Bison Brewing Company     2010-11-12                  3.0
8781     The Bama Companies Inc.     2017-09-21                  1.0
8793        Danone North America     2021-04-07                  1.0
8794        Danone North America     2018-03-14                  2.0

[504 rows x 3 columns]

Notice how the new dataset retains the row index of the original dataset. We can reset the row index of the new dataset with `reset_index()`.

The `inplace = True` argument tells `pandas` to modify the `DataFrame` in place and not to create a new object. The `drop = True` tells `pandas` not to insert index into dataframe columns.

In [ ]:
impact_us_food_drink.reset_index(inplace = True, drop = True)

impact_us_food_drink.head()

                 company_name date_certified  certification_cycle
0               Sweet Origins     2020-09-01                  1.0
1  Jeni's Splendid Ice Creams     2018-06-04                  1.0
2  Jeni's Splendid Ice Creams     2016-03-11                  2.0
3  Jeni's Splendid Ice Creams     2013-12-31                  3.0
4                        Numi     2020-10-14                  1.0

### Delete columns

As you can tell from the above exercises, it is handy to know the column names in a dataset. Often when you download your data from an external source, the source will also have information about the columns that you can look up. The `columns` property is a handy way to see what columns your dataset has.

In [ ]:
impact.columns

Index(['company_id', 'company_name', 'date_first_certified', 'date_certified',
       'current_status', 'description', 'industry', 'industry_category',
       'products_and_services', 'country',
       ...
       'ia_workers_it_human_rights_labor_policy',
       'ia_workers_it_job_flexibility_corporate_culture',
       'ia_workers_it_management_worker_communication',
       'ia_workers_it_occupational_health_safety',
       'ia_workers_it_training_education', 'ia_workers_it_worker_benefits',
       'ia_workers_it_worker_owned', 'ia_workers_it_worker_ownership',
       'ia_workers_it_workforce_development', 'certification_cycle'],
      dtype='object', length=127)

See what column is in the 22nd position:

In [ ]:
impact.columns[22]

'impact_area_workers'

See what columns are in the 23th to 133th positions:

In [ ]:
impact.columns[23:133]

Index(['impact_area_community_na_score', 'impact_area_customers_na_score',
       'impact_area_environment_na_score', 'impact_area_governance_na_score',
       'impact_area_workers_na_score',
       'ia_community_it_civic_engagement_giving',
       'ia_community_it_designed_for_charitable_giving',
       'ia_community_it_designed_to_give',
       'ia_community_it_diversity_equity_inclusion',
       'ia_community_it_diversity_inclusion',
       ...
       'ia_workers_it_human_rights_labor_policy',
       'ia_workers_it_job_flexibility_corporate_culture',
       'ia_workers_it_management_worker_communication',
       'ia_workers_it_occupational_health_safety',
       'ia_workers_it_training_education', 'ia_workers_it_worker_benefits',
       'ia_workers_it_worker_owned', 'ia_workers_it_worker_ownership',
       'ia_workers_it_workforce_development', 'certification_cycle'],
      dtype='object', length=104)

This comes in handy when we want to delete a range of columns. For example, here we use the `drop()` method to delete columns in the 23th to 133th position. The `axis = 1` argument means drop the columns (`axis = 0` for rows). The `inplace = True` argument means do the operation inplace and not to return a copy.

In [ ]:
impact.drop(impact.columns[23:133], axis = 1, inplace = True)

We can also specify the names of the columns directly using `drop()`.

In [ ]:
impact.drop(columns = ["b_corp_profile", "website"], inplace = True)

Our `impact` dataset now has fewer columns. We'll proceed with this new copy to calculate some summary statistics in the section below.

In [ ]:
impact

,company_id,company_name,date_first_certified,date_certified,current_status,description,industry,industry_category,products_and_services,country,...,city,sector,size,assessment_year,overall_score,impact_area_community,impact_area_customers,impact_area_environment,impact_area_governance,impact_area_workers
0,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2021-02-26,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,Ciudad Mexico,Wholesale/Retail,10-49,2020,87.1,27.1,14.2,11.9,14.4,19.3
1,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2017-08-30,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,Ciudad Mexico,Wholesale/Retail,0,2017,100.8,74.0,8.3,5.8,12.7,NaN
2,001C000001bVjmIIAS,Boomera,2017-12-27,2017-12-27,certified,Boomera work with cutting-edge technology and ...,Recycling Services & Waste Management,Energy & Environmental Services,"recycling, upcycling",Brazil,...,São Paulo,Manufacturing,50-249,2017,96.1,15.1,0.0,52.4,7.9,20.7
3,0013b00001nESw5AAG,ekWateur,2021-02-22,2021-02-22,certified,"ekWateur propose de l’électricité, du gaz et d...",Renewable Energy Generation & Installation,Energy & Environmental Services,"Electricité, gaz et bois renouvelables.",France,...,Paris,Service with Significant Environmental Footprint,50-249,2019,89.0,17.2,5.0,28.4,8.2,30.1
4,001C000001afeGsIAI,Maker srl,2017-05-19,2021-02-19,certified,Maker srl provides mechanical parts and mainte...,Machinery & Equipment,Business Products & Services,Mechanical parts and maintenance services for ...,Italy,...,Berbenno di Valtellina,Manufacturing,10-49,2019,80.4,18.3,4.3,18.3,17.1,22.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8794,001C000001ghV6XIAU,Danone North America,2018-04-02,2018-03-14,certified,Danone North America is a purpose-driven compa...,Food & Beverage,Consumer Products & Services,Food & Beverage,United States,...,Broomfield,Manufacturing,1000+,2018,84.9,21.7,0.2,22.8,16.6,23.4
8795,001C000001afHX8IAM,Institución Educativa SEK,2020-04-23,2020-04-23,certified,Institución Educativa SEK encompasses an educa...,Education & Training Services,Education & Training Services,Education/Higer Education,Spain,...,Madrid,Service with Significant Environmental Footprint,250-999,2020,82.1,12.2,23.2,15.7,12.9,18.0
8796,001C000001iwbf3IAA,Envato,2020-06-22,2020-06-22,certified,"At Envato, they’re all about great creative co...",IT Software & Services/Web Design,Business Products & Services,"Digital assets marketplace, creative subscript...",Australia,...,Melbourne,Service with Minor Environmental Footprint,250-999,2020,85.3,23.4,3.4,12.1,9.2,37.0
8797,001C000000zk8zuIAA,Laureate Education,2015-12-11,2017-12-01,de-certified,"Laureate Education, Inc. is the largest global...",Education & Training Services,Education & Training Services,Higher Education Services,United States,...,Baltimore,Service with Significant Environmental Footprint,1000+,2017,104.2,24.0,23.7,10.0,21.0,25.3
8798,001C000000zk8zuIAA,Laureate Education,2015-12-11,2015-10-30,de-certified,"Laureate Education, Inc. is the largest global...",Education & Training Services,Education & Training Services,Higher Education Services,United States,...,Baltimore,Service with Significant Environmental Footprint,1000+,2015,95.8,23.0,18.8,8.3,19.7,25.9

## Exercises - Select a subset of a dataframe

Given the above 'impact' dataframe, select and display the 7th column using the column name alone (square bracket notation)

In [ ]:
# Your answer here

...using ```iloc```

In [ ]:
# Your answer here

...using ```loc```

In [ ]:
# Your answer here

Given the above 'impact' dataframe, select rows 7 and 8 and display them using ```iloc```

In [ ]:
# Your answer here

...using ```loc```

In [ ]:
# Your answer here

Create a new dataframe consisting of all rows of `impact` where `overall_score` is above 80. Then reset the row indices of this new dataframe inplace (i.e. don't create another new dataframe).

## Summary statistics

For text data, it's often handy to see all the unique values of a column.

In [ ]:
impact["current_status"].unique()

array(['certified', 'de-certified'], dtype=object)

In [ ]:
impact["country"].unique()

array(['Mexico', 'Brazil', 'France', 'Italy', 'Argentina',
       'United Kingdom', 'United States', 'Chile', 'Venezuela',
       'Australia', 'Germany', 'Hong Kong S.A.R.', 'Paraguay', 'Colombia',
       'Uruguay', 'Canada', 'Netherlands The', 'Guatemala', 'Rwanda',
       'Japan', 'Singapore', 'Kenya', 'Nicaragua', 'Senegal',
       'Switzerland', 'Spain', 'Taiwan', 'Benin', 'New Zealand', 'Egypt',
       'Belgium', 'Peru', 'South Korea', 'Ecuador', 'Dominican Republic',
       'Thailand', 'China', 'Sweden', 'Panama', 'Denmark', 'India',
       'South Africa', 'Luxembourg', 'Poland', 'Malaysia', 'Cyprus',
       'Czech Republic', 'Israel', 'Finland', 'Norway', 'Portugal',
       'Zambia', 'Myanmar', 'Costa Rica', 'Greece', 'Turkey', 'Russia',
       'Bolivia', 'Indonesia', 'Ireland', 'Vietnam', 'Belize', 'Iceland',
       'Bangladesh', 'Mauritius', 'Honduras', 'Austria', 'Uganda',
       'Philippines', 'Ghana', 'United Arab Emirates', 'Burkina Faso',
       'Sierra Leone', 'Tanzania', 'Mozambique', 'Hungary', 'Haiti',
       'Serbia', 'Bulgaria', 'Malta', 'Bahamas The', 'Afghanistan',
       'Lebanon', 'Puerto Rico', 'Nigeria', 'Mongolia'], dtype=object)

To see the unique values plus the counts, use `value_counts()`.

In [ ]:
impact["current_status"].value_counts()

certified       6664
de-certified    2135
Name: current_status, dtype: int64

In [ ]:
impact["sector"].value_counts()

Service with Minor Environmental Footprint          5007
Wholesale/Retail                                    1731
Manufacturing                                       1101
Service with Significant Environmental Footprint     713
Agriculture/Growers                                  225
Service                                               22
Name: sector, dtype: int64

We can also use `value_counts()` with more than 1 column. *Later, we'll see how we can also use `groupby` to get summaries of text data.*

In [ ]:
impact[["current_status", "sector"]].value_counts()

current_status  sector
certified       Service with Minor Environmental Footprint          3734
de-certified    Service with Minor Environmental Footprint          1273
certified       Wholesale/Retail                                    1267
                Manufacturing                                        902
                Service with Significant Environmental Footprint     565
de-certified    Wholesale/Retail                                     464
                Manufacturing                                        199
certified       Agriculture/Growers                                  182
de-certified    Service with Significant Environmental Footprint     148
                Agriculture/Growers                                   43
certified       Service                                               14
de-certified    Service                                                8
dtype: int64

For numeric data, `describe()` gives common summary statistics such as mean, standard deviation, min, and max.

In [ ]:
impact["overall_score"].describe()

count    8799.000000
mean       95.988669
std        16.125190
min        78.200000
25%        83.600000
50%        90.900000
75%       103.300000
max       184.100000
Name: overall_score, dtype: float64

Other methods to get summary statistics include: `count()`, `mean()`, `min()`, `max()`, `sum()`.

Get the average score across the dataset.

In [ ]:
impact["overall_score"].mean()

95.98866916695079

Get the median score across the dataset.

In [ ]:
impact["overall_score"].median()

90.9

Get summary statistics for more than 1 column.

In [ ]:
impact[["overall_score", "assessment_year"]].describe()

       overall_score  assessment_year
count    8799.000000      8799.000000
mean       95.988669      2016.715763
std        16.125190         2.679393
min        78.200000      2007.000000
25%        83.600000      2015.000000
50%        90.900000      2017.000000
75%       103.300000      2019.000000
max       184.100000      2021.000000

Use `agg()` to supply multiple summary statistics functions.

In [ ]:
impact[["overall_score", "assessment_year"]].agg(["min", "median", "max"])

        overall_score  assessment_year
min              78.2           2007.0
median           90.9           2017.0
max             184.1           2021.0

### Add a new column

Let's look at the head of our `dataset` using `pandas`.

In [ ]:
impact.head()

,company_id,company_name,date_first_certified,date_certified,current_status,description,industry,industry_category,products_and_services,country,...,city,sector,size,assessment_year,overall_score,impact_area_community,impact_area_customers,impact_area_environment,impact_area_governance,impact_area_workers
0,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2021-02-26,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,Ciudad Mexico,Wholesale/Retail,10-49,2020,87.1,27.1,14.2,11.9,14.4,19.3
1,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2017-08-30,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,Ciudad Mexico,Wholesale/Retail,0,2017,100.8,74.0,8.3,5.8,12.7,NaN
2,001C000001bVjmIIAS,Boomera,2017-12-27,2017-12-27,certified,Boomera work with cutting-edge technology and ...,Recycling Services & Waste Management,Energy & Environmental Services,"recycling, upcycling",Brazil,...,São Paulo,Manufacturing,50-249,2017,96.1,15.1,0.0,52.4,7.9,20.7
3,0013b00001nESw5AAG,ekWateur,2021-02-22,2021-02-22,certified,"ekWateur propose de l’électricité, du gaz et d...",Renewable Energy Generation & Installation,Energy & Environmental Services,"Electricité, gaz et bois renouvelables.",France,...,Paris,Service with Significant Environmental Footprint,50-249,2019,89.0,17.2,5.0,28.4,8.2,30.1
4,001C000001afeGsIAI,Maker srl,2017-05-19,2021-02-19,certified,Maker srl provides mechanical parts and mainte...,Machinery & Equipment,Business Products & Services,Mechanical parts and maintenance services for ...,Italy,...,Berbenno di Valtellina,Manufacturing,10-49,2019,80.4,18.3,4.3,18.3,17.1,22.2

We can create a new column like so:

In [ ]:
impact["new_col"] = "hello I'm new"

In [ ]:
impact.head()

,company_id,company_name,date_first_certified,date_certified,current_status,description,industry,industry_category,products_and_services,country,...,sector,size,assessment_year,overall_score,impact_area_community,impact_area_customers,impact_area_environment,impact_area_governance,impact_area_workers,new_col
0,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2021-02-26,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,Wholesale/Retail,10-49,2020,87.1,27.1,14.2,11.9,14.4,19.3,hello I'm new
1,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2017-08-30,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,Wholesale/Retail,0,2017,100.8,74.0,8.3,5.8,12.7,NaN,hello I'm new
2,001C000001bVjmIIAS,Boomera,2017-12-27,2017-12-27,certified,Boomera work with cutting-edge technology and ...,Recycling Services & Waste Management,Energy & Environmental Services,"recycling, upcycling",Brazil,...,Manufacturing,50-249,2017,96.1,15.1,0.0,52.4,7.9,20.7,hello I'm new
3,0013b00001nESw5AAG,ekWateur,2021-02-22,2021-02-22,certified,"ekWateur propose de l’électricité, du gaz et d...",Renewable Energy Generation & Installation,Energy & Environmental Services,"Electricité, gaz et bois renouvelables.",France,...,Service with Significant Environmental Footprint,50-249,2019,89.0,17.2,5.0,28.4,8.2,30.1,hello I'm new
4,001C000001afeGsIAI,Maker srl,2017-05-19,2021-02-19,certified,Maker srl provides mechanical parts and mainte...,Machinery & Equipment,Business Products & Services,Mechanical parts and maintenance services for ...,Italy,...,Manufacturing,10-49,2019,80.4,18.3,4.3,18.3,17.1,22.2,hello I'm new

### Modify an existing column

We can use similar syntax to modify an existing column. Note that this overwrites the values in that column.

In [ ]:
impact["new_col"] = impact["overall_score"].max()

In [ ]:
impact.head()

,company_id,company_name,date_first_certified,date_certified,current_status,description,industry,industry_category,products_and_services,country,...,sector,size,assessment_year,overall_score,impact_area_community,impact_area_customers,impact_area_environment,impact_area_governance,impact_area_workers,new_col
0,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2021-02-26,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,Wholesale/Retail,10-49,2020,87.1,27.1,14.2,11.9,14.4,19.3,184.1
1,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2017-08-30,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,Wholesale/Retail,0,2017,100.8,74.0,8.3,5.8,12.7,NaN,184.1
2,001C000001bVjmIIAS,Boomera,2017-12-27,2017-12-27,certified,Boomera work with cutting-edge technology and ...,Recycling Services & Waste Management,Energy & Environmental Services,"recycling, upcycling",Brazil,...,Manufacturing,50-249,2017,96.1,15.1,0.0,52.4,7.9,20.7,184.1
3,0013b00001nESw5AAG,ekWateur,2021-02-22,2021-02-22,certified,"ekWateur propose de l’électricité, du gaz et d...",Renewable Energy Generation & Installation,Energy & Environmental Services,"Electricité, gaz et bois renouvelables.",France,...,Service with Significant Environmental Footprint,50-249,2019,89.0,17.2,5.0,28.4,8.2,30.1,184.1
4,001C000001afeGsIAI,Maker srl,2017-05-19,2021-02-19,certified,Maker srl provides mechanical parts and mainte...,Machinery & Equipment,Business Products & Services,Mechanical parts and maintenance services for ...,Italy,...,Manufacturing,10-49,2019,80.4,18.3,4.3,18.3,17.1,22.2,184.1

Create a new column for the scaled version of `overall_score`.

In [ ]:
impact["overall_score_scaled"] = impact["overall_score"] / impact["overall_score"].max() * 100

In [ ]:
impact.head()

,company_id,company_name,date_first_certified,date_certified,current_status,description,industry,industry_category,products_and_services,country,...,size,assessment_year,overall_score,impact_area_community,impact_area_customers,impact_area_environment,impact_area_governance,impact_area_workers,new_col,overall_score_scaled
0,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2021-02-26,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,10-49,2020,87.1,27.1,14.2,11.9,14.4,19.3,184.1,47.311244
1,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2017-08-30,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,0,2017,100.8,74.0,8.3,5.8,12.7,NaN,184.1,54.752852
2,001C000001bVjmIIAS,Boomera,2017-12-27,2017-12-27,certified,Boomera work with cutting-edge technology and ...,Recycling Services & Waste Management,Energy & Environmental Services,"recycling, upcycling",Brazil,...,50-249,2017,96.1,15.1,0.0,52.4,7.9,20.7,184.1,52.199891
3,0013b00001nESw5AAG,ekWateur,2021-02-22,2021-02-22,certified,"ekWateur propose de l’électricité, du gaz et d...",Renewable Energy Generation & Installation,Energy & Environmental Services,"Electricité, gaz et bois renouvelables.",France,...,50-249,2019,89.0,17.2,5.0,28.4,8.2,30.1,184.1,48.343292
4,001C000001afeGsIAI,Maker srl,2017-05-19,2021-02-19,certified,Maker srl provides mechanical parts and mainte...,Machinery & Equipment,Business Products & Services,Mechanical parts and maintenance services for ...,Italy,...,10-49,2019,80.4,18.3,4.3,18.3,17.1,22.2,184.1,43.671917

`overall_score_scaled` is now on the 100-point scale.

In [ ]:
impact["overall_score_scaled"].describe()

count    8799.000000
mean       52.139418
std         8.758930
min        42.476915
25%        45.410103
50%        49.375339
75%        56.110809
max       100.000000
Name: overall_score_scaled, dtype: float64

### Rename columns

Use `rename()` to change the names of columns. Use the `inplace = True` argument to modify the columns of the existing dataset and not to create a copy.

In [ ]:
impact.rename(columns = {"new_col": "not_needed", "overall_score_scaled": "overall_score_100"}, inplace = True)

Check the names of the columns of `impact` after the change:

In [ ]:
impact.columns

Index(['company_id', 'company_name', 'date_first_certified', 'date_certified',
       'current_status', 'description', 'industry', 'industry_category',
       'products_and_services', 'country', 'state', 'city', 'sector', 'size',
       'assessment_year', 'overall_score', 'impact_area_community',
       'impact_area_customers', 'impact_area_environment',
       'impact_area_governance', 'impact_area_workers', 'not_needed',
       'overall_score_100'],
      dtype='object')

Drop the `not_needed` and `overall_score` columns since we no longer need them.

In [ ]:
impact.drop(columns = ["not_needed", "overall_score"], inplace = True)

In [ ]:
impact.head()

,company_id,company_name,date_first_certified,date_certified,current_status,description,industry,industry_category,products_and_services,country,...,city,sector,size,assessment_year,impact_area_community,impact_area_customers,impact_area_environment,impact_area_governance,impact_area_workers,overall_score_100
0,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2021-02-26,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,Ciudad Mexico,Wholesale/Retail,10-49,2020,27.1,14.2,11.9,14.4,19.3,47.311244
1,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2017-08-30,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,Ciudad Mexico,Wholesale/Retail,0,2017,74.0,8.3,5.8,12.7,NaN,54.752852
2,001C000001bVjmIIAS,Boomera,2017-12-27,2017-12-27,certified,Boomera work with cutting-edge technology and ...,Recycling Services & Waste Management,Energy & Environmental Services,"recycling, upcycling",Brazil,...,São Paulo,Manufacturing,50-249,2017,15.1,0.0,52.4,7.9,20.7,52.199891
3,0013b00001nESw5AAG,ekWateur,2021-02-22,2021-02-22,certified,"ekWateur propose de l’électricité, du gaz et d...",Renewable Energy Generation & Installation,Energy & Environmental Services,"Electricité, gaz et bois renouvelables.",France,...,Paris,Service with Significant Environmental Footprint,50-249,2019,17.2,5.0,28.4,8.2,30.1,48.343292
4,001C000001afeGsIAI,Maker srl,2017-05-19,2021-02-19,certified,Maker srl provides mechanical parts and mainte...,Machinery & Equipment,Business Products & Services,Mechanical parts and maintenance services for ...,Italy,...,Berbenno di Valtellina,Manufacturing,10-49,2019,18.3,4.3,18.3,17.1,22.2,43.671917

## Create groups with `groupby`

Recall from the "Summary statistics" section that we can get the average overall score like so:

In [ ]:
impact["overall_score_100"].mean()

52.13941834163541

The average score can vary for each sector. We can use `groupby` to divide the dataset into groups, 1 group for each sector, then calculate the average score for each group.

The command below doesn't modify the dataset directly. It only creates groups in order to calculate the average score for each group.

In [ ]:
impact.groupby("sector")["overall_score_100"].mean()

sector
Agriculture/Growers                                 53.981290
Manufacturing                                       51.571062
Service                                             49.888894
Service with Minor Environmental Footprint          52.452932
Service with Significant Environmental Footprint    52.379683
Wholesale/Retail                                    51.284294
Name: overall_score_100, dtype: float64

We can also create groups based on more than 1 column. For example, calculate the average score for each group of `current_status` and `sector`:

In [ ]:
impact.groupby(["current_status", "sector"])["overall_score_100"].mean()

current_status  sector
certified       Agriculture/Growers                                 53.458763
                Manufacturing                                       51.395896
                Service                                             48.129898
                Service with Minor Environmental Footprint          52.522368
                Service with Significant Environmental Footprint    52.077603
                Wholesale/Retail                                    51.132646
de-certified    Agriculture/Growers                                 56.192918
                Manufacturing                                       52.365030
                Service                                             52.967137
                Service with Minor Environmental Footprint          52.249260
                Service with Significant Environmental Footprint    53.532892
                Wholesale/Retail                                    51.698384
Name: overall_score_100, dtype: float64

The `size()` method computes the size for each group. This is essentially the number of rows in each group.

In [ ]:
impact.groupby(["current_status", "sector"]).size()

current_status  sector
certified       Agriculture/Growers                                  182
                Manufacturing                                        902
                Service                                               14
                Service with Minor Environmental Footprint          3734
                Service with Significant Environmental Footprint     565
                Wholesale/Retail                                    1267
de-certified    Agriculture/Growers                                   43
                Manufacturing                                        199
                Service                                                8
                Service with Minor Environmental Footprint          1273
                Service with Significant Environmental Footprint     148
                Wholesale/Retail                                     464
dtype: int64

The `count()` method also computes the group size, but `count()` excludes missing values.

In [ ]:
impact.groupby(["current_status", "sector"]).count()

                                                                 company_id  \
current_status sector
certified      Agriculture/Growers                                      182
               Manufacturing                                            902
               Service                                                   14
               Service with Minor Environmental Footprint              3734
               Service with Significant Environmental Footprint         565
               Wholesale/Retail                                        1267
de-certified   Agriculture/Growers                                       43
               Manufacturing                                            199
               Service                                                    8
               Service with Minor Environmental Footprint              1273
               Service with Significant Environmental Footprint         148
               Wholesale/Retail                                         464

                                                                 company_name  \
current_status sector
certified      Agriculture/Growers                                        182
               Manufacturing                                              902
               Service                                                     14
               Service with Minor Environmental Footprint                3734
               Service with Significant Environmental Footprint           565
               Wholesale/Retail                                          1267
de-certified   Agriculture/Growers                                         43
               Manufacturing                                              199
               Service                                                      8
               Service with Minor Environmental Footprint                1272
               Service with Significant Environmental Footprint           148
               Wholesale/Retail                                           464

                                                                 date_first_certified  \
current_status sector
certified      Agriculture/Growers                                                182
               Manufacturing                                                      902
               Service                                                             14
               Service with Minor Environmental Footprint                        3734
               Service with Significant Environmental Footprint                   565
               Wholesale/Retail                                                  1267
de-certified   Agriculture/Growers                                                 43
               Manufacturing                                                      199
               Service                                                              8
               Service with Minor Environmental Footprint                        1273
               Service with Significant Environmental Footprint                   148
               Wholesale/Retail                                                   464

                                                                 date_certified  \
current_status sector
certified      Agriculture/Growers                                          182
               Manufacturing                                                902
               Service                                                       14
               Service with Minor Environmental Footprint                  3734
               Service with Significant Environmental Footprint             565
               Wholesale/Retail                                            1267
de-certified   Agriculture/Growers                                           43
               Manufacturing                                                197
               Service                                                        8
               Service with Minor Environmental Footprint                  1265
               Service with Significant Environmental Footprint             148
               Wholesale/Retail                                             461

                                                                 description  \
current_status sector
certified      Agriculture/Growers                                       182
               Manufacturing                                             898
               Service                                                    14
               Service with Minor Environmental Footprint               3734
               Service with Significant Environmental Footprint          565
               Wholesale/Retail                                         1267
de-certified   Agriculture/Growers                                        43
               Manufacturing                                             199
               Service                                                     8
               Service with Minor Environmental Footprint               1273
               Service with Significant Environmental Footprint          148
               Wholesale/Retail                                          464

                                                                 industry  \
current_status sector
certified      Agriculture/Growers                                    182
               Manufacturing                                          899
               Service                                                 14
               Service with Minor Environmental Footprint            3676
               Service with Significant Environmental Footprint       560
               Wholesale/Retail                                      1266
de-certified   Agriculture/Growers                                     43
               Manufacturing                                          199
               Service                                                  8
               Service with Minor Environmental Footprint            1270
               Service with Significant Environmental Footprint       148
               Wholesale/Retail                                       464

                                                                 industry_category  \
current_status sector
certified      Agriculture/Growers                                             182
               Manufacturing                                                   902
               Service                                                          14
               Service with Minor Environmental Footprint                     3683
               Service with Significant Environmental Footprint                560
               Wholesale/Retail                                               1267
de-certified   Agriculture/Growers                                              43
               Manufacturing                                                   199
               Service                                                           8
               Service with Minor Environmental Footprint                     1271
               Service with Significant Environmental Footprint                148
               Wholesale/Retail                                                464

                                                                 products_and_services  \
current_status sector
certified      Agriculture/Growers                                                 178
               Manufacturing                                                       870
               Service                                                              14
               Service with Minor Environmental Footprint                         3615
               Service with Significant Environmental Footprint                    554
               Wholesale/Retail                                                   1220
de-certified   Agriculture/Growers                                                  43
               Manufacturing                                                       197
               Service                                                               8
               Service with Minor Environmental Footprint                         1251
               Service with Significant Environmental Footprint                    146
               Wholesale/Retail                                                    456

                                                                 country  \
current_status sector
certified      Agriculture/Growers                                   182
               Manufacturing                                         902
               Service                                                14
               Service with Minor Environmental Footprint           3734
               Service with Significant Environmental Footprint      565
               Wholesale/Retail                                     1267
de-certified   Agriculture/Growers                                    43
               Manufacturing                                         199
               Service                                                 8
               Service with Minor Environmental Footprint           1273
               Service with Significant Environmental Footprint      148
               Wholesale/Retail                                      464

                                                                 state  city  \
current_status sector
certified      Agriculture/Growers                                 182   182
               Manufacturing                                       900   901
               Service                                              14    14
               Service with Minor Environmental Footprint         3730  3734
               Service with Significant Environmental Footprint    565   565
               Wholesale/Retail                                   1266  1266
de-certified   Agriculture/Growers                                  42    43
               Manufacturing                                       197   199
               Service                                               8     8
               Service with Minor Environmental Footprint         1250  1264
               Service with Significant Environmental Footprint    145   146
               Wholesale/Retail                                    457   461

                                                                 size  \
current_status sector
certified      Agriculture/Growers                                182
               Manufacturing                                      902
               Service                                             14
               Service with Minor Environmental Footprint        3734
               Service with Significant Environmental Footprint   565
               Wholesale/Retail                                  1267
de-certified   Agriculture/Growers                                 43
               Manufacturing                                      198
               Service                                              8
               Service with Minor Environmental Footprint        1271
               Service with Significant Environmental Footprint   148
               Wholesale/Retail                                   464

                                                                 assessment_year  \
current_status sector
certified      Agriculture/Growers                                           182
               Manufacturing                                                 902
               Service                                                        14
               Service with Minor Environmental Footprint                   3734
               Service with Significant Environmental Footprint              565
               Wholesale/Retail                                             1267
de-certified   Agriculture/Growers                                            43
               Manufacturing                                                 199
               Service                                                         8
               Service with Minor Environmental Footprint                   1273
               Service with Significant Environmental Footprint              148
               Wholesale/Retail                                              464

                                                                 impact_area_community  \
current_status sector
certified      Agriculture/Growers                                                 182
               Manufacturing                                                       902
               Service                                                              14
               Service with Minor Environmental Footprint                         3734
               Service with Significant Environmental Footprint                    565
               Wholesale/Retail                                                   1267
de-certified   Agriculture/Growers                                                  43
               Manufacturing                                                       199
               Service                                                               8
               Service with Minor Environmental Footprint                         1273
               Service with Significant Environmental Footprint                    148
               Wholesale/Retail                                                    464

                                                                 impact_area_customers  \
current_status sector
certified      Agriculture/Growers                                                 160
               Manufacturing                                                       797
               Service                                                              14
               Service with Minor Environmental Footprint                         3678
               Service with Significant Environmental Footprint                    517
               Wholesale/Retail                                                   1176
de-certified   Agriculture/Growers                                                  41
               Manufacturing                                                       191
               Service                                                               8
               Service with Minor Environmental Footprint                         1266
               Service with Significant Environmental Footprint                    144
               Wholesale/Retail                                                    459

                                                                 impact_area_environment  \
current_status sector
certified      Agriculture/Growers                                                   182
               Manufacturing                                                         902
               Service                                                                14
               Service with Minor Environmental Footprint                           3734
               Service with Significant Environmental Footprint                      565
               Wholesale/Retail                                                     1267
de-certified   Agriculture/Growers                                                    43
               Manufacturing                                                         199
               Service                                                                 8
               Service with Minor Environmental Footprint                           1273
               Service with Significant Environmental Footprint                      148
               Wholesale/Retail                                                      464

                                                                 impact_area_governance  \
current_status sector
certified      Agriculture/Growers                                                  182
               Manufacturing                                                        902
               Service                                                               14
               Service with Minor Environmental Footprint                          3734
               Service with Significant Environmental Footprint                     565
               Wholesale/Retail                                                    1267
de-certified   Agriculture/Growers                                                   43
               Manufacturing                                                        199
               Service                                                                8
               Service with Minor Environmental Footprint                          1273
               Service with Significant Environmental Footprint                     148
               Wholesale/Retail                                                     464

                                                                 impact_area_workers  \
current_status sector
certified      Agriculture/Growers                                               179
               Manufacturing                                                     875
               Service                                                            13
               Service with Minor Environmental Footprint                       3290
               Service with Significant Environmental Footprint                  549
               Wholesale/Retail                                                 1121
de-certified   Agriculture/Growers                                                40
               Manufacturing                                                     180
               Service                                                             8
               Service with Minor Environmental Footprint                       1118
               Service with Significant Environmental Footprint                  136
               Wholesale/Retail                                                  406

                                                                 overall_score_100
current_status sector
certified      Agriculture/Growers                                             182
               Manufacturing                                                   902
               Service                                                          14
               Service with Minor Environmental Footprint                     3734
               Service with Significant Environmental Footprint                565
               Wholesale/Retail                                               1267
de-certified   Agriculture/Growers                                              43
               Manufacturing                                                   199
               Service                                                           8
               Service with Minor Environmental Footprint                     1273
               Service with Significant Environmental Footprint                148
               Wholesale/Retail                                                464

For a comprehensive list of methods that an be used with `groupby()`, see https://pandas.pydata.org/docs/reference/groupby.html

## Sort values

The `sort_values()` method sorts the dataset based on the values of specified columns.

In [ ]:
impact.sort_values(by = ["current_status", "sector", "overall_score_100"])

,company_id,company_name,date_first_certified,date_certified,current_status,description,industry,industry_category,products_and_services,country,...,city,sector,size,assessment_year,impact_area_community,impact_area_customers,impact_area_environment,impact_area_governance,impact_area_workers,overall_score_100
2505,001C000001fiNFuIAM,Pure Ground Ingredients,2019-05-17,2019-05-17,certified,Pure Ground Ingredients is the premier supplie...,Agricultural Services,Agriculture,"Organic Herbs, Spices, Botanicals and Chilis.",United States,...,Minden,Agriculture/Growers,50-249,2018,27.3,NaN,26.2,7.9,16.7,42.476915
502,001C000001Fh2ehIAB,Sokol Blosser Winery,2015-04-16,2015-04-16,certified,Producer of high quality wines with distributi...,Food & Beverage,Consumer Products & Services,Winery,United States,...,Dayton,Agriculture/Growers,10-49,2014,24.9,0.0,23.0,8.3,23.9,43.454644
3366,0013b00001p4C9WAAU,Villa Andina SAC,2021-03-29,2021-03-29,certified,We founded Villa Andina in 2007 with the goal ...,Agricultural Services,Agriculture,"Superfoods, granos andinos y derivados de cacao",Peru,...,Cajamarca,Agriculture/Growers,250-999,2019,19.8,2.8,24.1,13.2,19.8,43.454644
441,0013b00001nEY0JAAW,Tamoa,2021-07-21,2021-07-21,certified,TAMOA es un proyecto dedicado al abasto respon...,Agricultural Services,Agriculture,Abasto responsable de alimentos regionales mex...,Mexico,...,Mexico,Agriculture/Growers,1-9,2020,32.6,1.6,19.1,12.3,14.4,43.563281
2344,001C000001GrVOlIAN,Fetzer Vineyards,2015-05-22,2015-05-22,certified,Fetzer Vineyards is the United States’ largest...,Food & Beverage,Consumer Products & Services,Wine,United States,...,Hopland,Agriculture/Growers,250-999,2015,18.3,0.0,35.6,7.7,18.4,43.563281
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7847,001C000000r5b31IAA,Give Something Back Workplace Solutions,2007-05-22,2012-12-21,de-certified,Give Something Back certainly wasn't fooling a...,Office Products & Printing,Business Products & Services,"Office Products, Furniture, Printing Services,...",United States,...,Oakland,Wholesale/Retail,50-249,2012,90.7,2.0,24.6,14.4,24.6,85.008148
8691,001C000000yiothIAA,Hives for Lives,2009-12-21,2009-12-21,de-certified,"Hives for Lives, a honey company, was started ...",Food & Beverage,Consumer Products & Services,Honey,United States,...,Devon,Wholesale/Retail,10-49,2009,59.8,75.2,6.6,18.6,NaN,87.017925
7423,001C0000012Gug4IAC,One Earth Designs,2012-12-14,2016-02-16,de-certified,"One Earth Designs makes SolSource, a solar pow...",Machinery & Equipment,Business Products & Services,Resources/support for sustainable growth,United States,...,Boston,Wholesale/Retail,0,2016,49.6,51.6,45.2,16.7,0.0,88.593156
7424,001C0000012Gug4IAC,One Earth Designs,2012-12-14,2012-12-14,de-certified,"One Earth Designs makes SolSource, a solar pow...",Machinery & Equipment,Business Products & Services,Resources/support for sustainable growth,United States,...,Boston,Wholesale/Retail,1-9,2012,22.6,74.8,31.0,9.4,26.8,89.462249
7530,001C000001E9E2VIAV,Conscious Company Media,2015-10-08,2015-10-08,de-certified,Conscious Company Media is a community dedicat...,Print Publications,Media,CCM is a print and digital magazine about sust...,United States,...,Boulder,Wholesale/Retail,0,2015,94.9,30.0,30.5,11.2,0.0,90.439978

## Exercises - Sort values

Sort the above dataframe 'impact' by it's (custom) index.

In [ ]:
# Your answer here

Sort the above dataframe 'impact' by the columns 'industry' and 'industry_category'.

In [ ]:
# Your answer here

## Merge datasets

Read the **Best for the World Lists** dataset to merge with our existing impact dataset.

In [ ]:
best = pd.read_csv("Best for the World Lists.csv", encoding = "latin_1", 
                   usecols = ["company", "year", "country", "award_category"])

best.head()
impact.columns

Index(['company_id', 'company_name', 'date_first_certified', 'date_certified',
       'current_status', 'description', 'industry', 'industry_category',
       'products_and_services', 'country',
       ...
       'ia_workers_it_human_rights_labor_policy',
       'ia_workers_it_job_flexibility_corporate_culture',
       'ia_workers_it_management_worker_communication',
       'ia_workers_it_occupational_health_safety',
       'ia_workers_it_training_education', 'ia_workers_it_worker_benefits',
       'ia_workers_it_worker_owned', 'ia_workers_it_worker_ownership',
       'ia_workers_it_workforce_development', 'certification_cycle'],
      dtype='object', length=127)

Use the `merge()` function to merge 2 datasets. `left_on` and `right_on` specify the common columns to merge on.

In [ ]:
merged = pd.merge(impact, best, left_on = "company_name", right_on = "company")

In [ ]:
merged

,company_id,company_name,date_first_certified,date_certified,current_status,description,industry,industry_category,products_and_services,country_x,...,ia_workers_it_training_education,ia_workers_it_worker_benefits,ia_workers_it_worker_owned,ia_workers_it_worker_ownership,ia_workers_it_workforce_development,certification_cycle,company,year,award_category,country_y
0,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2021-02-26,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,NaN,NaN,NaN,NaN,NaN,1.0,Someone Somewhere,2018,Community,Mexico
1,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2017-08-30,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,NaN,NaN,NaN,NaN,NaN,2.0,Someone Somewhere,2018,Community,Mexico
2,001C000001bVjmIIAS,Boomera,2017-12-27,2017-12-27,certified,Boomera work with cutting-edge technology and ...,Recycling Services & Waste Management,Energy & Environmental Services,"recycling, upcycling",Brazil,...,1.6,NaN,NaN,0.9,NaN,1.0,Boomera,2019,Environment,Brazil
3,001C000001bVjmIIAS,Boomera,2017-12-27,2017-12-27,certified,Boomera work with cutting-edge technology and ...,Recycling Services & Waste Management,Energy & Environmental Services,"recycling, upcycling",Brazil,...,1.6,NaN,NaN,0.9,NaN,1.0,Boomera,2018,Environment,Brazil
4,001C000001afqFpIAI,Nodo Chile,2017-10-17,2017-10-17,certified,NodoChile provides advisory services in matter...,Management and Financial Consulting,Business Products & Services,Advisory Services,Chile,...,NaN,NaN,NaN,NaN,NaN,1.0,Nodo Chile,2019,Customers,Chile
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10154,001C000001bTPidIAG,Hortifrut Chile,2018-10-04,2018-10-04,certified,Touching & enlightening the life of the people...,Agricultural Services,Agriculture,Blueberries organics and conventionals,Chile,...,2.4,NaN,NaN,0.8,NaN,1.0,Hortifrut Chile,2019,Environment,Chile
10155,001C000000zk8zuIAA,Laureate Education,2015-12-11,2017-12-01,de-certified,"Laureate Education, Inc. is the largest global...",Education & Training Services,Education & Training Services,Higher Education Services,United States,...,3.0,NaN,NaN,1.0,0.0,1.0,Laureate Education,2019,Customers; Governance,United States
10156,001C000000zk8zuIAA,Laureate Education,2015-12-11,2017-12-01,de-certified,"Laureate Education, Inc. is the largest global...",Education & Training Services,Education & Training Services,Higher Education Services,United States,...,3.0,NaN,NaN,1.0,0.0,1.0,Laureate Education,2018,Governance,United States
10157,001C000000zk8zuIAA,Laureate Education,2015-12-11,2015-10-30,de-certified,"Laureate Education, Inc. is the largest global...",Education & Training Services,Education & Training Services,Higher Education Services,United States,...,2.6,8.3,NaN,2.7,NaN,2.0,Laureate Education,2019,Customers; Governance,United States
10158,001C000000zk8zuIAA,Laureate Education,2015-12-11,2015-10-30,de-certified,"Laureate Education, Inc. is the largest global...",Education & Training Services,Education & Training Services,Higher Education Services,United States,...,2.6,8.3,NaN,2.7,NaN,2.0,Laureate Education,2018,Governance,United States

Select a few columns to see the results more clearly

In [ ]:
merged = merged[["company_name", "state", "sector", "certification_cycle", "year", "award_category"]]
merged

,company_name,state,sector,certification_cycle,year,award_category
0,Someone Somewhere,Ciudad de Mexico,Wholesale/Retail,1.0,2018,Community
1,Someone Somewhere,Ciudad de Mexico,Wholesale/Retail,2.0,2018,Community
2,Boomera,São Paulo,Manufacturing,1.0,2019,Environment
3,Boomera,São Paulo,Manufacturing,1.0,2018,Environment
4,Nodo Chile,X región Los Lagos,Service with Minor Environmental Footprint,1.0,2019,Customers
...,...,...,...,...,...,...
10154,Hortifrut Chile,Santiago Metropolitan Region,Agriculture/Growers,1.0,2019,Environment
10155,Laureate Education,Maryland,Service with Significant Environmental Footprint,1.0,2019,Customers; Governance
10156,Laureate Education,Maryland,Service with Significant Environmental Footprint,1.0,2018,Governance
10157,Laureate Education,Maryland,Service with Significant Environmental Footprint,2.0,2019,Customers; Governance
10158,Laureate Education,Maryland,Service with Significant Environmental Footprint,2.0,2018,Governance

By merging, we got information from both datasets. The `best_us` dataset has company name, year, and award category. The rest of the columns come from the `impact` dataset.

Sort by company name and year. We can see that some companies won awards multiple years.