# Workshop 2 of DASIL's Series on "Introduction to Python"
### Created by Simon Hodson.
### Much of the credit should go to Linh Tang, Britney He, Christopher Moppel, Sergio Martelo, and Martin Pollack, whose work was heavily used to create this document.

# Workshop 2

## Review of Workshop 1

If you remeber from the previous workshop, you can extract one character from a string by placing square brackets `[]` right after a string. Try to use this idea to extract the first 5 numbers in the fibonnaci sequence and printing it as a single string. (Hint: the first 5 numbers are 11235)

In [ ]:
a = "12345"

We also looked at taking substrings, try extracting the string `"Grinnell"` from the string below.

In [ ]:
b = "Grinnell College"

Grinnell

We also studied how to do various operations on numbers. We can see examples of this below.

In [ ]:
print(4 + 2)
print(4 - 2)
print(4 * 2)
print(4 / 2)

6
2
8
2.0

In addition, we learned about booleans, which can either be `True` or `False`. Examples of these can be seen below.

In [ ]:
print(1 == 2)
print(1 != 2)

print(2 < 1)

False
True
False

Finally, we also learned how to import modules and libraries. In order to bring in a modules and libraries, we used `import`, in addition using `as` to shorten the name of modules. We can also use from to import only certain functions.

In [ ]:
# Importing the square root function from the math library
from math import sqrt

# Using the square root function
print(sqrt(25))

# Importing the NumPy module as np
import numpy as np

# Using the NumPy module to make an array
np.array([1,2,4])

5.0

array([1, 2, 4])

## Lists

A list is a collection that is ordered, mutable, indexed, and written with square brackets. It allows duplicate members.

In [ ]:
L = []
print(L, type(L))

[] <class 'list'>

List elements do not have to be of the same type.

In [ ]:
L = [1, 2, 3, "a", "b", "c"]
L

[1, 2, 3, 'a', 'b', 'c']

The length of a list is the number of items in the list, and it can be found using the `len()` function.

In [ ]:
len(L)

6

The in operator can also be used to check if something is in a list. This can be seen below.

In [ ]:
3 in L

True

In [ ]:
"z" in L

False

We can also use indexing and slicing which we learned in the first workshop! The code is exactly the same.

In [ ]:
print(L)
print(L[0])
print(L[1:4:2])

[1, 2, 3, 'a', 'b', 'c']
1
[2, 'a']

### List Methods

The easiest way to combine two lists is to use the + operator, just as combining two strings.

In [ ]:
l1 = [1, 2, 3]
l2 = ["a", "b", "c"]
l1 + l2

[1, 2, 3, 'a', 'b', 'c']

The `append()` method appends an element to the end of the list. Note that the `append()` method actually appends a new element to the target list, not returning a copy.

In [ ]:
l = [1, 2, 3]
l.append(4)
l

[1, 2, 3, 4]

The `sort()` method sorts the list in ascending order by default. Note that the `sort()` method actually sorts the target list, not returning a copy.

In [ ]:
l = [1, 6, 3, 4, 2, 5]
l.sort()
l

[1, 2, 3, 4, 5, 6]

Setting the `reverse` parameter to True will sort the list in descending order.

In [ ]:
l = [1, 6, 3, 4, 2, 5]
l.sort(reverse=True)
l

[6, 5, 4, 3, 2, 1]

Python also has a built-in function `sorted()`, which works the same as the `sort()` method except that it returns a new copy.

In [ ]:
l = [1, 6, 3, 4, 2, 5]
sorted(l)

[1, 2, 3, 4, 5, 6]

In [ ]:
sorted(l, reverse=True)

[6, 5, 4, 3, 2, 1]

The `count()` method returns the number of elements with the specified value.

In [ ]:
l = [1, 2, 3, 4, 5, 4, 3, 2, 1]
l.count(1)

2

## Exercises - Lists

In [ ]:
animals = ["dog", "cat", "bird", "tiger", "lion", "fox"]

Get the type of `animals`.

In [ ]:
# Your answer here

Check if <i>elephant</i> is in `animals`. The output must be either True or False.

In [ ]:
# Your answer here

Append a new element <i>elephant</i> to `animals`. Be careful not to append the element multple times.

In [ ]:
# Your answer here

Get the number of elements in `animals`.

In [ ]:
# Your answer here

Get the first 5 items in `animals`.

In [ ]:
# Your answer here

Get a new sorted list of `animals` in reverse alphabetical order.

In [ ]:
# Your answer here

Get the min value in `l`.

HINT: Think about doing this in two steps.

In [ ]:
l = [5, 13, 76, 9, 93, 28, 49, 76, 9, 88]

In [ ]:
# Your answer here

Get the max value in `l`.

In [ ]:
# Your answer here

Get the sum of all values in `l`.

HINT: Google a helpful function (but be careful, it is not a method)

In [ ]:
# Your answer here

## If/Else Statements

Sometimes we are not sure what code we will want to run. 

For example, it may depend on the value of a variable. If the `mood` variable for our customer is "happy," then we may not need to do anything. But if this variable is "annoyed," we may want to print a message that says "Please enjoy this discount".

We can do this kind of "conditional coding" with a Python `if` statement. 

These take the form of an `if` boolean test, followed by one or more optional `elif` ("else if") tests and a final optional `else` block.

The tests and `else` part each have an associated block of nested statements, indented under a headline.

The blocks associated with each `if` or `elif` statement only runs if no other block above it runs and if its test passes.

The `else` block only runs if all `if` and `elif` statements fail.

In [ ]:
x = -3

Below, nothing is printed because the `if` test evaluates to false.

In [ ]:
if x > 0:
    print("X is positive.")

To change this, we can add an `else` statement, which will run for any `x` that is negative or 0.

In [ ]:
if x > 0:
    print("X is positive.")
else:                            
    print("X is negative.")

Even if there are more tests added, if all are false, only the `else` block will be evaluated.

In [ ]:
if x > 0:
    print("X is positive.")
elif x == 0:
    print("X is zero.")
else:
    print("X is negative.")

But if we now make `x` equal 0, the `elif` test will be `TRUE`, so we will never get to the `else` test.

In [ ]:
x = 0
if x > 0:
    print("X is positive.")
elif x == 0:
    print("X is zero.")
else:
    print("X is negative.")

Note that `if` statements can be nested.

In [ ]:
if x > 0:
    print("X is positive.")
else:
    if x == 0:
        print("X is zero.")
    else:
        print("X is negative.")

Note also that this code using nested `if-else` statements works exactly the same as the previous code using `if-elif-else` statements. You can write two different blocks of code that have the same logic.

You can set a complex condition in a test using Boolean operators.

In [ ]:
if (type(x) == int) | (type(x) == float) | (type(x) == complex):
    print("X is a number.")
else:
    print("X is not a number.")

X is a number.

You can use the `in` operator to combine the three conditions into a single condition.

In [ ]:
if type(x) in [int, float, complex]:
    print("X is a number.")
else:
    print("X is not a number.")

X is a number.

In the example below, if the condition `squirrels_seen > 0` is `True`, repeat the string `squirrels! ` by the number of squirrels seen.

In [ ]:
# I have a dog named Bonnie
# 20 minutes into the walk, she has seen 3 squirrels
squirrels_seen = 3

# if see squirres, repeat "squirrels! " by the number of squirrels seen
if squirrels_seen > 0:
    bonnie_thoughts = "squirrels! " * squirrels_seen
    print(bonnie_thoughts)

squirrels! squirrels! squirrels!

Some observations about an `if` statement:
* Notice the `:` after the `if` statement. This is required syntax.
* The body of the code inside the `if` statement is indented. It's standard to use 4 spaces. Jupyter Notebook indents automatically for you.

***
We can also check multiple conditions. For example, suppose you are working with survey data that include a variable about the respondents' sex assigned at birth. *(Note that sex assigned at birth is often a different variable than gender.)*

It's common for sex to be coded as numeric values following a scheme such as:

    Male -> coded as 0
    Female -> coded as 1
    Respondents refused to disclose sex during the survey -> coded as 9

In the example below, we create a variable called `sex_str` to correspond with the numeric variable `sex`.

In [ ]:
sex = 0

if sex == 0:
    sex_str = "Male"
elif sex == 1:
    sex_str = "Female"
elif sex == 9:
    sex_str = "Refused"
else:
    sex_str = "Missing"

# see what sex_str is, given that sex = 0 
print(sex_str)

Male

In the block of conditional statements in the example above, each `if`, `elif` and `else` statement was checked, starting from the the top `if` statement. If the condition is true, the code inside the statement gets executed. Otherwise move down to the next statement.

At the end, all remaining cases get put in the `else` category.

`elif` is short for "else if". You can include as many `elif` statements as you want. It's optional to include `elif` and `else` in a block of conditional statements. Only the first statement, `if`, is required.

Similarly to the `if` statement:
* Notice the `:` after each `elif` and `else` statement. This is required syntax.
* The code inside each `elif` and `else` statement is indented. It's standard to use 4 spaces. Jupyter Notebook indents automatically for you.

### If Statement Exercises

1. Create a variable `x` and assign to it the value `120`. Then write a block of conditional statements so that:
* If `x` is equal to 0, create a variable `sign` and assign `0` to it.
* If `x` is less than 0, assign `-1` to `sign`
* If `x` is bigger than 0, assign `1` to `sign`
* Otherwise, assign `9` to `sign`

Print the value of `sign`.

In [ ]:
# Your answer here

## Loops

So far, every time we have needed to run something, we have explicitly typed it out.

But sometimes, we will want to do repitive tasks to multiple items.

For example, suppose we have a list of names and we want to make them all upper case. We could individually take each name and use the `upper()` method on it, but there is a better way!

A `for` loop grabs one element at a time from a list or another type of iterable object, saving each in the same variable that can be reused over and over.

- Such a loop begins with a header line that specifies the name(s) of variable(s) you want to be reusing, along with the object you want to step through. 
- The header is followed by a block of (normally indented) statements that you want to repeat. 
- When Python runs a `for` loop, it assigns the items in the iterable <i>object</i> to the <i>variable</i> one by one and executes the loop body for each. 
- The loop body typically uses the `variable` to refer to the current item in the sequence.

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for num in l:
    print(num)

To get the sum of numbers in <i>l</i>, you need a variable, <i>sum1</i> in the below example, to store the intermediate sum calculated from each iteration. Note that the initial value of <i>sum1</i> was set to 0 to be added by any number later.

In [ ]:
sum1 = 0
for num in l:
    sum1 += num     # The same as sum1 = sum1 + num

In [ ]:
sum1

In [ ]:
sum1 == sum(l)

In [ ]:
product = 1
for num in l:
    product *= num   # The same as product = product * num

Note that the initial value of <i>product</i> was set to 1 to be multiplied by any number later.

In [ ]:
product

The `for` loop can also iterate over a string.

In [ ]:
string = "Python"

In [ ]:
for char in string:
    print(char, end=" ")     # end: sets a string appended after the last value, default a newline.

In [ ]:
for char in reversed(string):
    print(char, end=" ")

We can also move through two objects simultaneously, saving items from each object in two distinct variables.

To do this, we can use the `zip` command on two lists.

In [ ]:
l1 = ["a", "b", "c"]
l2 = ["x", "y", "z"]

In [ ]:
for item1, item2 in zip(l1, l2):
    print(item1 + item2)

We can also use the `break` keyword to end a for loop early without going through all items of a list. 

For instance, say you had a list and wanted to check if at least one of the values was negative. Once we find a negative value, we can end the `for` loop and do not need to look at any other elements.

Also note the use of the `enumerate()` function on our list. This returns groupings of each elements of the list along with its indices. Thus, we need to use two variables now in our `for` loop: `i` and `num`.

In [ ]:
number_list = [1, 20, 10, 56, -1, 23]

for i, num in enumerate(number_list):
  if num < 0:
    print("The list contains a negative")
    break
  elif i == len(number_list):
    print("There are no negatives in the list")
  else:
    print("We have not yet found a negative in the list")

We have not yet found a negative in the list
We have not yet found a negative in the list
We have not yet found a negative in the list
We have not yet found a negative in the list
The list contains a negative

You notice that the for loop only evaluates 5 of the items in the list. This is because the moment it detected the negative, it printed `"The list contains a negative"` and ran `break`, which ended the loop. 

Now if we wanted for the list to only print whether or not there was a negative, we could use `continue` within the `else` block. This ends the current iteration of the loop and continues to the next iteration.

In [ ]:
number_list = [1, 20, 10, 56, -1, 23]

for i, num in enumerate(number_list):
  if num < 0:
    print("The list contains a negative")
    break
  elif i == len(number_list):
    print("There are no negatives in the list")
  else:
    continue

The list contains a negative

### Nested For Loops

We can also put `for` loops inside other `for` loops.

Variables created for the outer loop can also be accessed by the inner loop.

In [ ]:
l1 = ["a", "b", "c"]
l2 = ["x", "y", "z"]

In [ ]:
for item1 in l1:               # outer for loop
    for item2 in l2:           # inner for loop
        print(item1 + item2)

How this works is we will choose a certain item in `l1`, and then hold that value constant as we step through the whole of `l2`. We then move on to the next item in `l1` and again proceed to step through all of `l2`.

The order of retrieving elements depends on how it is described in the nested <b>for</b> loop.

In [ ]:
l1 = ["a", "b", "c"]
l2 = ["x", "y", "z"]
l3 = ["p", "q", "r"]

for item1 in l1:
    for item2 in l2:
        for item3 in l3:
            print(item1 + item2 + item3)

You can write a nested <b>for</b> loop with a depth of 3 or more.

In [ ]:
l = ["a", "b", "c"]

for item1 in l:
    for item2 in l:
        for item3 in l:
            print(item1 + item2 + item3)

You can write a nested <b>for</b> loop using a single loop.

### `while` loop

The other type of loop is a `while` loop. A `while` loop keeps going until some condition is met. 

In the example below, we print `i` and then increment `i` by `1` as long as `i` is less than `10`.

In [ ]:
i = 0
while i < 10:
    print(i)
    i = i + 1

Note that the argument of the `while` loop, `i < 10`, is a comparison statement. The `while` loop is executed as long as that statement returns `True`.

When `i` becomes 10, the test returns `FALSE`, and so 10 is not printed.

## Loop Exercises

Write a <b>for</b> loop that prints all integers from 1 to 100, separated by a space. Use the `range()` function to generate consecutive numbers (google this).

In [ ]:
# Your answer here

Write a <b>for</b> loop that prints all letters in <i>s</i>, separated by a space.

In [ ]:
s = "abcdefghijklmnopqrstuvwxyz"

In [ ]:
# Your answer here

Write a <b>for</b> loop that prints all names in the list <i>names</i> in uppercase, separated by a new line.

In [ ]:
names = ["Alice", "Bob", "Mary", "Sam", "Sarah", "Tom"]

In [ ]:
# Your answer here

Write a <b>for</b> loop that prints only the numbers from a list such that:

* The number is divisable by 5
* The number is less than 150

If the number is 500 or greater, end the loop. Use the list below to test if this works.

Credit to Pynation for this problem, which can be found [here](https://pynative.com/python-if-else-and-for-loop-exercise-with-solutions/).

In [ ]:
test_list = [12, 75, 150, 180, 145, 525, 5]

Write a <b>while</b> loop that adds up the numbers in the list below until it reaches 100.

In [ ]:
add_test_list = [1, 20, 35, -10, 88, 23, 56, 230]

Write a <b>while</b> loop that identifies what index the string `"Martin"` is in the list below.

HINT: you may want to use some sort of `if` statement.

In [ ]:
dasil_employees = ["Simon", "Jiayi", "Julia", "Anil", "Anh", "Martin", "Yusen"]

## User-Defined Functions

A function is a block of reusable code that is used to perform a specific action. The advantages of using functions include:
- reducing duplication of code
- decomposing complex problems into simpler pieces
- improving clarity or readability of the code
- reuse of code
- information hiding

To write your own function, start with the `def` keyword. Then type the name of the function, open parenthesis, your variables separated by columns, a close parenthesis, and then a colon. Indented on the next line is the body of the function, that uses your variable(s) to perform a task.

In this example, <i>square</i> is the function name; `x` is the (only) argument, or parameter. Make sure to put a colon (:) after the parentheses. `x` * `x` is the return value of this function.

In [ ]:
def square(x):
    return x * x

To call a function, just specify the function name followed by parameter values enclosed with parentheses.

In [ ]:
square(3)

9

A function can have multiple arguments.

In [ ]:
def multiply(x, y):
    return x * y

In [ ]:
multiply(3, 5)

15

A function can return no value.

In [ ]:
def multiply_print(x, y):
    print("{} times {} equals {}.".format(x, y, x * y))

In [ ]:
multiply_print(3, 5)

3 times 5 equals 15.

A function can return multiple values. Such as the one below:

In [ ]:
def get_first_2_items(l):
    return l[0], l[1]

Now if we pass a list into the function, we see that it extracts the first two items in the list.

In [ ]:
get_first_2_items([1, 2, 3, 4, 5])

(1, 2)

A function's return value can be used by assigning it to a variable.

In [ ]:
a, b = get_first_2_items([1, 2, 3, 4, 5])
print(a, b)

1 2

A function can have no arguments.

In [ ]:
def just_print():
    print("Hello, world!")

In [ ]:
just_print()

Hello, world!

You can write a series of operations in the function body.

In [ ]:
def remove_all_whitespaces(s):
    s = s.replace(" ", "")
    s = s.replace("\t", "")
    s = s.replace("\n", "")

    
    return s

In [ ]:
remove_all_whitespaces("\t\t\tI'm learning Python Data Analytics.\n")

You can use <b>if</b> statements in the function body to make the function respond differently to the parameters.

In [ ]:
def get_max(x, y):
    if x > y:
        return x
    else:
        return y

In [ ]:
get_max(3, 5)

5

Be aware that a function stops right after it returns a value.

In [ ]:
def get_max(x, y):
    if x > y:
        return x
        print("Can I be printed???")   # Unreachable code
    else:
        return y

In [ ]:
get_max(3, 5)

5

You can set the default value of an argument in a function with an equal sign.

 You will have the option of not specifying a value for that argument when calling the function. If you do not specify a value, then the parameter will have the default value given when the function executes.

In [ ]:
def get_first_n_items(l, n=3):
    return l[:n]

In [ ]:
get_first_n_items([1, 2, 3, 4, 5])

[1, 2, 3]

## Exercises for User-Defined Functions

Write a function <i>concatenate</i> that takes two strings `s1` and `s2` as arguments and returns the concatenation of the two strings with a space between them.

In [ ]:
# Your answer here

In [ ]:
# Test the function here
concatenate("Learning", "Python")     # Output: 'Learning Python'

Write a function <i>concatenate_all</i> that takes a list `l` of strings as an argument and returns the concatenation of all strings in `l` with a space between them.

In [ ]:
# Your answer here

In [ ]:
# Test the function here
concatenate_all(["Python", "R", "SAS", "SPSS", "Matlab", "Stata"])     # Output: 'Python R SAS SPSS Matlab Stata'

Write a function <i>get_min</i> that takes two numbers `num1` and `num2` as arguments and returns the lesser value. If the two numbers are equal, it returns either value.

In [ ]:
# Your answer here

In [ ]:
# Test the function here
get_min(3, 5)     # Output: 3

In [ ]:
# Test the function here
get_min(3, 3)     # Output: 3

Write a function <i>get_min_all</i> that takes a list `l` of numbers as an argument and returns the least value in `l`. If the two numbers are equal, it returns either value.

In [ ]:
# Your answer here

In [ ]:
# Test the function here
get_min_all([3, 2, 9, 6, 2, 7])     # Output: 2

Write a function <i>get_head_tail</i> that takes a list `l` as an argument and returns the first and last elements in `l`. If `l` has fewer than 2 elements, it should return "The input list is too short!".

In [ ]:
# Your answer here

In [ ]:
# Test the function here
get_head_tail(["Python", "R", "SAS", "SPSS", "Matlab", "Stata"]) # Output: ('Python', 'Stata').

In [ ]:
# Test the function here
get_head_tail(["Python"])                                        # Output: 'The input list is too short!'.