# Jupyter Basics

## Workshop 1 of the series "Introduction to Python" for Fall 2022.
This series is sponsored by DASIL and Vivero.

## Created by Martin Pollack, Austin Yu, and Kripa Bansal

Welcome to the Python workshop series!

Right now you are looking at a Jupyter Notebook. This is a popular filetype for doing data science in Python, and we will be using it often.

Jupyter Notebooks consist of two kinds of blocks, or groupings of text.
- Code Block
- Text Block


## Code Block
In "code" blocks you can write your actual Python code, and outputs coming from your code are printed out nicely at the end of each block. To run your code, just hit the "play button" or right-pointing arrow in the upper left corner of a selected code block.


## Text Block
Then there are also "markdown" blocks where you can write normal text to describe or give context for your code, like the one you are reading right now! There are lots of things you can do in these to customize your text, but we will only briefly discuss one of them: headers.

# If you put a single "#" before text, it will be a large header
## With two "#" symbols, you get a medium-sized header
### Three of them means you get a small header

Blocks can be edited by double-clicking on them. They can be deleted by double-clicking on them and then clicking on the trash can icon in the top-right corner of the block.

You can also create new blocks by clicking on the block you want to be before your new one and then selecting either "+ Code" or "+ Text" in the top-left corner of Google Colab.

And that's basically all you need to know about Jupyter Notebooks. In time you'll learn to love them as much as I do.

> Markdown cheatsheet: https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet

# Python Basics!

## Comment

In [ ]:
# This is a comment
This is not a comment

SyntaxError: ignored

## Variables

So far we have only used various data types once. But for most applications we will want to save values to use later.

This is what variables are for. They give a name to a piece of data so you can refer to or alter it later.

To create the variable just put the name of the variable you want to create, an equal sign, and the piece of data you want to be referenced by your variable.

You can then reference your variable later by typing its name.

In [ ]:
# create var1 variable
var1 = 1
print(var1)

# change var1 variable so that it refers to its old value plus 1
var1 = var1 + 1
print(var1)

# create var2 variable
var2 = 3
print(var2)

# create sum variable which is the result of adding var1 and var2
total = var1 + var2

# print out sum variable
print(total)

1
2
3
5

Python is a dynamically typed language, meaning you do not have to explicitly say what type of data a variable references. This also means that a variable is very flexible and can change its type whenever you want.

In [ ]:
num = 1
print(num)
num = "one"
print(num)

1
one

## Numbers

There are both integer and float numbers in python.

In [ ]:
print(3) # int 
print(3.0) # float
print(3.5e5) # float

3
3.0

350000.0

Python can do basically anything a basic calculator can do.

Typing numbers and basic arithmetic operations (+, -, *, /, %) we can do things like

In [ ]:
1 + 1 # 2
2 * 5 # 10
5 / 2 # 2.5 
5 // 2 # 2 
5 % 2 # 1

1

And the result of our addition is displayed below our code block.

Some more special operations are ** for exponentiation, // for quotient division (divide and then round down to the nearest integer), and % for remainder.

In [ ]:
2 ** 3

2 // 3
4 // 3

10 % 3

1

Notice that in this last code block we typed four expressions, each on their own line.

However, Jupyter by default only returns the result of the last line of a code block. To make sure we see the results of doing all expressions, we can use Python's `print()` function. See below.

In [ ]:
print(2 ** 3)

print(2 // 3)
print(4 // 3)

print(10 % 3)

8
0
1
1

So far we have only used integers, or numbers without decimal portions.

But of course Python can also deal with numbers with decimals, and these numbers are called `floats`.

In [ ]:
print(1.7 + 0.01)

1.71

#### Exercise #1
Use the `print()` function to output the remainder resulting from dividing 7 by 5.

In [1]:
print(7 % 5)

2

#### Exercise #2
Save the result of multiplying 2 by 9 to a variable called `result`. Then, print out `result`.

In [2]:
# Your code here
result = 2 * 9
print(result)

18

## Strings

Another common data type in Python is strings, or sequences of characters. These are surrounded by "".

Notice that both single and double quotes are strings in python. 

Below are some examples.

In [ ]:
print("123")
print('abc')

123
abc

You can create new strings by putting together two other strings. This is done with the `+` operator.

In [ ]:
print("String1" + "&" + "String2")

String1&String2

Python also makes it easy to choose specific characters from a string.

We can both ***indexing*** and ***slicing*** on strings.

### Indexing
We use indexing to access one character in the string. 
This is done with square brackets `[]` right after a string.

You can select an individual character by enclosing the index of that character in the brackets.

> NOTE: Python uses zero-indexing, meaning the first element has index 0, the second element has index 1, etc.

Example string `"abcdefgh"`.

| Index      | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 
| ---------- | - | - | - | - | - | - | - | - | 
| Characters | a | b | c | d | e | f | g | h |

In [ ]:
print("abcdefgh"[0])
print("abcdefgh"[3])

a
d

### Slicing 

We use slicing to aceess multiple characters in the string. 
We can select multiple characters by using `[start : end : step]`

Python slices by INCLUDING the start but EXCLUDING the end. 

Example string `"abcdefgh"`.

| Index      | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 
| ---------- | - | - | - | - | - | - | - | - | 
| Characters | a | b | c | d | e | f | g | h |

In [ ]:
print("abcdefgh"[1:3])
print("abcdefgh"[0:4])
print("abcdefgh"[2:5])

bc
abcd
cde

We could also skip the start or end indices. Python will put the beginning and end of the string by default.

In [ ]:
print("abcdefgh"[3:])
print("abcdefgh"[:6])
print("abcdefgh"[:])

defgh
abcdef
abcdefgh

Python also allows us to go from the end of the string. 

Example string `"abcdefgh"`.

| Index      | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 
| ---------- | - | - | - | - | - | - | - | - | 
| Characters | a | b | c | d | e | f | g | h |

In [ ]:
print("abcdefgh"[:-3])
print("abcdefgh"[-3:])

abcde
fgh

Finally, one last thing about slicing! We could add a step to slice the string. To slice, `example[start, end, step]`.

In [ ]:
print("abcdefgh"[::2])
print("abcdefgh"[1::2])
print("abcdefgh"[1:5:2])
print("abcdefgh"[::-1])

aceg
bdfh
bd
hgfedcba

#### Exercise #3
Pring out the results of joining the strings "Hello" and " World" together and then selecting first five characters of the new combined string.

In [ ]:
# Your code here
print(("Hello"+"World")[:5])

Hello

#### Exercise #4
Print out the uppercase of the string "this string is lowercase."

HINT: Google is your friend to find a helpful function :))))

In [ ]:
# Your code here
statement = "this string is lowercase."

#print(argument)
#thing.method(argument)

print(statement.upper())

statement = statement.upper()

print(statement)

THIS STRING IS LOWERCASE.
THIS STRING IS LOWERCASE.

#### Exercise #5
Reverse the following string.

In [ ]:
prompt = 'abcdefg'

prompt[::-1]

'gfedcba'

#### Exercise #6
Print the string 'abc' by slicing the string '1c1b1a'.

In [ ]:
prompt = '1c1b1a'

prompt[::-2]

'abc'

#### Exercise #7
Print the string "369" by manipulating (merging and slicing) the following strings.

In [ ]:
prompt1 = '01234'
prompt2 = '56789'

(prompt1+prompt2)[3::3]

'369'

## Booleans

Another important data type is the boolean, which is either the value `True` or the value `False`.
These are typed without quotes, differentiating them from strings.

In [ ]:
print(True)
print(False)

True
False

Booleans are usually seen as the result of some sort of test.

To test for equality of numbers and strings, make sure to use two equal signs `==`. Then testing if things are NOT equal uses the operator `!=`.

We can also compare these types using the following symbols: `<`, `<=`, `>`, `>=`. For numbers the meanings of these comparators is straight forward. For strings, it ignores case and looks at the alphabetical order of the characters, and non-alphabetic characters are considered less than alphabetic characters.

We can compare numbers, as expected ...

In [ ]:
print(1 == 2)
print(1 != 2)

print(2 < 1)

False
True
False

We can also compare characters. 
> learn more about how python compares characters: https://en.wikipedia.org/wiki/ASCII

In [ ]:
print("c" == "c")

print("a" < "b")
print("A" > "B")

True
True
False

Also notice that python has its own interpretation on what is `TRUE`. 

Basically, everything that is null or empty or 0 is false. Anything else is True, surprisingly. 
- numbers 
  - 0 is False
  - non zero numbers are True
- strings 
  - `""` empty string is False 
  - other strings are True

In [ ]:
# numbers
print(bool(0))
print(bool(100))
print(bool(-1))

False
True
True

In [ ]:
# strings
print(bool(''))
print(bool("this is a false statement..."))

False
True

Sometimes it is also helpful to chain together multiple tests into one large test. For that we can use the logical operators `and` as well as `or`.

Then `(test1) and (test2)` is `True` only if both `test1` and `test2` are true. If at least one of `test1` or `test2` is false, then the overall test is `False`.

Next consider `(test1) or (test2)`. The overall test is `True` if `test1`, `test2`, or both are `True`. The overall test is `False` only if both `test1` and `test2` are `False`.

- and operator 

| exp1 | exp2 | exp1 and exp 2 |
| ---------- | - | - | 
| True | True | True |
| True | False | False |
| False | True | False | 
| False | False | False |

- or operator

| exp1 | exp2 | exp1 or exp 2 |
| ---------- | - | - | 
| True | True | True |
| True | False | True |
| False | True | True | 
| False | False | False |

In [ ]:
print((1 == 1) and (2 != 1))
print((5 > 1) and (5 < 1))

print(("Test" == "Test") or ("Test" != "Test"))
print(("1" > "2") and ("1" >= "2"))

True
False
True
False

#### Exercise #8
use `bool()` to test if the following boolean expression is `True`.

In [ ]:
(0 or 1) and ("" and "this is false")

''

In [ ]:
(0 or 1) or (0 and 1)

## Casting

We can "convert" values into a different type by casting.

In [ ]:
print(type(9))
print(type(9.0))
print(type(float(9)))
print(type('9'))
print(type(str(9)))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>

## Importing Modules

Sometimes we have to write our own functions and classes. But usually the things we want have already been written by someone else. It saves us a lot of time then, to reuse other people's code.

This is where modules come into play. Modules are collections of classes, objects, and functions that are all ready to use. All you have to do to use the things in them is import the module. This is done by typing the keyword `import` followed by the name of the module.

In [ ]:
import numpy

Then everytime you want to use a function or object from the module you imported, you have to type the name of the module, a dot `.`, and then the name of the thing in the module you want to use.

In [ ]:
# create a NumPy array object. 
# You will more about this in the first session
numpy.array([1,2,4])

array([1, 2, 4])

Typing out the full name of the module each time you want to use something in it can get a little annoying. If you want to give your module a new name (maybe a shorter one) that you can use to refer to it, you can use the `as` keyword after the import statement.

In [ ]:
# import with abbreviation np
import numpy as np
# create another NumPy array object using abbreviation
np.array([1,2,4])

array([1, 2, 4])

Lastly, some modules can be really big. Importing every single class and function from a module could take up extra space on your computer and slow it down. To avoid this, you can specify which exact things should be taken from the module.

Just type `from` followed by the module name, and then type `import` followed by the specific things you want.

The only problem is that now you are forced to type out the full name of the module.

In [ ]:
# just get the array class and the sum function from NumPy
from numpy import array, sum
# Find the sum of a NumPy array
numpy.sum(numpy.array([1,2,4]))

7