# Introduction Python for Data Science
### Workshop 1 of DASIL's Series on "Data Science with Python"
### Created by Linh Tang, Britney He, Christopher Moppel, Sergio Martelo, and Martin Pollack

# Base Python

## Strings

String literals can be enclosed in matching single quotes (') or double quotes ("); either is fine. Let's see an example:

In [ ]:
s = "How are you?"
print(s)

# Get the data type of s
print(type(s))

How are you?
<class 'str'>

The <b>len</b> function is a built-in function of Python, which is widely used for getting the length of a list of any type.

In [ ]:
len(s)

12

The <b>in</b> operator returns True if one string is a substring of another.

In [ ]:
s1 = "hello"
s2 = "hell"
s3 = "world"
print(s2 in s1)
print(s3 in s1)

True
False

#### String Method

In [ ]:
s = "This is text"
s

'This is text'

In [ ]:
# change s is all uppercase, sumbols and numbers are ignored
print(s.upper())

# change s to all lowercse
print(s.lower())

# count number of occurence of an alement in the string
print(s.count("is "))

THIS IS TEXT
this is text
2

Note that all strings and string methods in Python are case sensitve

In [ ]:
s = " \tThis is a text.\n"     # \t: tab, \n: new line
print(s)

# remove any leading or trailling space
s = s.strip()
print(s)

# replace a specificed values with another specified value
s = s.replace(" ", "-")
print(s)

 	This is a text.

This is a text.
This-is-a-text.

## Exercises - Strings

In [ ]:
s = "I'm learning Python data analytics."

Get the type of `s`.

In [ ]:
# Your answer here

Get the first character in `s`.

In [ ]:
# Your answer here

Get the last character in `s`.

In [ ]:
# Your answer here

Get the first 3 characters in `s`.

In [ ]:
# Your answer here

Get the last 10 characters in `s`.

In [ ]:
# Your answer here

Check if the substring <i>Python</i> is in `s`.

In [ ]:
# Your answer here

Get only the <i>Python</i> part in `s`. (Use slicing.)

In [ ]:
# Your answer here

Get the lower-case version of `s`.

In [ ]:
# Your answer here

Count the number of <i>yt</i>'s in `s`.

In [ ]:
# Your answer here

Remove all whitespaces in `s`. (Use <b>replace</b>.)

In [ ]:
# Your answer here

Remove the trailing period in `s` and then split it into a list of word tokens. (Use dot notation.)

In [ ]:
# Your answer here

In [ ]:
# List
spring_classes = ['CSC151', 'STA310', 'STA395', 'CSC151', 'MAT215']

# Tuple 
inventory_price = ('Textbook', 100)

# Dictionary 
my_college = {'college': 'Grinnell College', 'state': 'Iowa', 'ranking': 12}

# Set
student_mentors = {'Linh', 'Britney', 'Martin', 'Chris', 'Sergio'}

## Lists

A list is a collection that is ordered, mutable, indexed, and written with square brackets. It allows duplicate members.

In [ ]:
l = []
print(l, type(l))

[] <class 'list'>

List elements do not have to be of the same type.

In [ ]:
l = [1, 2, 3, "a", "b", "c"]
l

[1, 2, 3, 'a', 'b', 'c']

The length of a list is the number of items in the list.

In [ ]:
len(l)

6

The <b>in</b> operator is exactly the same as in String

In [ ]:
3 in l

True

In [ ]:
"z" in l

False

### List Methods

The easiest way to combine two lists is to use the + operator, just as combining two strings.

In [ ]:
l1 = [1, 2, 3]
l2 = ["a", "b", "c"]
l1 + l2

[1, 2, 3, 'a', 'b', 'c']

The <b>append</b> method appends an element to the end of the list. Note that the <b>append</b> method actually appends a new element to the target list, not returning a copy.

In [ ]:
l = [1, 2, 3]
l.append(4)
l

[1, 2, 3, 4]

The <b>sort</b> method sorts the list in ascending order by default. Note that the <b>sort</b> method actually sorts the target list, not returning a copy.

In [ ]:
l = [1, 6, 3, 4, 2, 5]
l.sort()
l

[1, 2, 3, 4, 5, 6]

Setting the `reverse` parameter to True will sort the list in descending order.

In [ ]:
l = [1, 6, 3, 4, 2, 5]
l.sort(reverse=True)
l

[6, 5, 4, 3, 2, 1]

Python also has a built-in function <b>sorted</b>, which works the same as the <b>sort</b> method except that it returns a new copy.

In [ ]:
l = [1, 6, 3, 4, 2, 5]
sorted(l)

[1, 2, 3, 4, 5, 6]

In [ ]:
sorted(l, reverse=True)

[6, 5, 4, 3, 2, 1]

The <b>count</b> method returns the number of elements with the specified value.

In [ ]:
l = [1, 2, 3, 4, 5, 4, 3, 2, 1]
l.count(1)

2

## Exercises - Lists

In [ ]:
animals = ["dog", "cat", "bird", "tiger", "lion", "fox"]

Get the type of `animals`.

In [ ]:
# Your answer here

Check if <i>elephant</i> is in `animals`. The output must be either True or False.

In [ ]:
# Your answer here

Append a new element <i>elephant</i> to `animals`. Be careful not to append the element multple times.

In [ ]:
# Your answer here

Get the number of elements in `animals`.

In [ ]:
# Your answer here

Get the first 5 items in `animals`.

In [ ]:
# Your answer here

Get a new sorted list of `animals` in reverse alphabetical order.

In [ ]:
# Your answer here

## Dictionaries

A dictionary is a collection of key-value mappings that is unordered, mutable, indexed, and written with curly brackets. If you look up a key in the dictionary, it returns its value, but not vice versa. It allows no duplicate keys.

When designing a dictionary, you should think about what should be the key and what should be the value. It depends on the purpose of the dictionary.

In [ ]:
d = {}
print(d, type(d))

{} <class 'dict'>

`buildings` is a dictionary for UI building name abbreviations. If you look up an abbreviation, it returns its full name.

In [ ]:
buildings = {"UCC": "University Capitol Center", "PBB": "Pappajohn Business Building"}
print(buildings, type(buildings))

{'UCC': 'University Capitol Center', 'PBB': 'Pappajohn Business Building'} <class 'dict'>

If you look up a key in a dictionary, it returns, if any, its value.

In [ ]:
buildings["UCC"]

'University Capitol Center'

In [ ]:
buildings["PBB"]

'Pappajohn Business Building'

If there is not the key in the dictionary, it returns KeyError.

In [ ]:
buildings["IMU"]

KeyError: 'IMU'

In [ ]:
buildings.keys()

dict_keys(['UCC', 'PBB'])

In [ ]:
buildings.values()

dict_values(['University Capitol Center', 'Pappajohn Business Building'])

In [ ]:
buildings["IMU"] = "Iowa Memorial Union"
buildings

{'UCC': 'University Capitol Center',
 'PBB': 'Pappajohn Business Building',
 'IMU': 'Iowa Memorial Union'}

You can check if a key is in a dictionary using the <b>in</b> operator.

In [ ]:
"IMU" in buildings

True

In [ ]:
"SH" in buildings

False

The length of a dictionary is the number of key-value mappings in the dictionary.

In [ ]:
len(buildings)

3

## ▪ Built-in Functions

The <b>len</b> function returns the length of an object.

In [ ]:
len(s)

35

The <b>max</b> function returns the largest item in a list.

In [ ]:
l = [1, 2, 3, 4, 5]
max(l)

5

The <b>min</b> function returns the smallest item in a list.

In [ ]:
min(l)

1

The <b>print</b> function prints the specified message to the screen or other standard output device.

In [ ]:
s = "I'm learning Python data analytics."
print(s)

I'm learning Python data analytics.

The <b>range</b>(start, stop) function returns a sequence of numbers, starting from `start` and increments by 1 and ends at `stop` - 1.

In [ ]:
range(0, 10)

range(0, 10)

In [ ]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

You can skip `start` if it is 0.

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

The <b>range</b>(start, stop, step) function increments by `step`.

In [ ]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

The <b>round</b>(number, ndigits) function rounds `number` rounded to `ndigits` precision.

In [ ]:
round(3.141592, 2)            # Round 3.141592 to 2 decimal places

3.14

If `ndigits` is omitted, it returns the nearest integer to its input.

In [ ]:
round(3.141592)

3

The <b>sum</b> function sums the items of an iterator.

In [ ]:
sum(l)

15

The <b>reversed</b> function returns a reversed iterator.

In [ ]:
l = [1, 5, 3, 2, 4]
list(reversed(l))

[4, 2, 3, 5, 1]

The <b>zip</b> function returns an iterator that aggregates elements from each of the lists.

In [ ]:
l1 = ["Alice", "Bob", "Tom"]
l2 = [30, 25, 34]
zip(l1, l2)

In [ ]:
list(zip(l1, l2))

[('Alice', 30), ('Bob', 25), ('Tom', 34)]

### Difference between Functions and Methods

- A function looks like this: <b>function_name(something)</b>, e.g., sorted(l1)
- A method looks like this: <b>something.method_name()</b>, e.g., l1.sort()

A method always belongs to an object (e.g. string methods only work for string objects, list methods only work for list objects, etc.), while a function doesn’t necessarily (e.g., you can use the <b>len</b> function for nearly any data type).

## Exercises - Built-in Functions

Get the min value in `l`.

In [ ]:
l = [5, 13, 76, 9, 93, 28, 49, 76, 9, 88]

In [ ]:
# Your answer here

Get the max value in `l`.

In [ ]:
# Your answer here

Get the sum of all values in `l`.

In [ ]:
# Your answer here

Generate a list of all two-digit integers. Two digit integers start with 10 and end with 99.

In [ ]:
# Your answer here

Generate a list of all two-digit even integers.

In [ ]:
# Your answer here

Get the number of 0.333333333333 rounded to 2 precision.

In [ ]:
# Your answer here

## Flow Control

There are three main categories of program control flow in Python:
- branches (if, elif, else)
- loops (for loops)
- function calls

## ▪ Branches

if test1:
    statements1
elif test2:        # optional
    statements2
else:
    statements3    # optional

A Python <b>if</b> statement takes the form of an <b>if</b> test, followed by one or more optional <b>elif</b> ("else if") tests and a final optional <b>else</b> block.

The tests and <b>else</b> part each have an associated block of nested statements, indented under a headline.

When the <b>if</b> statement runs, Python executes the block of code associated with the first test that evaluates to true, or the <b>else</b> block if all tests prove false.

In [ ]:
x = -3

In [ ]:
if x > 0:
    print("X is positive.")

It prints nothing because the if test evaluates to false.

In [ ]:
if x > 0:
    print("X is positive.")
else:                                # for the rest of the cases
    print("X is negative.")

X is negative.

In [ ]:
if x > 0:
    print("X is positive.")
elif x == 0:
    print("X is zero.")
else:
    print("X is negative.")

X is negative.

Note that <b>if</b> statements can be nested.

In [ ]:
if x > 0:
    print("X is positive.")
else:
    if x == 0:
        print("X is zero.")
    else:
        print("X is negative.")

X is negative.

Note also that this code using nested <b>if-else</b> statements works exactly the same as the previous code using <b>if-elif-else</b> statements. You can write two different blocks of code that have the same logic.

In [ ]:
if (type(x) == int) | (type(x) == float) | (type(x) == complex):
    print("X is a number.")
else:
    print("X is not a number.")

X is a number.

You can set a complex condition in a test using Boolean operators.

In [ ]:
if type(x) in [int, float, complex]:
    print("X is a number.")
else:
    print("X is not a number.")

X is a number.

You can use the <b>in</b> operator to combine the three conditions into a single condition.

In the example below, if the condition `squirrels_seen > 0` is `True`, repeat the string `squirrels! ` by the number of squirrels seen.

In [ ]:
# I have a dog named Bonnie
# 20 minutes into the walk, she has seen 3 squirrels
squirrels_seen = 3

# if see squirres, repeat "squirrels! " by the number of squirrels seen
if squirrels_seen > 0:
    bonnie_thoughts = "squirrels! " * squirrels_seen
    print(bonnie_thoughts)

Some observations about an `if` statement:
* Notice the `:` after the `if` statement. This is required syntax.
* The body of the code inside the `if` statement is indented. It's standard to use 4 spaces. Jupyter Notebook indents automatically for you.

***
We can also check multiple conditions. For example, suppose you are working with survey data that include a variable about the respondents' sex assigned at birth. *(Note that sex assigned at birth is often a different variable than gender.)*

It's common for sex to be coded as numeric values following a scheme such as:

    Male -> coded as 0
    Female -> coded as 1
    Respondents refused to disclose sex during the survey -> coded as 9

In the example below, we create a variable called `sex_str` to correspond with the numeric variable `sex`.

In [ ]:
sex = 0

if sex == 0:
    sex_str = "Male"
elif sex == 1:
    sex_str = "Female"
elif sex == 9:
    sex_str = "Refused"
else:
    sex_str = "Missing"

# see what sex_str is, given that sex = 0 
print(sex_str)

In the block of conditional statements in the example above, each `if`, `elif` and `else` statement was checked, starting from the the top `if` statement. If the condition is true, the code inside the statement gets executed. Otherwise move down to the next statement.

At the end, all remaining cases get put in the `else` category.

`elif` is short for "else if". You can include as many `elif` statements as you want. It's optional to include `elif` and `else` in a block of conditional statements. Only the first statement, `if`, is required.

Similarly to the `if` statement:
* Notice the `:` after each `elif` and `else` statement. This is required syntax.
* The code inside each `elif` and `else` statement is indented. It's standard to use 4 spaces. Jupyter Notebook indents automatically for you.

### Your turn

1. Create a variable `x` and assign to it the value `120`. Then write a block of conditional statements so that:
* If `x` is equal to 0, create a variable `sign` and assign `0` to it.
* If `x` is less than 0, assign `-1` to `sign`
* If `x` is bigger than 0, assign `1` to `sign`
* Otherwise, assign `9` to `sign`

Print the value of `sign`.

In [ ]:
# Your answer here

## ▪ Loops - For Loops

A <b>for</b> loop steps through the items in a list or any other ordered sequence or iterable object.

for target in object:     # loop header
    statements            # loop body

- It begins with a header line that specifies an assignment target (or targets), along with the object you want to step through. 
- The header is followed by a block of (normally indented) statements that you want to repeat. 
- When Python runs a <b>for</b> loop, it assigns the items in the iterable <i>object</i> to the <i>target</i> one by one and executes the loop body for each. 
- The loop body typically uses the assignment target to refer to the current item in the sequence.

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for num in l:
    print(num)

In [ ]:
sum1 = 0
for num in l:
    sum1 += num     # The same as sum1 = sum1 + num

To get the sum of numbers in <i>l</i>, you need a variable, <i>sum1</i> in the above example, to store the intermediate sum calculated from each iteration. Note that the initial value of <i>sum1</i> was set to 0 to be added by any number later.

In [ ]:
sum1

In [ ]:
sum1 == sum(l)

In [ ]:
product = 1
for num in l:
    product *= num   # The same as product = product * num

Note that the initial value of <i>product</i> was set to 1 to be multiplied by any number later.

In [ ]:
product

In [ ]:
s = "Python"

In [ ]:
for c in s:
    print(c, end=" ")     # end: sets a string appended after the last value, default a newline.

The <b>for</b> loop can iterate over a string.

In [ ]:
for c in reversed(s):
    print(c, end=" ")

In [ ]:
l1 = ["a", "b", "c"]
l2 = ["x", "y", "z"]

In [ ]:
for item1, item2 in zip(l1, l2):
    print(item1 + item2)

The <b>zip</b> function returns a tuple at each iteration.

In [ ]:
buildings = {"UCC": "University Capitol Center",
             "CPHB": "College of Public Health Building",
             "IMU": "Iowa Memorial Union"}

In [ ]:
for key in buildings:
    val = buildings[key]
    print("{} ({})".format(key, val))

One way to iterate over a dictionary is using the keys.

In [ ]:
for key, val in buildings.items():
    print("{} ({})".format(key, val))

Another way to interate over a dicitonary is to use the <b>items</b>() method that returns (key, value) tuples. In this case, you can unpack the key and value in the header line.

In [ ]:
s = {"cat", "dog", "bird"}

In [ ]:
for item in s:
    print(item)

Order of set elements is random. You cannot change the order unless you convert the set to other type such as list.

### Nested For Loops

In [ ]:
l1 = ["a", "b", "c"]
l2 = ["x", "y", "z"]

In [ ]:
for item1 in l1:               # outer for loop
    for item2 in l2:           # inner for loop
        print(item1 + item2)

The inner <b>for</b> loop runs for every item in the outer for loop.

In [ ]:
for item2 in l2:               # outer for loop
    for item1 in l1:           # inner for loop
        print(item1 + item2)

The order of retrieving elements depends on how it is described in the nested <b>for</b> loop.

In [ ]:
l1 = ["a", "b", "c"]
l2 = ["x", "y", "z"]
l3 = ["p", "q", "r"]

for item1 in l1:
    for item2 in l2:
        for item3 in l3:
            print(item1 + item2 + item3)

You can write a nested <b>for</b> loop with a depth of 3 or more.

In [ ]:
l = ["a", "b", "c"]

for item1 in l:
    for item2 in l:
        for item3 in l:
            print(item1 + item2 + item3)

You can write a nested <b>for</b> loop using a single loop.

### `while` loop

The other type of loop is a `while` loop. A `while` loop iterates until some condition is met. In the example below, we print `i` and then increment `i` by `1` as long as `i` is less than `10`.

In [ ]:
i = 0
while i < 10:
    print(i)
    i = i + 1

Note that the argument of the `while` loop, `i < 10`, is a comparison statement. The `while` loop is executed as long as that statement returns `True`.

## Exercises for Loops

Write a <b>for</b> loop that prints all integers from 1 to 100, separated by a tab. Use the <b>range</b> function to generate numbers.

In [ ]:
# Your answer here

Write a <b>for</b> loop that prints all letters in <i>s</i>, separated by a tab.

In [ ]:
s = "abcdefghijklmnopqrstuvwxyz"

In [ ]:
# Your answer here

Write a <b>for</b> loop that prints "ABBREVIATION is the abbreviation for FULLNAME." for each key-value pair in the dictionary <i>states</i>, separated by a new line, where ABBREVIATION is the key in <i>states</i> and FULLNAME the value. For example, the first line should look as follows:

IA is the abbreviation for Iowa.

In [ ]:
states = {"IA": "Iowa", "IL": "Illinois", "MN": "Minnesota", "NE": "Nebraska", "WI": "Wisconsin"}

In [ ]:
# Your answer here

Write a <b>for</b> loop that prints all names in the list <i>names</i> in uppercase, separated by a new line.

In [ ]:
names = ["Alice", "Bob", "Mary", "Sam", "Sarah", "Tom"]

In [ ]:
# Your answer here

## ▪ User-Defined Functions

A function is a block of reusable code that is used to perform a specific action. The advantages of using functions include:
- reducing duplication of code
- decomposing complex problems into simpler pieces
- improving clarity or readability of the code
- reuse of code
- information hiding

def function_name(argument1, argument2, ):
    statements

In [ ]:
def square(x):
    return x * x

In this example, <i>square</i> is the function name; `x` is the (only) argument, or parameter. Make sure to put a colon (:) after the parentheses. `x` * `x` is the return value of this function.

In [ ]:
square(3)

To call a function, just specify the function name followed by parameter values enclosed with parentheses.

In [ ]:
def multiply(x, y):
    return x * y

A function can have multiple arguments.

In [ ]:
multiply(3, 5)

In [ ]:
def multiply_print(x, y):
    print("{} times {} equals {}.".format(x, y, x * y))

A function can return no value.

In [ ]:
multiply_print(3, 5)

In [ ]:
def get_first_2_items(l):
    return l[0], l[1]

A function can return multiple values.

In [ ]:
get_first_2_items([1, 2, 3, 4, 5])

In [ ]:
a, b = get_first_2_items([1, 2, 3, 4, 5])
print(a, b)

A function's return value can be used by assigning it to a variable.

In [ ]:
def just_print():
    print("Hello, world!")

A function can have no arguments.

In [ ]:
just_print()

In [ ]:
def remove_all_whitespaces(s):
    s = s.replace(" ", "")
    s = s.replace("\t", "")
    s = s.replace("\n", "")

    
    return s

You can write a series of operations in the function body.

In [ ]:
remove_all_whitespaces("\t\t\tI'm learning Python Data Analytics.\n")

In [ ]:
def get_max(x, y):
    if x > y:
        return x
    else:
        return y

You can use <b>if</b> statements in the function body to make the function respond differently to the parameters.

In [ ]:
get_max(3, 5)

In [ ]:
def get_max(x, y):
    if x > y:
        return x
        print("Can I be printed???")   # Unreachable code
    else:
        return y

Be aware that a function stops right after it returns a value.

In [ ]:
get_max(3, 5)

In [ ]:
def get_first_n_items(l, n=3):
    return l[:n]

You can set the default value of an argument in a function.

In [ ]:
get_first_n_items([1, 2, 3, 4, 5])

 You will have the option of not specifying a value for that argument when calling the function. If you do not specify a value, then the parameter will have the default value given when the function executes.

## Exercises for User-Defined Functions

Write a function <i>concatenate</i> that takes two strings `s1` and `s2` as arguments and returns the concatenation of the two strings with a space between them.

In [ ]:
# Your answer here

In [ ]:
# Test the function here
concatenate("Learning", "Python")     # Output: 'Learning Python'

Write a function <i>concatenate_all</i> that takes a list `l` of strings as an argument and returns the concatenation of all strings in `l` with a space between them.

In [ ]:
# Your answer here

In [ ]:
# Test the function here
concatenate_all(["Python", "R", "SAS", "SPSS", "Matlab", "Stata"])     # Output: 'Python R SAS SPSS Matlab Stata'

Write a function <i>get_min</i> that takes two numbers `num1` and `num2` as arguments and returns the lesser value. If the two numbers are equal, it returns either value.

In [ ]:
# Your answer here

In [ ]:
# Test the function here
get_min(3, 5)     # Output: 3

In [ ]:
# Test the function here
get_min(3, 3)     # Output: 3

Write a function <i>get_min_all</i> that takes a list `l` of numbers as an argument and returns the least value in `l`. If the two numbers are equal, it returns either value.

In [ ]:
# Your answer here

In [ ]:
# Test the function here
get_min_all([3, 2, 9, 6, 2, 7])     # Output: 2

Write a function <i>get_head_tail</i> that takes a list `l` as an argument and returns the first and last elements in `l`. If `l` has fewer than 2 elements, it should return "The input list is too short!".

In [ ]:
# Your answer here

In [ ]:
# Test the function here
get_head_tail(["Python", "R", "SAS", "SPSS", "Matlab", "Stata"]) # Output: ('Python', 'Stata').

In [ ]:
# Test the function here
get_head_tail(["Python"])                                        # Output: 'The input list is too short!'.

# NumPy

To use Numpy, we first need to import the `numpy` package:

In [ ]:
import numpy as np

## Arrays

A numpy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. The number of dimensions is the rank of the array; the shape of an array is a tuple of integers giving the size of the array along each dimension.

We can initialize numpy arrays from nested Python lists, and access elements using square brackets:

The `shape()` array method gives the shape of the array (the width by the height), as shown in the following example.

In [ ]:
a = np.array([1, 2, 3])  # Create a rank 1 array
print(a.shape, a[0], a[1], a[2])
a[0] = 5                 # Change an element of the array
print(a)

<class 'numpy.ndarray'> (3,) 1 2 3
[5 2 3]

In [ ]:
b = np.array([[1,2,3],[4,5,6]])   # Create a rank 2 array
print(b)

[[1 2 3]
 [4 5 6]]

In [ ]:
print(b.shape)
print(b[0, 0], b[0, 1], b[1, 0])

(2, 3)
1 2 4

Numpy also provides many functions to create arrays:

In [ ]:
a = np.zeros((2,2))  # Create an array of all zeros
print(a)

[[0. 0.]
 [0. 0.]]

In [ ]:
b = np.ones((1,2))   # Create an array of all ones
print(b)

[[1. 1.]]

In [ ]:
c = np.full((2,2), 7) # Create a constant array
print(c)

[[7 7]
 [7 7]]

In [ ]:
d = np.eye(2)        # Create a 2x2 identity matrix
print(d)

[[1. 0.]
 [0. 1.]]

In [ ]:
e = np.random.random((2,2)) # Create an array filled with random values
print(e)

[[0.8690054  0.57244319]
 [0.29647245 0.81464494]]

##Exercises - Arrays

Given 2 similarly-sized NumPy arrays, 'a' and 'b', how do you find a NumPy array output in which every element is an element-wise sum of the 'a' and 'b'  NumPy arrays?

In [ ]:
a = np.array([[1,2,3],
              [4,5,6]])

b = np.array([[10,11,12],
              [13,14,15]])

In [ ]:
# Your answer here

How about getting a 2x3 NumPy array in which every element is a scalar multiple of 3 and the corresponding element in the NumPy array 'a'?

In [ ]:
# Your answer here

Create an identity matrix of dimension 4-by-4

In [ ]:
# Your answer here

Stack 2 numpy arrays horizontally i.e., 2 arrays having the same 1st dimension (number of rows in 2D arrays)

In [ ]:
a1 = np.array([[1,2,3],
               [4,5,6]])

a2 = np.array([[7,8,9],
               [10,11,12]])

In [ ]:
# Your answer here

Stack 2 numpy arrays vertically i.e., 2 arrays having the same last dimension (number of columns in 2D arrays)

In [ ]:
a3 = np.array([[1,2],
               [3,4],
               [5,6]])

a4 = np.array([[7,8],
               [9,10],
               [11,12]])

In [ ]:
# Your answer here

Generate a sequence of numbers in the form of a numpy array from 0 to 100 with gaps of 2 numbers, for example: 0, 2, 4,...

In [ ]:
# Your answer here

## Array indexing

Numpy offers several ways to index into arrays.

Slicing: Similar to Python lists, numpy arrays can be sliced. Since arrays may be multidimensional, you must specify a slice for each dimension of the array:

In [ ]:
import numpy as np

# Create the following rank 2 array with shape (3, 4)
# [[ 1  2  3  4]
#  [ 5  6  7  8]
#  [ 9 10 11 12]]
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])

# Use slicing to pull out the subarray consisting of the first 2 rows
# and columns 1 and 2; b is the following array of shape (2, 2):
# [[2 3]
#  [6 7]]
b = a[:2, 1:3]
print(b)

[[2 3]
 [6 7]]

A slice of an array is a view into the same data, so modifying it will modify the original array.

In [ ]:
print(a[0, 1])
b[0, 0] = 77    # b[0, 0] is the same piece of data as a[0, 1]
print(a[0, 1])

2
77

You can also mix integer indexing with slice indexing. However, doing so will yield an array of lower rank than the original array. Note that this is quite different from the way that MATLAB handles array slicing:

In [ ]:
# Create the following rank 2 array with shape (3, 4)
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
print(a)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

Two ways of accessing the data in the middle row of the array.
Mixing integer indexing with slices yields an array of lower rank,
while using only slices yields an array of the same rank as the
original array:

In [ ]:
row_r1 = a[1, :]    # Rank 1 view of the second row of a  
row_r2 = a[1:2, :]  # Rank 2 view of the second row of a
row_r3 = a[[1], :]  # Rank 2 view of the second row of a
print(row_r1, row_r1.shape)
print(row_r2, row_r2.shape)
print(row_r3, row_r3.shape)

[5 6 7 8] (4,)
[[5 6 7 8]] (1, 4)
[[5 6 7 8]] (1, 4)

In [ ]:
# We can make the same distinction when accessing columns of an array:
col_r1 = a[:, 1]
col_r2 = a[:, 1:2]
print(col_r1, col_r1.shape)
print()
print(col_r2, col_r2.shape)

[ 2  6 10] (3,)

[[ 2]
 [ 6]
 [10]] (3, 1)

Integer array indexing: When you index into numpy arrays using slicing, the resulting array view will always be a subarray of the original array. In contrast, integer array indexing allows you to construct arbitrary arrays using the data from another array. Here is an example:

In [ ]:
a = np.array([[1,2], [3, 4], [5, 6]])

# An example of integer array indexing.
# The returned array will have shape (3,) and 
print(a[[0, 1, 2], [0, 1, 0]])

# The above example of integer array indexing is equivalent to this:
print(np.array([a[0, 0], a[1, 1], a[2, 0]]))

[1 4 5]
[1 4 5]

In [ ]:
# When using integer array indexing, you can reuse the same
# element from the source array:
print(a[[0, 0], [1, 1]])

# Equivalent to the previous integer array indexing example
print(np.array([a[0, 1], a[0, 1]]))

[2 2]
[2 2]

One useful trick with integer array indexing is selecting or mutating one element from each row of a matrix:

In [ ]:
# Create a new array from which we will select elements
a = np.array([[1,2,3], [4,5,6], [7,8,9], [10, 11, 12]])
print(a)

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

In [ ]:
# Create an array of indices
b = np.array([0, 2, 0, 1])

# Select one element from each row of a using the indices in b
print(a[np.arange(4), b])  # Prints "[ 1  6  7 11]"

[ 1  6  7 11]

In [ ]:
# Mutate one element from each row of a using the indices in b
a[np.arange(4), b] += 10
print(a)

[[11  2  3]
 [ 4  5 16]
 [17  8  9]
 [10 21 12]]

Boolean array indexing: Boolean array indexing lets you pick out arbitrary elements of an array. Frequently this type of indexing is used to select the elements of an array that satisfy some condition. Here is an example:

In [ ]:
import numpy as np

a = np.array([[1,2], [3, 4], [5, 6]])

bool_idx = (a > 2)  # Find the elements of a that are bigger than 2;
                    # this returns a numpy array of Booleans of the same
                    # shape as a, where each slot of bool_idx tells
                    # whether that element of a is > 2.

print(bool_idx)

[[False False]
 [ True  True]
 [ True  True]]

In [ ]:
# We use boolean array indexing to construct a rank 1 array
# consisting of the elements of a corresponding to the True values
# of bool_idx
print(a[bool_idx])

# We can do all of the above in a single concise statement:
print(a[a > 2])

[3 4 5 6]
[3 4 5 6]

For brevity we have left out a lot of details about numpy array indexing; if you want to know more you should read the documentation.

##Exercises - Array Indexing

Replace all elements of an array which have values greater than 50 to 15.50"

In [ ]:
n_arr = np.array([75.42436315, 42.48558583, 60.32924763])

In [ ]:
# Your answer here

Replace all negative values of an array with 0

In [ ]:
ini_array1 = np.array([1, 2, -3, 4, -5, -6])

In [ ]:
# Your answer here

Given the following NumPy array 'a', extract the second column of 'a'.

In [ ]:
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])

In [ ]:
# Your answer here

Get the element at the intersection of the first row and third column of 'a'

In [ ]:
# Your answer here

## Datatypes

Every numpy array is a grid of elements of the same type. Numpy provides a large set of numeric datatypes that you can use to construct arrays. Numpy tries to guess a datatype when you create an array, but functions that construct arrays usually also include an optional argument to explicitly specify the datatype. Here is an example:

In [ ]:
x = np.array([1, 2])  # Let numpy choose the datatype
y = np.array([1.0, 2.0])  # Let numpy choose the datatype
z = np.array([1, 2], dtype=np.int64)  # Force a particular datatype

print(x.dtype, y.dtype, z.dtype)

int64 float64 int64

You can read all about numpy datatypes in the [documentation](http://docs.scipy.org/doc/numpy/reference/arrays.dtypes.html).

##Array math

Basic mathematical functions operate elementwise on arrays, and are available both as operator overloads and as functions in the numpy module:

In [ ]:
x = np.array([[1,2],[3,4]], dtype=np.float64)
y = np.array([[5,6],[7,8]], dtype=np.float64)

# Elementwise sum; both produce the array
print(x + y)
print(np.add(x, y))

[[ 6.  8.]
 [10. 12.]]
[[ 6.  8.]
 [10. 12.]]

In [ ]:
# Elementwise difference; both produce the array
print(x - y)
print(np.subtract(x, y))

[[-4. -4.]
 [-4. -4.]]
[[-4. -4.]
 [-4. -4.]]

In [ ]:
# Elementwise product; both produce the array
print(x * y)
print(np.multiply(x, y))

[[ 5. 12.]
 [21. 32.]]
[[ 5. 12.]
 [21. 32.]]

In [ ]:
# Elementwise division; both produce the array
# [[ 0.2         0.33333333]
#  [ 0.42857143  0.5       ]]
print(x / y)
print(np.divide(x, y))

[[0.2        0.33333333]
 [0.42857143 0.5       ]]
[[0.2        0.33333333]
 [0.42857143 0.5       ]]

In [ ]:
# Elementwise square root; produces the array
# [[ 1.          1.41421356]
#  [ 1.73205081  2.        ]]
print(np.sqrt(x))

[[1.         1.41421356]
 [1.73205081 2.        ]]

Note that unlike MATLAB, `*` is elementwise multiplication, not matrix multiplication. We instead use the dot function to compute inner products of vectors, to multiply a vector by a matrix, and to multiply matrices. dot is available both as a function in the numpy module and as an instance method of array objects:

In [ ]:
x = np.array([[1,2],[3,4]])
y = np.array([[5,6],[7,8]])

v = np.array([9,10])
w = np.array([11, 12])

# Inner product of vectors; both produce 219
print(v.dot(w))
print(np.dot(v, w))

219
219

You can also use the `@` operator which is equivalent to numpy's `dot` operator.

In [ ]:
print(v @ w)

219

In [ ]:
# Matrix / vector product; both produce the rank 1 array [29 67]
print(x.dot(v))
print(np.dot(x, v))
print(x @ v)

[29 67]
[29 67]
[29 67]

In [ ]:
# Matrix / matrix product; both produce the rank 2 array
# [[19 22]
#  [43 50]]
print(x.dot(y))
print(np.dot(x, y))
print(x @ y)

[[19 22]
 [43 50]]
[[19 22]
 [43 50]]
[[19 22]
 [43 50]]

Numpy provides many useful functions for performing computations on arrays; one of the most useful is `sum`:

In [ ]:
x = np.array([[1,2],[3,4]])

print(np.sum(x))  # Compute sum of all elements; prints "10"
print(np.sum(x, axis=0))  # Compute sum of each column; prints "[4 6]"
print(np.sum(x, axis=1))  # Compute sum of each row; prints "[3 7]"

10
[4 6]
[3 7]

You can find the full list of mathematical functions provided by numpy in the [documentation](http://docs.scipy.org/doc/numpy/reference/routines.math.html).

Apart from computing mathematical functions using arrays, we frequently need to reshape or otherwise manipulate data in arrays. The simplest example of this type of operation is transposing a matrix; to transpose a matrix, simply use the T attribute of an array object:

In [ ]:
print(x)
print("transpose\n", x.T)

[[1 2]
 [3 4]]
transpose
 [[1 3]
 [2 4]]

In [ ]:
v = np.array([[1,2,3]])
print(v )
print("transpose\n", v.T)

[[1 2 3]]
transpose
 [[1]
 [2]
 [3]]

# Pandas

## Read and inspect tabular data

To start using `pandas`, we first import it and give it as the alias `pd`.

Run the code cell below. To run a code cell in Jupyter Notebook, click in the gray cell and press **Shift + Enter** (Windows) or **Shift + Return** (Mac).

In [ ]:
import pandas as pd

We will be using the **B Corp Impact Data** from https://data.world/blab/b-corp-impact-data for the examples in this notebook. This dataset contains information on corporations and their scores on multiple areas, like external communities in which they operate, environment, customers, workers, and governance.

Read in its CSV file using `pandas` and call the dataset `impact`:

In [ ]:
impact = pd.read_csv("B Corp Impact Data.csv")


`pandas` can also read *and write* many other types of files, like:

- CSV files: `read_csv()` and `to_csv()`
- Excel files: `read_excel()` and `to_excel()`
- SAS data files: `read_sas()` 
- SPSS data files: `read_spss()` 
- Stata data files: `read_stata()` and `to_stata()`

To see a summary of the `impact` dataset:

In [ ]:
impact.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8799 entries, 0 to 8798
Columns: 127 entries, company_id to certification_cycle
dtypes: float64(110), int64(1), object(16)
memory usage: 8.5+ MB

`impact` is a `DataFrame`, which is a 2-dimensional data structure. Each `DataFrame` has rows and columns.

To see the dimension of `impact`:

In [ ]:
impact.shape

(8799, 127)

To see the first few rows of `impact`, use `head()`.

In [ ]:
impact.head()

,company_id,company_name,date_first_certified,date_certified,current_status,description,industry,industry_category,products_and_services,country,...,ia_workers_it_human_rights_labor_policy,ia_workers_it_job_flexibility_corporate_culture,ia_workers_it_management_worker_communication,ia_workers_it_occupational_health_safety,ia_workers_it_training_education,ia_workers_it_worker_benefits,ia_workers_it_worker_owned,ia_workers_it_worker_ownership,ia_workers_it_workforce_development,certification_cycle
0,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2021-02-26,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2017-08-30,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
2,001C000001bVjmIIAS,Boomera,2017-12-27,2017-12-27,certified,Boomera work with cutting-edge technology and ...,Recycling Services & Waste Management,Energy & Environmental Services,"recycling, upcycling",Brazil,...,0.2,NaN,1.8,2.3,1.6,NaN,NaN,0.9,NaN,1.0
3,0013b00001nESw5AAG,ekWateur,2021-02-22,2021-02-22,certified,"ekWateur propose de l’électricité, du gaz et d...",Renewable Energy Generation & Installation,Energy & Environmental Services,"Electricité, gaz et bois renouvelables.",France,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,001C000001afeGsIAI,Maker srl,2017-05-19,2021-02-19,certified,Maker srl provides mechanical parts and mainte...,Machinery & Equipment,Business Products & Services,Mechanical parts and maintenance services for ...,Italy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

Each `DataFrame` has **column labels** and **row labels**. Column labels are often column headings, such as `company_id`, `company_name`, ... in this example. Row labels are often `0`, `1`, `2`, ... if they are not specified.

To see the last few rows of `impact`, use `tail()`.

In [ ]:
impact.tail()

,company_id,company_name,date_first_certified,date_certified,current_status,description,industry,industry_category,products_and_services,country,...,ia_workers_it_human_rights_labor_policy,ia_workers_it_job_flexibility_corporate_culture,ia_workers_it_management_worker_communication,ia_workers_it_occupational_health_safety,ia_workers_it_training_education,ia_workers_it_worker_benefits,ia_workers_it_worker_owned,ia_workers_it_worker_ownership,ia_workers_it_workforce_development,certification_cycle
8794,001C000001ghV6XIAU,Danone North America,2018-04-02,2018-03-14,certified,Danone North America is a purpose-driven compa...,Food & Beverage,Consumer Products & Services,Food & Beverage,United States,...,0.6,1.8,1.2,0.9,1.6,NaN,NaN,1.5,NaN,2.0
8795,001C000001afHX8IAM,Institución Educativa SEK,2020-04-23,2020-04-23,certified,Institución Educativa SEK encompasses an educa...,Education & Training Services,Education & Training Services,Education/Higer Education,Spain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
8796,001C000001iwbf3IAA,Envato,2020-06-22,2020-06-22,certified,"At Envato, they’re all about great creative co...",IT Software & Services/Web Design,Business Products & Services,"Digital assets marketplace, creative subscript...",Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
8797,001C000000zk8zuIAA,Laureate Education,2015-12-11,2017-12-01,de-certified,"Laureate Education, Inc. is the largest global...",Education & Training Services,Education & Training Services,Higher Education Services,United States,...,0.7,0.9,2.9,1.1,3.0,NaN,NaN,1.0,0.0,1.0
8798,001C000000zk8zuIAA,Laureate Education,2015-12-11,2015-10-30,de-certified,"Laureate Education, Inc. is the largest global...",Education & Training Services,Education & Training Services,Higher Education Services,United States,...,0.6,0.9,2.8,1.3,2.6,8.3,NaN,2.7,NaN,2.0

Calling `impact` will give the first and last few rows of the dataset. Click on the margin on the left side of the output to condense the display.

In [ ]:
impact

`info()`, `head()`, and `tail()` are **methods**. We can apply them to a `DataFrame` like so: `DataFrame.method()`.


`shape` is a **property**. We can apply properties to a `DataFrame` like so: `DataFrame.property`.

## Select a subset of a DataFrame

### Select columns

We can access a column of a `DataFrame` like accessing a *property* of that `DataFrame` using `.`.

In [ ]:
impact.company_name

0               Someone Somewhere
1               Someone Somewhere
2                         Boomera
3                        ekWateur
4                       Maker srl
                  ...
8794         Danone North America
8795    Institución Educativa SEK
8796                       Envato
8797           Laureate Education
8798           Laureate Education
Name: company_name, Length: 8799, dtype: object

We can also access a column using the `[]` accessor.

In [ ]:
impact["company_name"]

0               Someone Somewhere
1               Someone Somewhere
2                         Boomera
3                        ekWateur
4                       Maker srl
                  ...
8794         Danone North America
8795    Institución Educativa SEK
8796                       Envato
8797           Laureate Education
8798           Laureate Education
Name: company_name, Length: 8799, dtype: object

With `[]`, we can specify column names that have whitespace or access multiple columns using a list within it.

In [ ]:
impact[["company_name", "current_status"]]

                   company_name current_status
0             Someone Somewhere      certified
1             Someone Somewhere      certified
2                       Boomera      certified
3                      ekWateur      certified
4                     Maker srl      certified
...                         ...            ...
8794       Danone North America      certified
8795  Institución Educativa SEK      certified
8796                     Envato      certified
8797         Laureate Education   de-certified
8798         Laureate Education   de-certified

[8799 rows x 2 columns]

When we select 1 column from a `DataFrame`, we get a **`Series`**. A `Series` is 1-dimensional and doesn't have column labels. It has row labels.

In [ ]:
type(impact["company_name"])

pandas.core.series.Series

In [ ]:
impact["company_name"].shape

(8799,)

When we select more than 1 column from a `DataFrame`, we get another **`DataFrame`**.

In [ ]:
type(impact[["company_name", "current_status"]])

pandas.core.frame.DataFrame

In [ ]:
impact[["company_name", "current_status"]].shape

(8799, 2)

Notice how the `shape` property can be used with both `Series` and `DataFrame`. There are quite a few `pandas` methods and properties that can be used with both `Series` and `DataFrame`. Use the `pandas` reference often to look up any `pandas` objects or functions that you don't know: https://pandas.pydata.org/docs/reference/index.html.

### Select rows

The accessor `[]` can be used to select rows as well. For example, here we select the first 5 rows of the dataset.

Python indexing starts at 0 and doesn't include the ending point.

In [ ]:
impact[0:5]

,company_id,company_name,date_first_certified,date_certified,current_status,description,industry,industry_category,products_and_services,country,...,ia_workers_it_human_rights_labor_policy,ia_workers_it_job_flexibility_corporate_culture,ia_workers_it_management_worker_communication,ia_workers_it_occupational_health_safety,ia_workers_it_training_education,ia_workers_it_worker_benefits,ia_workers_it_worker_owned,ia_workers_it_worker_ownership,ia_workers_it_workforce_development,certification_cycle
0,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2021-02-26,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2017-08-30,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
2,001C000001bVjmIIAS,Boomera,2017-12-27,2017-12-27,certified,Boomera work with cutting-edge technology and ...,Recycling Services & Waste Management,Energy & Environmental Services,"recycling, upcycling",Brazil,...,0.2,NaN,1.8,2.3,1.6,NaN,NaN,0.9,NaN,1.0
3,0013b00001nESw5AAG,ekWateur,2021-02-22,2021-02-22,certified,"ekWateur propose de l’électricité, du gaz et d...",Renewable Energy Generation & Installation,Energy & Environmental Services,"Electricité, gaz et bois renouvelables.",France,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,001C000001afeGsIAI,Maker srl,2017-05-19,2021-02-19,certified,Maker srl provides mechanical parts and mainte...,Machinery & Equipment,Business Products & Services,Mechanical parts and maintenance services for ...,Italy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

We often want to select rows that meet certain criteria. For example, this conditional statement checks if each company is currently certified or not.

In [ ]:
impact["current_status"] == "certified"

0        True
1        True
2        True
3        True
4        True
        ...
8794     True
8795     True
8796     True
8797    False
8798    False
Name: current_status, Length: 8799, dtype: bool

The result is a boolean `Series` that we can use to filter the dataset to get only the rows where the companies are currently certified.

In [ ]:
impact[impact["current_status"] == "certified"]

,company_id,company_name,date_first_certified,date_certified,current_status,description,industry,industry_category,products_and_services,country,...,ia_workers_it_human_rights_labor_policy,ia_workers_it_job_flexibility_corporate_culture,ia_workers_it_management_worker_communication,ia_workers_it_occupational_health_safety,ia_workers_it_training_education,ia_workers_it_worker_benefits,ia_workers_it_worker_owned,ia_workers_it_worker_ownership,ia_workers_it_workforce_development,certification_cycle
0,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2021-02-26,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2017-08-30,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
2,001C000001bVjmIIAS,Boomera,2017-12-27,2017-12-27,certified,Boomera work with cutting-edge technology and ...,Recycling Services & Waste Management,Energy & Environmental Services,"recycling, upcycling",Brazil,...,0.2,NaN,1.8,2.3,1.6,NaN,NaN,0.9,NaN,1.0
3,0013b00001nESw5AAG,ekWateur,2021-02-22,2021-02-22,certified,"ekWateur propose de l’électricité, du gaz et d...",Renewable Energy Generation & Installation,Energy & Environmental Services,"Electricité, gaz et bois renouvelables.",France,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,001C000001afeGsIAI,Maker srl,2017-05-19,2021-02-19,certified,Maker srl provides mechanical parts and mainte...,Machinery & Equipment,Business Products & Services,Mechanical parts and maintenance services for ...,Italy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8792,001C000001TZiM4IAL,Benefit Systems,2018-07-04,2018-07-04,certified,Benefit Systems is an international company wi...,Employee Benefits,Business Products & Services,Professional Services,Poland,...,0.9,NaN,2.6,1.7,4.0,NaN,NaN,1.0,NaN,1.0
8793,001C000001ghV6XIAU,Danone North America,2018-04-02,2021-04-07,certified,Danone North America is a purpose-driven compa...,Food & Beverage,Consumer Products & Services,Food & Beverage,United States,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,1.0
8794,001C000001ghV6XIAU,Danone North America,2018-04-02,2018-03-14,certified,Danone North America is a purpose-driven compa...,Food & Beverage,Consumer Products & Services,Food & Beverage,United States,...,0.6,1.8,1.2,0.9,1.6,NaN,NaN,1.5,NaN,2.0
8795,001C000001afHX8IAM,Institución Educativa SEK,2020-04-23,2020-04-23,certified,Institución Educativa SEK encompasses an educa...,Education & Training Services,Education & Training Services,Education/Higer Education,Spain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
8796,001C000001iwbf3IAA,Envato,2020-06-22,2020-06-22,certified,"At Envato, they’re all about great creative co...",IT Software & Services/Web Design,Business Products & Services,"Digital assets marketplace, creative subscript...",Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

We can also use `&` to check multiple conditions. Here we filter to get the rows where the companies are currently certified and the companies are based in the US.

In [ ]:
impact[(impact["current_status"] == "certified") & (impact["country"] == "United States")]

,company_id,company_name,date_first_certified,date_certified,current_status,description,industry,industry_category,products_and_services,country,...,ia_workers_it_human_rights_labor_policy,ia_workers_it_job_flexibility_corporate_culture,ia_workers_it_management_worker_communication,ia_workers_it_occupational_health_safety,ia_workers_it_training_education,ia_workers_it_worker_benefits,ia_workers_it_worker_owned,ia_workers_it_worker_ownership,ia_workers_it_workforce_development,certification_cycle
8,001C000001mVesLIAS,Fig Industries,2019-07-03,2019-07-03,certified,Fig Industries believes that powerful design a...,Marketing & Communications Services,Business Products & Services,"Branding, Marketing, Graphic Design, Photograp...",United States,...,NaN,1.3,2.2,NaN,1.3,NaN,NaN,0.0,NaN,1.0
11,001C000001gjJJAIA2,nextOPP Search,2019-03-06,2019-03-06,certified,NextOPP Search is a national recruiting agency...,HR Consulting & Recruiting,Business Products & Services,Executive Search & Recruiting with purpose. Hi...,United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
19,0013b00001nF0uCAAS,Sweet Origins,2020-09-01,2020-09-01,certified,Sweet Origins sells organic coconut water and ...,Food & Beverage,Consumer Products & Services,Frozen Tropical Ingredients.,United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
20,001C0000019rIwWIAU,Jeni's Splendid Ice Creams,2013-12-31,2018-06-04,certified,Jeni’s Splendid Ice Creams is a modern America...,Food & Beverage,Consumer Products & Services,Ice Creams.,United States,...,NaN,2.2,1.0,1.1,0.9,NaN,NaN,1.3,NaN,1.0
21,001C0000019rIwWIAU,Jeni's Splendid Ice Creams,2013-12-31,2016-03-11,certified,Jeni’s Splendid Ice Creams is a modern America...,Food & Beverage,Consumer Products & Services,Ice Creams.,United States,...,NaN,2.2,0.8,1.1,0.8,5.9,NaN,2.2,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,001C000001SzZ2LIAV,Home Leasing,2017-08-14,2017-08-17,certified,"Based in Rochester, New York, Home Leasing is ...",Real Estate Development,Building,"Real Estate Development, Construction, Propert...",United States,...,NaN,1.2,1.3,0.8,0.7,NaN,NaN,0.4,NaN,2.0
8781,001C000001YsnXSIAZ,The Bama Companies Inc.,2017-09-21,2017-09-21,certified,Bama is an innovator of wholesome bakery and s...,Food & Beverage,Consumer Products & Services,Frozen Bakery Products,United States,...,0.0,1.8,2.1,1.2,1.8,NaN,NaN,0.8,0.0,1.0
8782,001C000001lPeMQIA0,Kin and Carta Americas,2021-01-14,2021-12-06,certified,"A global consulting firm built for the 2020s, ...",IT Software & Services/Web Design,Business Products & Services,"Digital Transformation, Enterprise Modernizati...",United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
8793,001C000001ghV6XIAU,Danone North America,2018-04-02,2021-04-07,certified,Danone North America is a purpose-driven compa...,Food & Beverage,Consumer Products & Services,Food & Beverage,United States,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,1.0
8794,001C000001ghV6XIAU,Danone North America,2018-04-02,2018-03-14,certified,Danone North America is a purpose-driven compa...,Food & Beverage,Consumer Products & Services,Food & Beverage,United States,...,0.6,1.8,1.2,0.9,1.6,NaN,NaN,1.5,NaN,2.0

Use `|` to check if either condition is true. Here we filter to get either the companies that are currently certified *or* the companies are based in the US.

In [ ]:
impact[(impact["current_status"] == "certified") | (impact["country"] == "United States")]

,company_id,company_name,date_first_certified,date_certified,current_status,description,industry,industry_category,products_and_services,country,...,ia_workers_it_human_rights_labor_policy,ia_workers_it_job_flexibility_corporate_culture,ia_workers_it_management_worker_communication,ia_workers_it_occupational_health_safety,ia_workers_it_training_education,ia_workers_it_worker_benefits,ia_workers_it_worker_owned,ia_workers_it_worker_ownership,ia_workers_it_workforce_development,certification_cycle
0,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2021-02-26,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2017-08-30,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
2,001C000001bVjmIIAS,Boomera,2017-12-27,2017-12-27,certified,Boomera work with cutting-edge technology and ...,Recycling Services & Waste Management,Energy & Environmental Services,"recycling, upcycling",Brazil,...,0.2,NaN,1.8,2.3,1.6,NaN,NaN,0.9,NaN,1.0
3,0013b00001nESw5AAG,ekWateur,2021-02-22,2021-02-22,certified,"ekWateur propose de l’électricité, du gaz et d...",Renewable Energy Generation & Installation,Energy & Environmental Services,"Electricité, gaz et bois renouvelables.",France,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,001C000001afeGsIAI,Maker srl,2017-05-19,2021-02-19,certified,Maker srl provides mechanical parts and mainte...,Machinery & Equipment,Business Products & Services,Mechanical parts and maintenance services for ...,Italy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8794,001C000001ghV6XIAU,Danone North America,2018-04-02,2018-03-14,certified,Danone North America is a purpose-driven compa...,Food & Beverage,Consumer Products & Services,Food & Beverage,United States,...,0.6,1.8,1.2,0.9,1.6,NaN,NaN,1.5,NaN,2.0
8795,001C000001afHX8IAM,Institución Educativa SEK,2020-04-23,2020-04-23,certified,Institución Educativa SEK encompasses an educa...,Education & Training Services,Education & Training Services,Education/Higer Education,Spain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
8796,001C000001iwbf3IAA,Envato,2020-06-22,2020-06-22,certified,"At Envato, they’re all about great creative co...",IT Software & Services/Web Design,Business Products & Services,"Digital assets marketplace, creative subscript...",Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
8797,001C000000zk8zuIAA,Laureate Education,2015-12-11,2017-12-01,de-certified,"Laureate Education, Inc. is the largest global...",Education & Training Services,Education & Training Services,Higher Education Services,United States,...,0.7,0.9,2.9,1.1,3.0,NaN,NaN,1.0,0.0,1.0
8798,001C000000zk8zuIAA,Laureate Education,2015-12-11,2015-10-30,de-certified,"Laureate Education, Inc. is the largest global...",Education & Training Services,Education & Training Services,Higher Education Services,United States,...,0.6,0.9,2.8,1.3,2.6,8.3,NaN,2.7,NaN,2.0

A handy function is `isin()`, which returns a `True` for each row where the value is in the provided list. Here we filter to get companies that are based in the US or Italy.

In [ ]:
impact[impact["country"].isin(["United States", "Italy"])]

,company_id,company_name,date_first_certified,date_certified,current_status,description,industry,industry_category,products_and_services,country,...,ia_workers_it_human_rights_labor_policy,ia_workers_it_job_flexibility_corporate_culture,ia_workers_it_management_worker_communication,ia_workers_it_occupational_health_safety,ia_workers_it_training_education,ia_workers_it_worker_benefits,ia_workers_it_worker_owned,ia_workers_it_worker_ownership,ia_workers_it_workforce_development,certification_cycle
4,001C000001afeGsIAI,Maker srl,2017-05-19,2021-02-19,certified,Maker srl provides mechanical parts and mainte...,Machinery & Equipment,Business Products & Services,Mechanical parts and maintenance services for ...,Italy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
5,001C000001afeGsIAI,Maker srl,2017-05-19,2017-05-19,certified,Maker srl provides mechanical parts and mainte...,Machinery & Equipment,Business Products & Services,Mechanical parts and maintenance services for ...,Italy,...,NaN,NaN,5.5,NaN,1.5,NaN,NaN,2.0,NaN,2.0
8,001C000001mVesLIAS,Fig Industries,2019-07-03,2019-07-03,certified,Fig Industries believes that powerful design a...,Marketing & Communications Services,Business Products & Services,"Branding, Marketing, Graphic Design, Photograp...",United States,...,NaN,1.3,2.2,NaN,1.3,NaN,NaN,0.0,NaN,1.0
11,001C000001gjJJAIA2,nextOPP Search,2019-03-06,2019-03-06,certified,NextOPP Search is a national recruiting agency...,HR Consulting & Recruiting,Business Products & Services,Executive Search & Recruiting with purpose. Hi...,United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
19,0013b00001nF0uCAAS,Sweet Origins,2020-09-01,2020-09-01,certified,Sweet Origins sells organic coconut water and ...,Food & Beverage,Consumer Products & Services,Frozen Tropical Ingredients.,United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8790,001C000001JdMkoIAF,Aboca Group,2019-11-11,2020-01-10,certified,Aboca is the leading group in the therapeutic ...,Agricultural Services,Agriculture,"Agriculture, natural food supplements and medi...",Italy,...,NaN,0.3,0.1,0.0,0.2,NaN,NaN,0.0,NaN,1.0
8793,001C000001ghV6XIAU,Danone North America,2018-04-02,2021-04-07,certified,Danone North America is a purpose-driven compa...,Food & Beverage,Consumer Products & Services,Food & Beverage,United States,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,1.0
8794,001C000001ghV6XIAU,Danone North America,2018-04-02,2018-03-14,certified,Danone North America is a purpose-driven compa...,Food & Beverage,Consumer Products & Services,Food & Beverage,United States,...,0.6,1.8,1.2,0.9,1.6,NaN,NaN,1.5,NaN,2.0
8797,001C000000zk8zuIAA,Laureate Education,2015-12-11,2017-12-01,de-certified,"Laureate Education, Inc. is the largest global...",Education & Training Services,Education & Training Services,Higher Education Services,United States,...,0.7,0.9,2.9,1.1,3.0,NaN,NaN,1.0,0.0,1.0
8798,001C000000zk8zuIAA,Laureate Education,2015-12-11,2015-10-30,de-certified,"Laureate Education, Inc. is the largest global...",Education & Training Services,Education & Training Services,Higher Education Services,United States,...,0.6,0.9,2.8,1.3,2.6,8.3,NaN,2.7,NaN,2.0

### Select rows and columns

The accessor `[]` can select an entry in the `DataFrame`. We specify the column name first, followed by the row index. For example, here we select the first (index 0) company name in the dataset.

In [ ]:
impact["company_name"][0]

'Someone Somewhere'

`iloc` and `loc` offer more flexible ways to access elements in a `DataFrame`.

Using `iloc`, we specify the *index* of the elements.  For example, here we select the entries that are in the first 3 rows and the second column of the dataset.

We specify the row index first, followed by a comma(`,`), then the column index. Notice how this is in opposite order of using the accessor `[]`, which was column then row.

In [ ]:
impact.iloc[0:3, 1]

0    Someone Somewhere
1    Someone Somewhere
2              Boomera
Name: company_name, dtype: object

Select the entries that are in the first 3 rows and the first 3 columns.

In [ ]:
impact.iloc[0:3, 0:3]

           company_id       company_name date_first_certified
0  001C000001LkZXSIA3  Someone Somewhere           2017-08-30
1  001C000001LkZXSIA3  Someone Somewhere           2017-08-30
2  001C000001bVjmIIAS            Boomera           2017-12-27

Using `loc`, we specify the *label* of the elements. For example, select the entries that are in rows 0 to 3 and in the column `company_name`.

`loc` comes in handy when we know the name of the column that we want, but not the order of that column in the dataset.

Notice how `loc` includes the ending point, while `iloc` doesn't.

In [ ]:
impact.loc[0:3, "company_name"]

0    Someone Somewhere
1    Someone Somewhere
2              Boomera
3             ekWateur
Name: company_name, dtype: object

We can use `:` (slicing) when specifying column labels with `loc` as well. Select the entries in rows 0 to 3 and in columns from `company_id` to `date_first_certified`. Notice again that `loc` includes the ending point.

In [ ]:
impact.loc[0:3, "company_id": "date_first_certified"]

           company_id       company_name date_first_certified
0  001C000001LkZXSIA3  Someone Somewhere           2017-08-30
1  001C000001LkZXSIA3  Someone Somewhere           2017-08-30
2  001C000001bVjmIIAS            Boomera           2017-12-27
3  0013b00001nESw5AAG           ekWateur           2021-02-22

And we can also supply a list of column labels with `loc`.

In [ ]:
impact.loc[0:3, ["company_id", "company_name", "current_status", "overall_score"]]

           company_id       company_name current_status  overall_score
0  001C000001LkZXSIA3  Someone Somewhere      certified           87.1
1  001C000001LkZXSIA3  Someone Somewhere      certified          100.8
2  001C000001bVjmIIAS            Boomera      certified           96.1
3  0013b00001nESw5AAG           ekWateur      certified           89.0

Using both conditional statements and `loc` gives us a lot of flexibility in selecting subsets of the dataset. Here, select companies whose overall scores are more than 180.

In [ ]:
impact.loc[impact["overall_score"] > 180, "company_name"]

4375    South Mountain Company, Inc.
4376    South Mountain Company, Inc.
4377    South Mountain Company, Inc.
4378    South Mountain Company, Inc.
5208                     ECO2LIBRIUM
Name: company_name, dtype: object

For those companies that have overall score more than 180, print out the company name, the date the company was certified and the certification cycle.

In [ ]:
impact.loc[impact["overall_score"] > 180, ["company_name", "date_certified", "certification_cycle"]]

                      company_name date_certified  certification_cycle
4375  South Mountain Company, Inc.     2021-06-23                  1.0
4376  South Mountain Company, Inc.     2017-09-01                  2.0
4377  South Mountain Company, Inc.     2015-08-13                  3.0
4378  South Mountain Company, Inc.     2013-05-10                  4.0
5208                   ECO2LIBRIUM     2016-10-27                  2.0

Using `&` to combine multiple conditions and print out a few columns:

In [ ]:
impact.loc[(impact["industry"] == "Food & Beverage") & (impact["country"] == "United States"), 
           ["company_name", "date_certified", "certification_cycle"]]

                    company_name date_certified  certification_cycle
19                 Sweet Origins     2020-09-01                  1.0
20    Jeni's Splendid Ice Creams     2018-06-04                  1.0
21    Jeni's Splendid Ice Creams     2016-03-11                  2.0
22    Jeni's Splendid Ice Creams     2013-12-31                  3.0
66                          Numi     2020-10-14                  1.0
...                          ...            ...                  ...
8706                VeeV Spirits     2008-06-25                  2.0
8726       Bison Brewing Company     2010-11-12                  3.0
8781     The Bama Companies Inc.     2017-09-21                  1.0
8793        Danone North America     2021-04-07                  1.0
8794        Danone North America     2018-03-14                  2.0

[504 rows x 3 columns]

Assign the filter results to a new dataset.

In [ ]:
impact_us_food_drink = impact.loc[(impact["industry"] == "Food & Beverage") & (impact["country"] == "United States"), 
           ["company_name", "date_certified", "certification_cycle"]]

impact_us_food_drink

                    company_name date_certified  certification_cycle
19                 Sweet Origins     2020-09-01                  1.0
20    Jeni's Splendid Ice Creams     2018-06-04                  1.0
21    Jeni's Splendid Ice Creams     2016-03-11                  2.0
22    Jeni's Splendid Ice Creams     2013-12-31                  3.0
66                          Numi     2020-10-14                  1.0
...                          ...            ...                  ...
8706                VeeV Spirits     2008-06-25                  2.0
8726       Bison Brewing Company     2010-11-12                  3.0
8781     The Bama Companies Inc.     2017-09-21                  1.0
8793        Danone North America     2021-04-07                  1.0
8794        Danone North America     2018-03-14                  2.0

[504 rows x 3 columns]

Notice how the new dataset retains the row index of the original dataset. We can reset the row index of the new dataset with `reset_index()`.

The `inplace = True` argument tells `pandas` to modify the `DataFrame` in place and not to create a new object. The `drop = True` tells `pandas` not to insert index into dataframe columns.

In [ ]:
impact_us_food_drink.reset_index(inplace = True, drop = True)

impact_us_food_drink.head()

                 company_name date_certified  certification_cycle
0               Sweet Origins     2020-09-01                  1.0
1  Jeni's Splendid Ice Creams     2018-06-04                  1.0
2  Jeni's Splendid Ice Creams     2016-03-11                  2.0
3  Jeni's Splendid Ice Creams     2013-12-31                  3.0
4                        Numi     2020-10-14                  1.0

### Delete columns

As you can tell from the above exercises, it is handy to know the column names in a dataset. Often when you download your data from an external source, the source will also have information about the columns that you can look up. The `columns` property is a handy way to see what columns your dataset has.

In [ ]:
impact.columns

Index(['company_id', 'company_name', 'date_first_certified', 'date_certified',
       'current_status', 'description', 'industry', 'industry_category',
       'products_and_services', 'country',
       ...
       'ia_workers_it_human_rights_labor_policy',
       'ia_workers_it_job_flexibility_corporate_culture',
       'ia_workers_it_management_worker_communication',
       'ia_workers_it_occupational_health_safety',
       'ia_workers_it_training_education', 'ia_workers_it_worker_benefits',
       'ia_workers_it_worker_owned', 'ia_workers_it_worker_ownership',
       'ia_workers_it_workforce_development', 'certification_cycle'],
      dtype='object', length=127)

See what column is in the 22nd position:

In [ ]:
impact.columns[22]

'impact_area_workers'

See what columns are in the 23th to 133th positions:

In [ ]:
impact.columns[23:133]

Index(['impact_area_community_na_score', 'impact_area_customers_na_score',
       'impact_area_environment_na_score', 'impact_area_governance_na_score',
       'impact_area_workers_na_score',
       'ia_community_it_civic_engagement_giving',
       'ia_community_it_designed_for_charitable_giving',
       'ia_community_it_designed_to_give',
       'ia_community_it_diversity_equity_inclusion',
       'ia_community_it_diversity_inclusion',
       ...
       'ia_workers_it_human_rights_labor_policy',
       'ia_workers_it_job_flexibility_corporate_culture',
       'ia_workers_it_management_worker_communication',
       'ia_workers_it_occupational_health_safety',
       'ia_workers_it_training_education', 'ia_workers_it_worker_benefits',
       'ia_workers_it_worker_owned', 'ia_workers_it_worker_ownership',
       'ia_workers_it_workforce_development', 'certification_cycle'],
      dtype='object', length=104)

This comes in handy when we want to delete a range of columns. For example, here we use the `drop()` method to delete columns in the 23th to 133th position. The `axis = 1` argument means drop the columns (`axis = 0` for rows). The `inplace = True` argument means do the operation inplace and not to return a copy.

In [ ]:
impact.drop(impact.columns[23:133], axis = 1, inplace = True)

We can also specify the names of the columns directly using `drop()`.

In [ ]:
impact.drop(columns = ["b_corp_profile", "website"], inplace = True)

Our `impact` dataset now has fewer columns. We'll proceed with this new copy to calculate some summary statistics in the section below.

In [ ]:
impact

,company_id,company_name,date_first_certified,date_certified,current_status,description,industry,industry_category,products_and_services,country,...,city,sector,size,assessment_year,overall_score,impact_area_community,impact_area_customers,impact_area_environment,impact_area_governance,impact_area_workers
0,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2021-02-26,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,Ciudad Mexico,Wholesale/Retail,10-49,2020,87.1,27.1,14.2,11.9,14.4,19.3
1,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2017-08-30,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,Ciudad Mexico,Wholesale/Retail,0,2017,100.8,74.0,8.3,5.8,12.7,NaN
2,001C000001bVjmIIAS,Boomera,2017-12-27,2017-12-27,certified,Boomera work with cutting-edge technology and ...,Recycling Services & Waste Management,Energy & Environmental Services,"recycling, upcycling",Brazil,...,São Paulo,Manufacturing,50-249,2017,96.1,15.1,0.0,52.4,7.9,20.7
3,0013b00001nESw5AAG,ekWateur,2021-02-22,2021-02-22,certified,"ekWateur propose de l’électricité, du gaz et d...",Renewable Energy Generation & Installation,Energy & Environmental Services,"Electricité, gaz et bois renouvelables.",France,...,Paris,Service with Significant Environmental Footprint,50-249,2019,89.0,17.2,5.0,28.4,8.2,30.1
4,001C000001afeGsIAI,Maker srl,2017-05-19,2021-02-19,certified,Maker srl provides mechanical parts and mainte...,Machinery & Equipment,Business Products & Services,Mechanical parts and maintenance services for ...,Italy,...,Berbenno di Valtellina,Manufacturing,10-49,2019,80.4,18.3,4.3,18.3,17.1,22.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8794,001C000001ghV6XIAU,Danone North America,2018-04-02,2018-03-14,certified,Danone North America is a purpose-driven compa...,Food & Beverage,Consumer Products & Services,Food & Beverage,United States,...,Broomfield,Manufacturing,1000+,2018,84.9,21.7,0.2,22.8,16.6,23.4
8795,001C000001afHX8IAM,Institución Educativa SEK,2020-04-23,2020-04-23,certified,Institución Educativa SEK encompasses an educa...,Education & Training Services,Education & Training Services,Education/Higer Education,Spain,...,Madrid,Service with Significant Environmental Footprint,250-999,2020,82.1,12.2,23.2,15.7,12.9,18.0
8796,001C000001iwbf3IAA,Envato,2020-06-22,2020-06-22,certified,"At Envato, they’re all about great creative co...",IT Software & Services/Web Design,Business Products & Services,"Digital assets marketplace, creative subscript...",Australia,...,Melbourne,Service with Minor Environmental Footprint,250-999,2020,85.3,23.4,3.4,12.1,9.2,37.0
8797,001C000000zk8zuIAA,Laureate Education,2015-12-11,2017-12-01,de-certified,"Laureate Education, Inc. is the largest global...",Education & Training Services,Education & Training Services,Higher Education Services,United States,...,Baltimore,Service with Significant Environmental Footprint,1000+,2017,104.2,24.0,23.7,10.0,21.0,25.3
8798,001C000000zk8zuIAA,Laureate Education,2015-12-11,2015-10-30,de-certified,"Laureate Education, Inc. is the largest global...",Education & Training Services,Education & Training Services,Higher Education Services,United States,...,Baltimore,Service with Significant Environmental Footprint,1000+,2015,95.8,23.0,18.8,8.3,19.7,25.9

##Exercises - Select a subset of a dataframe

Given the above 'impact' dataframe, select column 7 and display it using the column name alone (square bracket notation)

In [ ]:
# Your answer here

...using ```iloc```

In [ ]:
# Your answer here

...using ```loc```

In [ ]:
# Your answer here

Given the above 'impact' dataframe, select rows 7 and 8 and display them using ```iloc```

In [ ]:
# Your answer here

...using ```loc```

In [ ]:
# Your answer here

## Summary statistics

For text data, it's often handy to see all the unique values of a column. *We'll discuss text data in `pandas` in more details in a later day of the workshop.*

In [ ]:
impact["current_status"].unique()

array(['certified', 'de-certified'], dtype=object)

In [ ]:
impact["country"].unique()

array(['Mexico', 'Brazil', 'France', 'Italy', 'Argentina',
       'United Kingdom', 'United States', 'Chile', 'Venezuela',
       'Australia', 'Germany', 'Hong Kong S.A.R.', 'Paraguay', 'Colombia',
       'Uruguay', 'Canada', 'Netherlands The', 'Guatemala', 'Rwanda',
       'Japan', 'Singapore', 'Kenya', 'Nicaragua', 'Senegal',
       'Switzerland', 'Spain', 'Taiwan', 'Benin', 'New Zealand', 'Egypt',
       'Belgium', 'Peru', 'South Korea', 'Ecuador', 'Dominican Republic',
       'Thailand', 'China', 'Sweden', 'Panama', 'Denmark', 'India',
       'South Africa', 'Luxembourg', 'Poland', 'Malaysia', 'Cyprus',
       'Czech Republic', 'Israel', 'Finland', 'Norway', 'Portugal',
       'Zambia', 'Myanmar', 'Costa Rica', 'Greece', 'Turkey', 'Russia',
       'Bolivia', 'Indonesia', 'Ireland', 'Vietnam', 'Belize', 'Iceland',
       'Bangladesh', 'Mauritius', 'Honduras', 'Austria', 'Uganda',
       'Philippines', 'Ghana', 'United Arab Emirates', 'Burkina Faso',
       'Sierra Leone', 'Tanzania', 'Mozambique', 'Hungary', 'Haiti',
       'Serbia', 'Bulgaria', 'Malta', 'Bahamas The', 'Afghanistan',
       'Lebanon', 'Puerto Rico', 'Nigeria', 'Mongolia'], dtype=object)

To see the unique values plus the counts, use `value_counts()`.

In [ ]:
impact["current_status"].value_counts()

certified       6664
de-certified    2135
Name: current_status, dtype: int64

In [ ]:
impact["sector"].value_counts()

Service with Minor Environmental Footprint          5007
Wholesale/Retail                                    1731
Manufacturing                                       1101
Service with Significant Environmental Footprint     713
Agriculture/Growers                                  225
Service                                               22
Name: sector, dtype: int64

We can also use `value_counts()` with more than 1 column. *Later, we'll see how we can also use `groupby` to get summaries of text data.*

In [ ]:
impact[["current_status", "sector"]].value_counts()

current_status  sector
certified       Service with Minor Environmental Footprint          3734
de-certified    Service with Minor Environmental Footprint          1273
certified       Wholesale/Retail                                    1267
                Manufacturing                                        902
                Service with Significant Environmental Footprint     565
de-certified    Wholesale/Retail                                     464
                Manufacturing                                        199
certified       Agriculture/Growers                                  182
de-certified    Service with Significant Environmental Footprint     148
                Agriculture/Growers                                   43
certified       Service                                               14
de-certified    Service                                                8
dtype: int64

For numeric data, `describe()` gives common summary statistics such as mean, standard deviation, min, and max.

In [ ]:
impact["overall_score"].describe()

count    8799.000000
mean       95.988669
std        16.125190
min        78.200000
25%        83.600000
50%        90.900000
75%       103.300000
max       184.100000
Name: overall_score, dtype: float64

Other methods to get summary statistics include:`count()`, `mean()`, `min()`, `max()`, `sum()`.

Get the average score across the dataset.

In [ ]:
impact["overall_score"].mean()

95.98866916695079

Get the median score across the dataset.

In [ ]:
impact["overall_score"].median()

90.9

Get summary statistics for more than 1 column.

In [ ]:
impact[["overall_score", "assessment_year"]].describe()

       overall_score  assessment_year
count    8799.000000      8799.000000
mean       95.988669      2016.715763
std        16.125190         2.679393
min        78.200000      2007.000000
25%        83.600000      2015.000000
50%        90.900000      2017.000000
75%       103.300000      2019.000000
max       184.100000      2021.000000

Use `agg()` to supply multiple summary statistics functions.

In [ ]:
impact[["overall_score", "assessment_year"]].agg(["min", "median", "max"])

        overall_score  assessment_year
min              78.2           2007.0
median           90.9           2017.0
max             184.1           2021.0

### Add a new column

Let's look at the head of our `dataset` using `pandas`.

In [ ]:
impact.head()

,company_id,company_name,date_first_certified,date_certified,current_status,description,industry,industry_category,products_and_services,country,...,city,sector,size,assessment_year,overall_score,impact_area_community,impact_area_customers,impact_area_environment,impact_area_governance,impact_area_workers
0,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2021-02-26,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,Ciudad Mexico,Wholesale/Retail,10-49,2020,87.1,27.1,14.2,11.9,14.4,19.3
1,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2017-08-30,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,Ciudad Mexico,Wholesale/Retail,0,2017,100.8,74.0,8.3,5.8,12.7,NaN
2,001C000001bVjmIIAS,Boomera,2017-12-27,2017-12-27,certified,Boomera work with cutting-edge technology and ...,Recycling Services & Waste Management,Energy & Environmental Services,"recycling, upcycling",Brazil,...,São Paulo,Manufacturing,50-249,2017,96.1,15.1,0.0,52.4,7.9,20.7
3,0013b00001nESw5AAG,ekWateur,2021-02-22,2021-02-22,certified,"ekWateur propose de l’électricité, du gaz et d...",Renewable Energy Generation & Installation,Energy & Environmental Services,"Electricité, gaz et bois renouvelables.",France,...,Paris,Service with Significant Environmental Footprint,50-249,2019,89.0,17.2,5.0,28.4,8.2,30.1
4,001C000001afeGsIAI,Maker srl,2017-05-19,2021-02-19,certified,Maker srl provides mechanical parts and mainte...,Machinery & Equipment,Business Products & Services,Mechanical parts and maintenance services for ...,Italy,...,Berbenno di Valtellina,Manufacturing,10-49,2019,80.4,18.3,4.3,18.3,17.1,22.2

We can create a new column like so:

In [ ]:
impact["new_col"] = "hello I'm new"

In [ ]:
impact.head()

,company_id,company_name,date_first_certified,date_certified,current_status,description,industry,industry_category,products_and_services,country,...,sector,size,assessment_year,overall_score,impact_area_community,impact_area_customers,impact_area_environment,impact_area_governance,impact_area_workers,new_col
0,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2021-02-26,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,Wholesale/Retail,10-49,2020,87.1,27.1,14.2,11.9,14.4,19.3,hello I'm new
1,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2017-08-30,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,Wholesale/Retail,0,2017,100.8,74.0,8.3,5.8,12.7,NaN,hello I'm new
2,001C000001bVjmIIAS,Boomera,2017-12-27,2017-12-27,certified,Boomera work with cutting-edge technology and ...,Recycling Services & Waste Management,Energy & Environmental Services,"recycling, upcycling",Brazil,...,Manufacturing,50-249,2017,96.1,15.1,0.0,52.4,7.9,20.7,hello I'm new
3,0013b00001nESw5AAG,ekWateur,2021-02-22,2021-02-22,certified,"ekWateur propose de l’électricité, du gaz et d...",Renewable Energy Generation & Installation,Energy & Environmental Services,"Electricité, gaz et bois renouvelables.",France,...,Service with Significant Environmental Footprint,50-249,2019,89.0,17.2,5.0,28.4,8.2,30.1,hello I'm new
4,001C000001afeGsIAI,Maker srl,2017-05-19,2021-02-19,certified,Maker srl provides mechanical parts and mainte...,Machinery & Equipment,Business Products & Services,Mechanical parts and maintenance services for ...,Italy,...,Manufacturing,10-49,2019,80.4,18.3,4.3,18.3,17.1,22.2,hello I'm new

### Modify an existing column

We can use similar syntax to modify an existing column. Note that this overwrites the values in that column.

In [ ]:
impact["new_col"] = impact["overall_score"].max()

In [ ]:
impact.head()

,company_id,company_name,date_first_certified,date_certified,current_status,description,industry,industry_category,products_and_services,country,...,sector,size,assessment_year,overall_score,impact_area_community,impact_area_customers,impact_area_environment,impact_area_governance,impact_area_workers,new_col
0,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2021-02-26,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,Wholesale/Retail,10-49,2020,87.1,27.1,14.2,11.9,14.4,19.3,184.1
1,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2017-08-30,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,Wholesale/Retail,0,2017,100.8,74.0,8.3,5.8,12.7,NaN,184.1
2,001C000001bVjmIIAS,Boomera,2017-12-27,2017-12-27,certified,Boomera work with cutting-edge technology and ...,Recycling Services & Waste Management,Energy & Environmental Services,"recycling, upcycling",Brazil,...,Manufacturing,50-249,2017,96.1,15.1,0.0,52.4,7.9,20.7,184.1
3,0013b00001nESw5AAG,ekWateur,2021-02-22,2021-02-22,certified,"ekWateur propose de l’électricité, du gaz et d...",Renewable Energy Generation & Installation,Energy & Environmental Services,"Electricité, gaz et bois renouvelables.",France,...,Service with Significant Environmental Footprint,50-249,2019,89.0,17.2,5.0,28.4,8.2,30.1,184.1
4,001C000001afeGsIAI,Maker srl,2017-05-19,2021-02-19,certified,Maker srl provides mechanical parts and mainte...,Machinery & Equipment,Business Products & Services,Mechanical parts and maintenance services for ...,Italy,...,Manufacturing,10-49,2019,80.4,18.3,4.3,18.3,17.1,22.2,184.1

Create a new column for the scaled version of `overall_score`.

In [ ]:
impact["overall_score_scaled"] = impact["overall_score"] / impact["overall_score"].max() * 100

In [ ]:
impact.head()

,company_id,company_name,date_first_certified,date_certified,current_status,description,industry,industry_category,products_and_services,country,...,size,assessment_year,overall_score,impact_area_community,impact_area_customers,impact_area_environment,impact_area_governance,impact_area_workers,new_col,overall_score_scaled
0,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2021-02-26,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,10-49,2020,87.1,27.1,14.2,11.9,14.4,19.3,184.1,47.311244
1,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2017-08-30,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,0,2017,100.8,74.0,8.3,5.8,12.7,NaN,184.1,54.752852
2,001C000001bVjmIIAS,Boomera,2017-12-27,2017-12-27,certified,Boomera work with cutting-edge technology and ...,Recycling Services & Waste Management,Energy & Environmental Services,"recycling, upcycling",Brazil,...,50-249,2017,96.1,15.1,0.0,52.4,7.9,20.7,184.1,52.199891
3,0013b00001nESw5AAG,ekWateur,2021-02-22,2021-02-22,certified,"ekWateur propose de l’électricité, du gaz et d...",Renewable Energy Generation & Installation,Energy & Environmental Services,"Electricité, gaz et bois renouvelables.",France,...,50-249,2019,89.0,17.2,5.0,28.4,8.2,30.1,184.1,48.343292
4,001C000001afeGsIAI,Maker srl,2017-05-19,2021-02-19,certified,Maker srl provides mechanical parts and mainte...,Machinery & Equipment,Business Products & Services,Mechanical parts and maintenance services for ...,Italy,...,10-49,2019,80.4,18.3,4.3,18.3,17.1,22.2,184.1,43.671917

`overall_score_scaled` is now on the 100-point scale.

In [ ]:
impact["overall_score_scaled"].describe()

count    8799.000000
mean       52.139418
std         8.758930
min        42.476915
25%        45.410103
50%        49.375339
75%        56.110809
max       100.000000
Name: overall_score_scaled, dtype: float64

### Rename columns

Use `rename()` to change the names of columns. Use the `inplace = True` argument to modify the columns of the existing dataset and not to create a copy.

In [ ]:
impact.rename(columns = {"new_col": "not_needed", "overall_score_scaled": "overall_score_100"}, inplace = True)

Check the names of the columns of `impact` after the change:

In [ ]:
impact.columns

Index(['company_id', 'company_name', 'date_first_certified', 'date_certified',
       'current_status', 'description', 'industry', 'industry_category',
       'products_and_services', 'country', 'state', 'city', 'sector', 'size',
       'assessment_year', 'overall_score', 'impact_area_community',
       'impact_area_customers', 'impact_area_environment',
       'impact_area_governance', 'impact_area_workers', 'not_needed',
       'overall_score_100'],
      dtype='object')

Drop the `not_needed` and `overall_score` columns since we no longer need them.

In [ ]:
impact.drop(columns = ["not_needed", "overall_score"], inplace = True)

In [ ]:
impact.head()

,company_id,company_name,date_first_certified,date_certified,current_status,description,industry,industry_category,products_and_services,country,...,city,sector,size,assessment_year,impact_area_community,impact_area_customers,impact_area_environment,impact_area_governance,impact_area_workers,overall_score_100
0,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2021-02-26,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,Ciudad Mexico,Wholesale/Retail,10-49,2020,27.1,14.2,11.9,14.4,19.3,47.311244
1,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2017-08-30,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,Ciudad Mexico,Wholesale/Retail,0,2017,74.0,8.3,5.8,12.7,NaN,54.752852
2,001C000001bVjmIIAS,Boomera,2017-12-27,2017-12-27,certified,Boomera work with cutting-edge technology and ...,Recycling Services & Waste Management,Energy & Environmental Services,"recycling, upcycling",Brazil,...,São Paulo,Manufacturing,50-249,2017,15.1,0.0,52.4,7.9,20.7,52.199891
3,0013b00001nESw5AAG,ekWateur,2021-02-22,2021-02-22,certified,"ekWateur propose de l’électricité, du gaz et d...",Renewable Energy Generation & Installation,Energy & Environmental Services,"Electricité, gaz et bois renouvelables.",France,...,Paris,Service with Significant Environmental Footprint,50-249,2019,17.2,5.0,28.4,8.2,30.1,48.343292
4,001C000001afeGsIAI,Maker srl,2017-05-19,2021-02-19,certified,Maker srl provides mechanical parts and mainte...,Machinery & Equipment,Business Products & Services,Mechanical parts and maintenance services for ...,Italy,...,Berbenno di Valtellina,Manufacturing,10-49,2019,18.3,4.3,18.3,17.1,22.2,43.671917

## Create groups with `groupby`

Recall from the "Summary statistics" section that we can get the average overall score like so:

In [ ]:
impact["overall_score_100"].mean()

52.13941834163541

The average score can vary for each sector. Use `groupby` to divide the dataset into groups, 1 group for each sector, then calculate the average score for each group.

The command below doesn't modify the dataset directly. It only creates groups in order to calculate the average score for each group.

In [ ]:
impact.groupby("sector")["overall_score_100"].mean()

sector
Agriculture/Growers                                 53.981290
Manufacturing                                       51.571062
Service                                             49.888894
Service with Minor Environmental Footprint          52.452932
Service with Significant Environmental Footprint    52.379683
Wholesale/Retail                                    51.284294
Name: overall_score_100, dtype: float64

We can also create groups based on more than 1 column. For example, calculate the average score for each group of `current_status` and `sector`:

In [ ]:
impact.groupby(["current_status", "sector"])["overall_score_100"].mean()

current_status  sector
certified       Agriculture/Growers                                 53.458763
                Manufacturing                                       51.395896
                Service                                             48.129898
                Service with Minor Environmental Footprint          52.522368
                Service with Significant Environmental Footprint    52.077603
                Wholesale/Retail                                    51.132646
de-certified    Agriculture/Growers                                 56.192918
                Manufacturing                                       52.365030
                Service                                             52.967137
                Service with Minor Environmental Footprint          52.249260
                Service with Significant Environmental Footprint    53.532892
                Wholesale/Retail                                    51.698384
Name: overall_score_100, dtype: float64

The `size()` method computes the size for each group. This is essentially the number of rows in each group.

In [ ]:
impact.groupby(["current_status", "sector"]).size()

current_status  sector
certified       Agriculture/Growers                                  182
                Manufacturing                                        902
                Service                                               14
                Service with Minor Environmental Footprint          3734
                Service with Significant Environmental Footprint     565
                Wholesale/Retail                                    1267
de-certified    Agriculture/Growers                                   43
                Manufacturing                                        199
                Service                                                8
                Service with Minor Environmental Footprint          1273
                Service with Significant Environmental Footprint     148
                Wholesale/Retail                                     464
dtype: int64

The `count()` method also computes the group size, but `count()` excludes missing values.

In [ ]:
impact.groupby(["current_status", "sector"]).count()

                                                                 company_id  \
current_status sector
certified      Agriculture/Growers                                      182
               Manufacturing                                            902
               Service                                                   14
               Service with Minor Environmental Footprint              3734
               Service with Significant Environmental Footprint         565
               Wholesale/Retail                                        1267
de-certified   Agriculture/Growers                                       43
               Manufacturing                                            199
               Service                                                    8
               Service with Minor Environmental Footprint              1273
               Service with Significant Environmental Footprint         148
               Wholesale/Retail                                         464

                                                                 company_name  \
current_status sector
certified      Agriculture/Growers                                        182
               Manufacturing                                              902
               Service                                                     14
               Service with Minor Environmental Footprint                3734
               Service with Significant Environmental Footprint           565
               Wholesale/Retail                                          1267
de-certified   Agriculture/Growers                                         43
               Manufacturing                                              199
               Service                                                      8
               Service with Minor Environmental Footprint                1272
               Service with Significant Environmental Footprint           148
               Wholesale/Retail                                           464

                                                                 date_first_certified  \
current_status sector
certified      Agriculture/Growers                                                182
               Manufacturing                                                      902
               Service                                                             14
               Service with Minor Environmental Footprint                        3734
               Service with Significant Environmental Footprint                   565
               Wholesale/Retail                                                  1267
de-certified   Agriculture/Growers                                                 43
               Manufacturing                                                      199
               Service                                                              8
               Service with Minor Environmental Footprint                        1273
               Service with Significant Environmental Footprint                   148
               Wholesale/Retail                                                   464

                                                                 date_certified  \
current_status sector
certified      Agriculture/Growers                                          182
               Manufacturing                                                902
               Service                                                       14
               Service with Minor Environmental Footprint                  3734
               Service with Significant Environmental Footprint             565
               Wholesale/Retail                                            1267
de-certified   Agriculture/Growers                                           43
               Manufacturing                                                197
               Service                                                        8
               Service with Minor Environmental Footprint                  1265
               Service with Significant Environmental Footprint             148
               Wholesale/Retail                                             461

                                                                 description  \
current_status sector
certified      Agriculture/Growers                                       182
               Manufacturing                                             898
               Service                                                    14
               Service with Minor Environmental Footprint               3734
               Service with Significant Environmental Footprint          565
               Wholesale/Retail                                         1267
de-certified   Agriculture/Growers                                        43
               Manufacturing                                             199
               Service                                                     8
               Service with Minor Environmental Footprint               1273
               Service with Significant Environmental Footprint          148
               Wholesale/Retail                                          464

                                                                 industry  \
current_status sector
certified      Agriculture/Growers                                    182
               Manufacturing                                          899
               Service                                                 14
               Service with Minor Environmental Footprint            3676
               Service with Significant Environmental Footprint       560
               Wholesale/Retail                                      1266
de-certified   Agriculture/Growers                                     43
               Manufacturing                                          199
               Service                                                  8
               Service with Minor Environmental Footprint            1270
               Service with Significant Environmental Footprint       148
               Wholesale/Retail                                       464

                                                                 industry_category  \
current_status sector
certified      Agriculture/Growers                                             182
               Manufacturing                                                   902
               Service                                                          14
               Service with Minor Environmental Footprint                     3683
               Service with Significant Environmental Footprint                560
               Wholesale/Retail                                               1267
de-certified   Agriculture/Growers                                              43
               Manufacturing                                                   199
               Service                                                           8
               Service with Minor Environmental Footprint                     1271
               Service with Significant Environmental Footprint                148
               Wholesale/Retail                                                464

                                                                 products_and_services  \
current_status sector
certified      Agriculture/Growers                                                 178
               Manufacturing                                                       870
               Service                                                              14
               Service with Minor Environmental Footprint                         3615
               Service with Significant Environmental Footprint                    554
               Wholesale/Retail                                                   1220
de-certified   Agriculture/Growers                                                  43
               Manufacturing                                                       197
               Service                                                               8
               Service with Minor Environmental Footprint                         1251
               Service with Significant Environmental Footprint                    146
               Wholesale/Retail                                                    456

                                                                 country  \
current_status sector
certified      Agriculture/Growers                                   182
               Manufacturing                                         902
               Service                                                14
               Service with Minor Environmental Footprint           3734
               Service with Significant Environmental Footprint      565
               Wholesale/Retail                                     1267
de-certified   Agriculture/Growers                                    43
               Manufacturing                                         199
               Service                                                 8
               Service with Minor Environmental Footprint           1273
               Service with Significant Environmental Footprint      148
               Wholesale/Retail                                      464

                                                                 state  city  \
current_status sector
certified      Agriculture/Growers                                 182   182
               Manufacturing                                       900   901
               Service                                              14    14
               Service with Minor Environmental Footprint         3730  3734
               Service with Significant Environmental Footprint    565   565
               Wholesale/Retail                                   1266  1266
de-certified   Agriculture/Growers                                  42    43
               Manufacturing                                       197   199
               Service                                               8     8
               Service with Minor Environmental Footprint         1250  1264
               Service with Significant Environmental Footprint    145   146
               Wholesale/Retail                                    457   461

                                                                 size  \
current_status sector
certified      Agriculture/Growers                                182
               Manufacturing                                      902
               Service                                             14
               Service with Minor Environmental Footprint        3734
               Service with Significant Environmental Footprint   565
               Wholesale/Retail                                  1267
de-certified   Agriculture/Growers                                 43
               Manufacturing                                      198
               Service                                              8
               Service with Minor Environmental Footprint        1271
               Service with Significant Environmental Footprint   148
               Wholesale/Retail                                   464

                                                                 assessment_year  \
current_status sector
certified      Agriculture/Growers                                           182
               Manufacturing                                                 902
               Service                                                        14
               Service with Minor Environmental Footprint                   3734
               Service with Significant Environmental Footprint              565
               Wholesale/Retail                                             1267
de-certified   Agriculture/Growers                                            43
               Manufacturing                                                 199
               Service                                                         8
               Service with Minor Environmental Footprint                   1273
               Service with Significant Environmental Footprint              148
               Wholesale/Retail                                              464

                                                                 impact_area_community  \
current_status sector
certified      Agriculture/Growers                                                 182
               Manufacturing                                                       902
               Service                                                              14
               Service with Minor Environmental Footprint                         3734
               Service with Significant Environmental Footprint                    565
               Wholesale/Retail                                                   1267
de-certified   Agriculture/Growers                                                  43
               Manufacturing                                                       199
               Service                                                               8
               Service with Minor Environmental Footprint                         1273
               Service with Significant Environmental Footprint                    148
               Wholesale/Retail                                                    464

                                                                 impact_area_customers  \
current_status sector
certified      Agriculture/Growers                                                 160
               Manufacturing                                                       797
               Service                                                              14
               Service with Minor Environmental Footprint                         3678
               Service with Significant Environmental Footprint                    517
               Wholesale/Retail                                                   1176
de-certified   Agriculture/Growers                                                  41
               Manufacturing                                                       191
               Service                                                               8
               Service with Minor Environmental Footprint                         1266
               Service with Significant Environmental Footprint                    144
               Wholesale/Retail                                                    459

                                                                 impact_area_environment  \
current_status sector
certified      Agriculture/Growers                                                   182
               Manufacturing                                                         902
               Service                                                                14
               Service with Minor Environmental Footprint                           3734
               Service with Significant Environmental Footprint                      565
               Wholesale/Retail                                                     1267
de-certified   Agriculture/Growers                                                    43
               Manufacturing                                                         199
               Service                                                                 8
               Service with Minor Environmental Footprint                           1273
               Service with Significant Environmental Footprint                      148
               Wholesale/Retail                                                      464

                                                                 impact_area_governance  \
current_status sector
certified      Agriculture/Growers                                                  182
               Manufacturing                                                        902
               Service                                                               14
               Service with Minor Environmental Footprint                          3734
               Service with Significant Environmental Footprint                     565
               Wholesale/Retail                                                    1267
de-certified   Agriculture/Growers                                                   43
               Manufacturing                                                        199
               Service                                                                8
               Service with Minor Environmental Footprint                          1273
               Service with Significant Environmental Footprint                     148
               Wholesale/Retail                                                     464

                                                                 impact_area_workers  \
current_status sector
certified      Agriculture/Growers                                               179
               Manufacturing                                                     875
               Service                                                            13
               Service with Minor Environmental Footprint                       3290
               Service with Significant Environmental Footprint                  549
               Wholesale/Retail                                                 1121
de-certified   Agriculture/Growers                                                40
               Manufacturing                                                     180
               Service                                                             8
               Service with Minor Environmental Footprint                       1118
               Service with Significant Environmental Footprint                  136
               Wholesale/Retail                                                  406

                                                                 overall_score_100
current_status sector
certified      Agriculture/Growers                                             182
               Manufacturing                                                   902
               Service                                                          14
               Service with Minor Environmental Footprint                     3734
               Service with Significant Environmental Footprint                565
               Wholesale/Retail                                               1267
de-certified   Agriculture/Growers                                              43
               Manufacturing                                                   199
               Service                                                           8
               Service with Minor Environmental Footprint                     1273
               Service with Significant Environmental Footprint                148
               Wholesale/Retail                                                464

For a comprehensive list of methods that an be used with `groupby()`, see https://pandas.pydata.org/docs/reference/groupby.html

## Sort values

The `sort_values()` method sorts the dataset based on the values of specified columns.

In [ ]:
impact.sort_values(by = ["current_status", "sector", "overall_score_100"])

,company_id,company_name,date_first_certified,date_certified,current_status,description,industry,industry_category,products_and_services,country,...,city,sector,size,assessment_year,impact_area_community,impact_area_customers,impact_area_environment,impact_area_governance,impact_area_workers,overall_score_100
2505,001C000001fiNFuIAM,Pure Ground Ingredients,2019-05-17,2019-05-17,certified,Pure Ground Ingredients is the premier supplie...,Agricultural Services,Agriculture,"Organic Herbs, Spices, Botanicals and Chilis.",United States,...,Minden,Agriculture/Growers,50-249,2018,27.3,NaN,26.2,7.9,16.7,42.476915
502,001C000001Fh2ehIAB,Sokol Blosser Winery,2015-04-16,2015-04-16,certified,Producer of high quality wines with distributi...,Food & Beverage,Consumer Products & Services,Winery,United States,...,Dayton,Agriculture/Growers,10-49,2014,24.9,0.0,23.0,8.3,23.9,43.454644
3366,0013b00001p4C9WAAU,Villa Andina SAC,2021-03-29,2021-03-29,certified,We founded Villa Andina in 2007 with the goal ...,Agricultural Services,Agriculture,"Superfoods, granos andinos y derivados de cacao",Peru,...,Cajamarca,Agriculture/Growers,250-999,2019,19.8,2.8,24.1,13.2,19.8,43.454644
441,0013b00001nEY0JAAW,Tamoa,2021-07-21,2021-07-21,certified,TAMOA es un proyecto dedicado al abasto respon...,Agricultural Services,Agriculture,Abasto responsable de alimentos regionales mex...,Mexico,...,Mexico,Agriculture/Growers,1-9,2020,32.6,1.6,19.1,12.3,14.4,43.563281
2344,001C000001GrVOlIAN,Fetzer Vineyards,2015-05-22,2015-05-22,certified,Fetzer Vineyards is the United States’ largest...,Food & Beverage,Consumer Products & Services,Wine,United States,...,Hopland,Agriculture/Growers,250-999,2015,18.3,0.0,35.6,7.7,18.4,43.563281
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7847,001C000000r5b31IAA,Give Something Back Workplace Solutions,2007-05-22,2012-12-21,de-certified,Give Something Back certainly wasn't fooling a...,Office Products & Printing,Business Products & Services,"Office Products, Furniture, Printing Services,...",United States,...,Oakland,Wholesale/Retail,50-249,2012,90.7,2.0,24.6,14.4,24.6,85.008148
8691,001C000000yiothIAA,Hives for Lives,2009-12-21,2009-12-21,de-certified,"Hives for Lives, a honey company, was started ...",Food & Beverage,Consumer Products & Services,Honey,United States,...,Devon,Wholesale/Retail,10-49,2009,59.8,75.2,6.6,18.6,NaN,87.017925
7423,001C0000012Gug4IAC,One Earth Designs,2012-12-14,2016-02-16,de-certified,"One Earth Designs makes SolSource, a solar pow...",Machinery & Equipment,Business Products & Services,Resources/support for sustainable growth,United States,...,Boston,Wholesale/Retail,0,2016,49.6,51.6,45.2,16.7,0.0,88.593156
7424,001C0000012Gug4IAC,One Earth Designs,2012-12-14,2012-12-14,de-certified,"One Earth Designs makes SolSource, a solar pow...",Machinery & Equipment,Business Products & Services,Resources/support for sustainable growth,United States,...,Boston,Wholesale/Retail,1-9,2012,22.6,74.8,31.0,9.4,26.8,89.462249
7530,001C000001E9E2VIAV,Conscious Company Media,2015-10-08,2015-10-08,de-certified,Conscious Company Media is a community dedicat...,Print Publications,Media,CCM is a print and digital magazine about sust...,United States,...,Boulder,Wholesale/Retail,0,2015,94.9,30.0,30.5,11.2,0.0,90.439978

##Exercises - Sort values

Sort the above dataframe 'impact' by it's (custom) index.

In [ ]:
# Your answer here

Sort the above dataframe 'impact' by the columns 'industry' and 'industry_category'.

In [ ]:
# Your answer here

## Merge datasets

Read the **Best for the World Lists** dataset to merge with our existing impact dataset.

In [ ]:
best = pd.read_csv("Best for the World Lists.csv", encoding = "latin_1", 
                   usecols = ["company", "year", "country", "award_category"])

best.head()

                            company  year award_category        country
0              Crosby Hop Farm, LLC  2019    Changemaker  United States
1         Paul de Ruiter Architects  2019    Changemaker    Netherlands
2               Cultivating Capital  2019    Changemaker  United States
3  Seed Consulting Services Pty Ltd  2019    Changemaker      Australia
4      Business Culture Consultants  2019    Changemaker  United States

Use the `merge()` function to merge 2 datasets. `left_on` and `right_on` specify the common columns to merge on.

In [ ]:
merged = pd.merge(impact, best, left_on = "company_name", right_on = "company")

In [ ]:
merged

,company_id,company_name,date_first_certified,date_certified,current_status,description,industry,industry_category,products_and_services,country_x,...,impact_area_community,impact_area_customers,impact_area_environment,impact_area_governance,impact_area_workers,overall_score_100,company,year,award_category,country_y
0,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2021-02-26,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,27.1,14.2,11.9,14.4,19.3,47.311244,Someone Somewhere,2018,Community,Mexico
1,001C000001LkZXSIA3,Someone Somewhere,2017-08-30,2017-08-30,certified,Someone Somewhere is a vertically integrated a...,"Apparel, Footwear & Accessories",Consumer Products & Services,Clothing and garments with artisanal textiles ...,Mexico,...,74.0,8.3,5.8,12.7,NaN,54.752852,Someone Somewhere,2018,Community,Mexico
2,001C000001bVjmIIAS,Boomera,2017-12-27,2017-12-27,certified,Boomera work with cutting-edge technology and ...,Recycling Services & Waste Management,Energy & Environmental Services,"recycling, upcycling",Brazil,...,15.1,0.0,52.4,7.9,20.7,52.199891,Boomera,2019,Environment,Brazil
3,001C000001bVjmIIAS,Boomera,2017-12-27,2017-12-27,certified,Boomera work with cutting-edge technology and ...,Recycling Services & Waste Management,Energy & Environmental Services,"recycling, upcycling",Brazil,...,15.1,0.0,52.4,7.9,20.7,52.199891,Boomera,2018,Environment,Brazil
4,001C000001afqFpIAI,Nodo Chile,2017-10-17,2017-10-17,certified,NodoChile provides advisory services in matter...,Management and Financial Consulting,Business Products & Services,Advisory Services,Chile,...,10.5,64.3,6.2,12.0,NaN,50.516024,Nodo Chile,2019,Customers,Chile
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10154,001C000001bTPidIAG,Hortifrut Chile,2018-10-04,2018-10-04,certified,Touching & enlightening the life of the people...,Agricultural Services,Agriculture,Blueberries organics and conventionals,Chile,...,19.4,0.0,52.5,14.5,22.3,59.152634,Hortifrut Chile,2019,Environment,Chile
10155,001C000000zk8zuIAA,Laureate Education,2015-12-11,2017-12-01,de-certified,"Laureate Education, Inc. is the largest global...",Education & Training Services,Education & Training Services,Higher Education Services,United States,...,24.0,23.7,10.0,21.0,25.3,56.599674,Laureate Education,2019,Customers; Governance,United States
10156,001C000000zk8zuIAA,Laureate Education,2015-12-11,2017-12-01,de-certified,"Laureate Education, Inc. is the largest global...",Education & Training Services,Education & Training Services,Higher Education Services,United States,...,24.0,23.7,10.0,21.0,25.3,56.599674,Laureate Education,2018,Governance,United States
10157,001C000000zk8zuIAA,Laureate Education,2015-12-11,2015-10-30,de-certified,"Laureate Education, Inc. is the largest global...",Education & Training Services,Education & Training Services,Higher Education Services,United States,...,23.0,18.8,8.3,19.7,25.9,52.036936,Laureate Education,2019,Customers; Governance,United States
10158,001C000000zk8zuIAA,Laureate Education,2015-12-11,2015-10-30,de-certified,"Laureate Education, Inc. is the largest global...",Education & Training Services,Education & Training Services,Higher Education Services,United States,...,23.0,18.8,8.3,19.7,25.9,52.036936,Laureate Education,2018,Governance,United States

Select a few columns to see the results more clearly

In [ ]:
merged = merged[["company_name", "state", "sector", "certification_cycle", "year", "award_category"]]
merged

KeyError: "['certification_cycle'] not in index"

By merging, we got information from both datasets. The `best_us` dataset has company name, year, and award category. The rest of the columns come from the `impact` dataset.

Sort by company name and year. We can see that some companies won awards multiple years.